<section>

    <h3 class="alert alert-info">This is a secure Internet commerce site.</h3>

    <h4>Site Security</h4>
    <p>
        We understand that security remains a primary concern of online consumers. The VeriSign Secure Site Program allows individuals to learn more about web sites they visit before submitting any
        confidential information. Click <a style="color: blue;" href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.FOUR51.COM&lang=en" target="_blank">here</a> to view our authenticity and site status.
    </p>

    <p>
        <a onmousedown="return v_mDown();" tabindex="-1" href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.FOUR51.COM&lang=en" target="VRSN_Splash">
            <img oncontextmenu="return false;" alt="Click to Verify - This site has chosen a VeriSign SSL Certificate to improve Web site security"
                 src="https://seal.verisign.com/getseal?at=0&&sealid=2&dn=WWW.FOUR51.COM&aff=VeriSignCACenter&lang=en" name="seal" border="true" />
        </a>
    <div style="display: none;"><img src="https://extended-validation-ssl.verisign.com/dot_clear.gif"></div>
    </p>

    <h4>Secure Transactions</h4>
    <p>
        When a bankcard is used over the Internet, consumers want assurance that their account information is safe. That’s why Visa instituted the Cardholder Information Security Program (CISP).
        Visa maintains CISP as the managing program for data security compliance endorsing the PCI Data Security Standard. The Payment Card Industry (PCI)
        <a style="color: blue;" href="https://www.pcisecuritystandards.org/security_standards/pci_dss.shtml" target="_blank">Data Security Standard</a> offers a single
        approach to safeguarding sensitive data for all card brands. Four51 is independently certified as a Level 2 Payment Card Industry (PCI) compliant service provider.
    </p>

    <h4>Privacy</h4>
    <p>
        To protect our customers from unwanted personal intrusion, we will not rent or sell your personal customer information to any mail listing agency or telemarketing company.
    </p>

    <div><button class="btn btn-default" type="button" redirect="checkout">Return to Order</button></div>

</section>