<section>

    <h3 class="alert alert-info">Este es un sitio de comercio electrónico seguro.</h3>

    <h4>Seguridad del sitio </h4>
    <p>
        Comprendamos que la seguridad es primordial para los clientes en línea.
        El Programa de sitios seguros de VeriSign permite que las personas obtengan más información acerca de lo sitios
        Web que visitan antes de enviar información confidencial. Haga clic <a style="color: blue;" href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.FOUR51.COM&lang=en" target="_blank">aquí</a>
        para ver nuestra autenticidad y el estado de sitio.
    </p>

    <p>
        <a onmousedown="return v_mDown();" tabindex="-1" href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.FOUR51.COM&lang=en" target="VRSN_Splash">
            <img oncontextmenu="return false;" alt="Click to Verify - This site has chosen a VeriSign SSL Certificate to improve Web site security"
                 src="https://seal.verisign.com/getseal?at=0&&sealid=2&dn=WWW.FOUR51.COM&aff=VeriSignCACenter&lang=en" name="seal" border="true" />
        </a>
    <div style="display: none;"><img src="https://extended-validation-ssl.verisign.com/dot_clear.gif"></div>
    </p>

    <h4>Transacciones seguras</h4>
    <p>
        When a bankcard is used over the Internet, consumers want assurance that their account information is safe. That’s why Visa instituted the Cardholder Information Security Program (CISP).
        Visa maintains CISP as the managing program for data security compliance endorsing the PCI Data Security Standard. The Payment Card Industry (PCI)
        <a style="color: blue;" href="https://es.pcisecuritystandards.org/minisite/en/about.php" target="_blank">estándar de seguridad de datos</a> offers a single
        approach to safeguarding sensitive data for all card brands. Four51 is independently certified as a Level 2 Payment Card Industry (PCI) compliant service provider.

        Cuando usan una tarjeta bancaria a través de Internet, los clientes quieren tener la garantía de que su información bancaria estará protegida. Por dicho motivo, Visa instauró el Programa
        de seguridad de la información de titulares de tarjetas (CISP). Visa mantiene CISP como el programa de administración para el cumplimiento de la seguridad de los datos que se adhiere al
        estándar de seguridad de datos de PCI. El <a style="color: blue;" href="https://es.pcisecuritystandards.org/minisite/en/about.php" target="_blank">estándar de seguridad de datos</a> de
        la Industria de tarjetas de pago (PCI) ofrece un método unificado de protección de datos confidenciales para todas
        las marcas de tarjetas. Four51 cuenta con una certificación independiente como proveedor de servicios que cumple los estándares de PCI de nivel 2.
    </p>

    <h4>Privacidad </h4>
    <p>
        A fin de proteger a nuestros clientes contra intrusiones en la privacidad personal no deseadas, no alquilamos ni vendemos información personal de los clientes a ninguna agencia de listas de distribución de correo ni a ninguna empresa de telemarketing.
    </p>

    <div><button class="btn btn-default" type="button" redirect="checkout">{{('Return to ') + ('Order' | r) | xlat}}</button></div>

</section>