<section>

    <h3 class="alert alert-info">Este es un sitio de comercio electrónico seguro.</h3>

    <h4>Seguridad del sitio </h4>
    <p>
        Comprendamos que la seguridad es primordial para los clientes en línea.
        Descanso seguro ese esta sitios SSL certificado deja t&uacute; saber ese todas de tu datos es cifrada y ese el sitio es confiable y certificado de un a nivel mundial de confianza
        certificado autoridad.
    </p>

    <h4>Transacciones seguras</h4>
    <p>
        Cuando usan una tarjeta bancaria a través de Internet, los clientes quieren tener la garantía de que su información bancaria estará protegida. Por dicho motivo, Visa instauró el Programa
        de seguridad de la información de titulares de tarjetas (CISP). Visa mantiene CISP como el programa de administración para el cumplimiento de la seguridad de los datos que se adhiere al
        estándar de seguridad de datos de PCI. El <a href="https://es.pcisecuritystandards.org/minisite/en/about.php" target="_blank">estándar de seguridad de datos</a> de
        la Industria de tarjetas de pago (PCI) ofrece un método unificado de protección de datos confidenciales para todas
        las marcas de tarjetas. Four51 cuenta con una certificación independiente como proveedor de servicios que cumple los estándares de PCI de nivel 2.
    </p>

    <h4>Privacidad </h4>
    <p>
        A fin de proteger a nuestros clientes contra intrusiones en la privacidad personal no deseadas, no alquilamos ni vendemos información personal de los clientes a ninguna agencia de
        listas de distribución de correo ni a ninguna empresa de telemarketing.
    </p>

    <div><button class="btn btn-default" type="button" redirect="checkout">{{('Return to ') + ('Order' | r) | xlat}}</button></div>

</section>