<div class="row">
    <div class="col-sm-12 view-form-icon">
        <div class="input-group">
            <label>{{'Name' | r}}</label>
            <input required class="form-control" type="text" ng-model="report.Name" placeholder="{{'Name' | r}}" />
            <i class="fa fa-bookmark-o"></i>
            <div class="input-group-btn">
                <button type="submit" ng-disabled="reportForm.$invalid" class="btn btn-primary pull-right">
                    <span>{{'Save' | r}}</span>
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 view-form-icon">
        <h3>{{'Conditions' | r}}</h3>
        <div>
            <label>{{'Category' | r}}</label>
            <select class="form-control" ng-options="c as c for c in report.CategoryOptions" ng-model="report.SelectedCategory"><option value=""></option></select>
            <i class="fa fa-folder-open"></i>
        </div>
        <div>
            <label>{{'Include Inactive' | r}} {{'Products' | r}}</label>
            <input class="form-control" type="checkbox" ng-model="report.IncludeInactiveProducts" placeholder="Include" />
            <i class="fa fa-check"></i>
        </div>
    </div>
</div>
