<div class="order-history-footer-view well">
    <h4>Order Summary</h4>
    <div style="padding:10px; text-align:left;">
        <p>Subtotal:<span style="float: right;">{{order.Subtotal | currency:"$"}}</span></p>
        <p>Shipping & Handling: <span style="float: right;">{{order.ShippingCost | currency:"$"}}</span></p>
        <p>Tax: <span style="float: right;">{{order.TaxCost | currency:"$"}}</span></p>
    </div>
    <div style="padding:10px; border-top:1px solid #d6d6d6;">
        <h5>Total: <span style="float: right;">{{order.Total | currency:"$"}}</span></h5>
    </div>
</div>
<div>
    <approvalrulelist order="order" />
</div>
<div>
    <approval order="order" ng-show="order.Status == 'AwaitingApproval' && (order.UserCanApprove || user.Permissions.contains('ApproveAllOrders'))" />
</div>