<orderhistoryheader order="order"></orderhistoryheader>
<lineitemhistorygrid order="order"></lineitemhistorygrid>
<hr />
<orderhistoryfooter order="order"></orderhistoryfooter>

<div ng-if="order.FromUserID == user.ID">
    <input type="button" class="btn btn-small btn-info" value="Repeat Order" ng-click="repeatOrder()" />
</div>
<br />
<div>
    <div ng-if="order.FromUserID == user.ID">
        <input type="text" ng-model="order.FavoriteName" placeholder="Favorite Name" />
        <input ng-click="saveFavorite()" type="button" class="btn btn-small btn-primary" value="Save as Favorite" />
    </div>
</div>