<section class="container order-history-view">
    <loadingindicator ng-show="loadingIndicator" title="Please wait while we fetch your order"></loadingindicator>
    <div class="order-history-view-detail hidden-print">
        <nav class="nav nav-cat-search">
            <hr />
            <ul>
                <li class="nav-header text-nav">{{order.Type}} Order<span ng-show="order.ExternalID"> ID: </span>{{order.ExternalID}}</li>
                <li class="nav-header print pull-right" ng-click="onPrint()"><i class="fa fa-print" rel="tooltip" title="Print"></i></li>
            </ul>
            <hr />
        </nav>
        <div class="col-md-3 col-md-offset-1 col-md-push-8">
            <div class="row">
                <div class="panel panel-primary order-history-view-header col-collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Order Details
                        </h3>
                    </div>
                    <div class="panel-body text-left">
                        <orderhistorydetails></orderhistorydetails>
                        <orderhistorysummary ng-if="!(user.Permissions.contains('HidePricing'))"></orderhistorysummary>
                    </div>
                    <div class="panel-footer" ng-if="order.FromUserID == user.ID">
                        <div class="order-history-view-repeat">
                            <button ng-disabled="currentOrder" class="btn btn-primary pull-right" ng-click="repeatOrder()">Repeat Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-collapse col-md-8 col-md-pull-4 order-history-view-grid">
            <div class="panel panel-default order-history-view-line-items">
                <div class="panel-heading">
                    <h3 class="panel-title panel-primary">
                        {{order.LineItems.length}} item{{currentOrder.LineItems.length > 1 ? 's' : ''}} in this order
                    </h3>
                </div>
                <div class="panel-body">
                    <lineitemhistorygrid></lineitemhistorygrid>
                </div>
                <div class="panel-footer" ng-if="order.FromUserID == user.ID">
                    <loadingindicator ng-show="displayLoadingIndicator" />
                   <div class="form-group view-form-icon">
                        <div class="input-group">
                            <input type="text" ng-model="order.FavoriteName" placeholder="Favorite Name" class="form-control"/>
                            <i class="fa fa-star"></i>
                            <span class="input-group-btn">
                                <button type="button" ng-click="saveFavorite()" class="btn btn-info">Save as Favorite</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="order.Approvals" class="panel panel-default approval-rule-status-summary">
                <div class="panel-heading">
                    <h3 class="panel-title panel-primary">Approvals</h3>
                </div>
                <div class="panel-body">
                    <approval ng-show="order.Status == 'AwaitingApproval' && (order.UserCanApprove || user.Permissions.contains('ApproveAllOrders'))" order="order"/>
                    <approvalrulelist order="order" />
                </div>
            </div>
        </div>
        <div class="view-footer navbar-fixed-bottom">
            <loadingindicator ng-show="displayLoadingIndicator" />
            <div class="view-action-message alert-success" ng-show="saveFavorite">Your order has been saved as a Favorite.</div>
        </div>
    </div>
    <orderprint class="visible-print" />
</section>