<section class="report-view">
    <loadingindicator ng-show="displayLoadingIndicator" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 ng-if="!report.ID" class="panel-title panel-primary">{{report.ReportType | r}}</h3>
            <h3 ng-if="report.ID" class="panel-title panel-primary">{{report.Name}}</h3>
        </div>
        <div class="panel-body view-form-icon">
            <div ng-if="report && !report.ID">
                <label>{{'Name' | r}}</label>
                <input required class="form-control" type="text" ng-model="report.Name" placeholder="{{'Name' | r}}" />
                <i class="fa fa-bookmark-o"></i>
            </div>
        </div>
        <div class="panel-table">
            <tabset ng-show="report" >
                <tab>
                    <tab-heading>{{'Conditions' | r}}
                        <i class="fa fa-briefcase"></i>
                    </tab-heading>
                    <lineitemreport />
                    <button type="button" class="btn btn-primary pull-right" ng-click="saveReport()">{{'Save' | r}}</button>
                </tab>
                <tab>
                    <tab-heading ng-click="downloadReport(report)">
                        {{'Report' | r}} {{'Data' | r}}
                        <i class="fa fa-cogs"></i>
                    </tab-heading>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td ng-repeat="header in report.DataColumns">{{header | r}}</td>
                            </tr>
                            <tr ng-repeat="row in report.Data">
                                <td ng-repeat="header in report.DataColumns">
                                    {{row[header]}}
                                </td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-primary pull-right" ng-click="getDownload()">{{'Download' | r}}</button>
                    </div>
                </tab>
            </tabset>
            <div class="view-response-message text-center" ng-show="actionMessage">
                <p>{{actionMessage | r}}</p>
            </div>
        </div>
    </div>
</section>