<section class="report-view">
    <div class="panel panel-default">
        <lineitemreport />
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td ng-repeat="header in report.DataColumns">{{header | r}}</td>
            </tr>
            <tr ng-repeat="row in report.Data">
                <td ng-repeat="header in report.DataColumns">
                    {{row[header]}}
                </td>
            </tr>
        </table>
    </div>
</section>