/*

Theme: Four51 Single Page App Default
Author: Ken Buras (http://www.kenburas.com/)
Version: 1.0

** If there is question on something the answer is most likely found in readMe.txt

/* ----------------------------------------------------------------------------------------------- */



html {
    height: 100%;
}

body {
    font-family: 'Droid Sans', sans-serif;
    font-smooth:always;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-stroke: 1px transparent;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    line-height: 2em;
}

img {
    display: block;
}

select, input, .uneditable-input {
    max-width: 100%;
}

/* iOS placeholder needs help to disappear on focus */
:focus::-webkit-input-placeholder{color:transparent;}

a:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

input.ng-invalid, input.ng-invalid:invalid {
    background: red;
    /* style the required !required angular form inputs */
}

input:not([type=submit]), textarea, select {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}


input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

label {
    margin-left: 10px;
}

textarea {
    resize:vertical;
    width: 100%;
    line-height: 150%;
}

.showSideNav {
    display: none;
}

.search-view-search {
    border-radius: 7px 0 0 7px;
    border-right: 0 none;
    float: left;
    background-color: transparent;
    box-shadow: none;
    padding: 2px 2% 0;
    width: 66%;
    height: 57px;
}

.search-view-cancel {
    width: 34%;
    float: right;
    text-align: right;
    padding: 5px 10px 0 0;
    border: solid 1px #d6d6d6;
    border-left: 0 none;
    border-radius: 0 7px 7px 0;
    color: #BFBFBF;
    text-transform: uppercase;
    font-size: 14px;
    height: 57px;
}

.search-view .fa-times-circle {
    color:#bfbfbf;
    display: inline-block;
    padding: 15px;
}

.search-view-cancel .icon {
    margin-left: 5px;
    display: inline-block;
}

.search-view-cancel a {
    float: right;
}

.search-view-cancel-name  {
    display: inline;
    float: right;
    padding: 15px 0;
}

.view-default-product p {
    margin: 10px;
}

.shortproduct-view {
    min-height: 250px;
}

.cat-image {
    min-height: 200px;
}

.cat-image img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 200px;
}

.fa.empty {
    width: 100%;
    height: 200px;
    text-align: center;
}

.fa.empty i {
    font-size: 25px;
    display: block;
    opacity: .25;
    padding-top: 75px;
}

li.productList {width: 100%;}
li.search .hidden-xs {float: left;}
.search i {border: 1px solid transparent;}
.search i.selected {border: 1px solid #fff;}
.shortproduct-view:hover .shortproduct-name, .shortproduct-view .shortproduct-toggle, .shortproduct-view.howdy:hover .shortproduct-toggle {
    display: none;
}


.shortproduct-view:hover .shortproduct-toggle, .shortproduct-view.howdy:hover .shortproduct-name {
    display: block;
}

.shortproduct-toggle:hover {
    color:red;
}

.shortproduct-arrow {
    position: absolute;
    top: -25px;
    left: 45%;
    color:#f5f5f5;
    font-size: 36px;
    z-index: 1;
}

.shortproduct-close{
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    padding: 15px;
}

.shortproduct-info {
    display: block;
    background-color:#f5f5f5;
    border: 1px solid #E6E6E6;
    border-top: none;
    min-height: 250px;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 10px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.shortproduct-view .caption { cursor: pointer;}

.shortproduct-info a.btn {
    position: absolute;
    bottom: 15px;
    left: 50px;
    right: 50px;
}

.order-cloud {
    width:100%;
    height:100%;
    position:fixed;
    left:0;top:0;
    overflow:hidden;
    background: url(images/orderCloud.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-signin {
    max-width: 26em;
    padding: 1.357em 2.071em 2.071em;
    margin: 10% auto 5em;
    background: rgba(22, 145, 190, .15);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}


.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 0.714em;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 1.143em;
    height: auto;
    width: 100%;
    margin-bottom: 1.071em;
    padding: 0.500em 0.643em;
}

.form-signin .btn-primary  {
    letter-spacing: .04em;
    padding: 15px;
    border-radius: 3px 3px 3px 3px;
    text-shadow: 0 -1px 0 #666;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;

}

@-webkit-keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

.form-signin .btn-primary:hover {
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

.form-signin .btn-primary:active    {
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 1px 0 #666, 0 1px 0 #444, 0 1px 1px rgba(0,0,0,0.9);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-animation: none;
    animation: none;
    outline: none;
}

.form-signin .btn-primary:focus {
    outline: none;
}

.fa-shopping-cart {
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 25px;
    padding: 13px;
}

div.catDropdown ul li ul {
    display: block;
}

div.catDropdown.open ul li ul {
    display: none;
}

.cat-body.col-sm-9 {
    opacity: .5;
    overflow: hidden;
}

.product-navigation li.nav-header a {
    padding: .75em;

}
.product-navigation {
    margin-bottom: 40px;
}

.product-navigation ul li {
    background-color: rgb(249, 249, 249);
    background-color: rgba(249, 249, 249, 1);
    background-color:#fff;
}

.product-navigation li.nav-header {
    float: left;
    font-size: .9em;
    text-align: center;
    padding: 0;
    text-transform: capitalize;
    text-shadow: none;
    font-weight: normal;
    -webkit-transition: color .5s, background .5s, height .5s;
    -moz-transition: color .5s, background .5s, height .5s;
    -o-transition: color .5s, background .5s, height .5s;
    -ms-transition: color .5s, background .5s, height .5s;
    transition: color .5s, background .5s, height .5s;
}


.details-nav li {
    width: 100%;
}

li.details-show {
    display: block;
    float: none;
    font-size: 1.571em;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
    width: 45px;
}
.product-navigation .details-show {
    margin-bottom: 1px;
    height: 45px;
    width: 100%;
}

.product-navigation li.nav-header ul li {
    text-align: left;
}

.product-navigation li.nav-header ul li > a {
    text-transform: capitalize;
    padding: 0.214em 0;
    line-height: normal;
}

.product-navigation .nav li + .nav-header {
    margin-top: 0;
}

.product-navigation nav.nav {
    float: none;
    margin: 0;
}

.product-navigation {
    padding: 0;
}

.product-navigation .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-weight: 300;
}

.product-navigation .nav li.nav-header a {
    display: block;
    color:#777;
    text-align: center;
    text-decoration: none;
}

.product-navigation .nav li.nav-header a img {
    margin: 0 auto;
}

.product-navigation .nav ul ul > li {
    padding: 0;
    font-size: 1.05em;
}

.product-navigation  li.nav-header {
    border: none;
    margin: 0;
    border-radius: 0;
}

.nav-cat-search ul  {
    list-style-type: none;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav-cat-search ul li {
    display: inline;
    float: left;

}

.nav-cat-search ul li.search {
    float: right;
    cursor: pointer;
    padding: 0;
}

.nav-cat-search i {
    font-size: 18px;
    padding: 10px 15px;
}

li.current-cat-name {
    padding: 10px 0;
}

li.search span {
    display: inline-block;
    float: left;
}

.admin-navigation .nav li > ul li {
    font-size: 14px;
    text-align: left;
}

.container.container-content  {
    padding: 0;
}

.ui-show {
    opacity: 1;
    transition: all 0.5s ease;
}
.ui-hide {
    opacity: 0;
    transition: all 0.5s ease;
}

/* ----------------------------------------------------------------------------------------------- */
/* ng-view animation */
/* ----------------------------------------------------------------------------------------------- */

@-webkit-keyframes view-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes view-enter {
    0% {
        opacity: 0;
        -moz-transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes view-enter {
    0% {
        opacity: 0;
        -o-transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes view-enter {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ng-enter {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: view-enter;
    -moz-animation-name: view-enter;
    -o-animation-name: view-enter;
    animation-name: view-enter;

}

.ng-enter-active {
    opacity:1;
}


.ng-leave {
    opacity: 0;
}

.ng-leave-active{
    opacity:0;
}

/* ----------------------------------------------------------------------------------------------- */
/* Cart | Checkout */
/* ----------------------------------------------------------------------------------------------- */

li.print {
    cursor: pointer;
}

.quantity input {
    background-color:#F5F5F5;
    border: 1px solid #BFBFBF;
    width: 30px;
    padding: 5px 0 2px 1px;
    text-align: center;
    margin: 0 5px;
}

.cart-view-line-items, .check-out-view-types {
    padding: 0;
}

.cart-view-line-items-product {
    margin-bottom: 10px;
}

.cart-view-line-items .panel-body, .product-view-default .panel{
    padding: 0;
}

.cart-view-line-items-repeater {
    border-top: 1px solid #d6d6d6;
    clear: both;
    overflow: hidden;
    padding: 25px 0;
}

.cart-view-summary .panel-footer, .product-view-default .panel-footer {
    background-color:transparent;
}

.cart-view-summary {
    padding: 0;
    text-align: center;
}

.cart-view .fa-times-circle {
    color:#bfbfbf;
    display: block;
    padding: 0 15px 25px;
    cursor: pointer;
}

.cart-view .row input[type="text"] {
    display: inline;
    float: left;
    width: 60%;
    font-size: 11px;
}

.cart-view-btn-copy {
    float: right;
}

li.cart a.cart {
    padding: 3px 20px;
}

li.cart span.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999999999;
    background-color:#3D3D3D;
    padding: 4px 7px;
}

.badge {
    background-color:#3D3D3D;
    padding: 4px 7px;
}

.cart-view-variable {
    padding: 0;
}

.order-types ul {
    list-style-type: none;
}

.check-out-view-types.panel {
    margin-bottom: 0;
}

.check-out-view-types .panel-heading {
    border-bottom: 1px solid #4d4d4d;
}

.check-out-view-types .panel-title {
    cursor: pointer;
}

.check-out-view-order ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

.check-out-view .ng-leave {
    display: none;
}

.branding-view-logo {
    max-height:130px;
    float: left;
    display: block;
    margin-right: 25px;
}

.product-view-default img {
    margin: 15px auto;
}

.product-view-default-toggle-panel .panel-title.panel-selected {
    background: rgba(255, 255, 255, 0);
}

.product-view-default-toggle-panel .panel-heading {
    border-bottom: none;
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 0;
}


.product-view-default-toggle-panel .panel-switch {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    padding: 20px 25px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
}

.product-view-default-related-products .panel-heading {
    padding: 10px 15px;
}

.product-view-default-related-products ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product-view-default-related-products li {
    padding: 15px;
}

.product-view-default-toggle-panel .icon {
    position: absolute;
    bottom: -13px; left: 48%;
}
.product-view-default-toggle-panel .icon i {
    font-size: 22px;
}


/* ----------------------------------------------------------------------------------------------- */
/* Hello bootstrap, how do you do? */
/* ----------------------------------------------------------------------------------------------- */

.navbar {
    margin-bottom: 0;
    border: none;
}

.navbar-collapse {
    max-height: inherit;
    padding: 0;
}

.navbar-nav > li {
    display: inline;
    float: left;
}
.navbar-collapse li a.visible-sm.visible-xs {
    display: inline-block !important;
}

.nav.navbar-right {
    float: right;
}

.nav.navbar-left {
    float: left;
}

.navbar-nav {
    margin: 0;
}

.jumbotron {
    padding-bottom: 24px;
    padding-top: 24px;
}

.navbar-nav > li > a {
    padding: 15px 20px;
}

.navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 10px 15px;
    vertical-align: middle;
}

.table {
    margin-bottom: 0;
}

.table-responsive {
    margin-bottom: 0;
}

.cart .well {
    padding: 0 !important;
}

.navbar-inner {
    padding: 0;
    border: none;
}


.form-control:focus {
    box-shadow: none;
}


.well {
    border: none;
    border-radius: 0;
}

.panel {
    box-shadow: none;
    border-radius: 0;
}

.panel-primary {
    border: none;
}

.panel-heading {
    border-radius: 0;
}

.panel-title {
    font-size: 1em;
    letter-spacing: 0.18em;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.panel-footer {
    padding: 30px 15px;
    clear: both;
    overflow: hidden;
    border-radius: 0;
}

/*-------------ROB STUFF--------------*/

.order-history-footer-view h4, .order-history-header-view h4{letter-spacing: 0.18em;text-transform: uppercase;font-size: 1em;background-color:#3D3D3D; color:#fff; padding: 10px; margin: 0;text-align: center;}
.order-history-footer-view, .order-history-header-view {padding: 0;}
.order-history-footer-view h5 {letter-spacing: 0.18em; text-transform: uppercase;font-size: 1em; text-align: left; padding:10px; margin: 0;}