/*

 Theme: 	Four51 Single Page App Default
 Author:	Ken Buras (http://www.kenburas.com/)
 Version:	1.0

**  If there is question on something the answer is most likely found in readMe.txt

 Layout Styles Outline:
 0. Structure
 1. Branding
 2. Admin Navigation
 3. Content Navigation
 4. Product Navigation
 5. Main Content
 6. Footer
 7. Footer Navigation
 8. Forms
 9. Unique


/* ----------------------------------------------------------------------------------------------- */
/*** 0. STRUCTURE ***/
/* ----------------------------------------------------------------------------------------------- */

body {
    background-color:#F9F9F9;
}

hr {
    border: none;
    clear: both;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;

        padding-right: 5px;
    }
}
.user-name {
    font-size: 12px !important;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 5px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

a:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    min-height: 200px;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;

}

.ngRow {
    clear: both;
    overflow: hidden;
}

/* ----------------------------------------------------------------------------------------------- */
/*** 2. BRANDING ***/
/* ----------------------------------------------------------------------------------------------- */

.admin-navigation a.brand {
    font-size: 11px;
    color: rgb(22, 145, 190);
}

.admin-navigation a.brand:hover {

    color: rgb(44, 168, 219);
}

/* ----------------------------------------------------------------------------------------------- */
/*** 3. ADMIN NAVIGATION ***/
/* ----------------------------------------------------------------------------------------------- */

.header div.navbar-inner {
    background-image: none;
    background-color:#fff;
}
.header .navbar-inner {
    padding: 0;
    border: none;
}

.admin-navigation {
    background-color:#fff;
    border-bottom: 1px solid #d6d6d6;
}

.admin-navigation .user-links ul {
    float: right;
}

.admin-navigation ul.nav-search {
    float: right;
}

.user-links {
    float: left;
}

.admin-navigation li a span, .admin-navigation li a i {
    color:rgb(22, 145, 190);
}

.admin-navigation li a:hover span, .admin-navigation li a:hover i {
    color:rgb(44, 168, 219);
}

.admin-navigation .dropdown-menu > li.logout > a i {
    color: rgb(226, 84, 61);
}

.admin-navigation .dropdown-menu > li.logout > a:hover i {
    color: rgb(242, 94, 70);
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color:#fff;
}

.user-links span {
    margin: 0 8px;
}

.user-links .caret  {
    margin: 0 0 0 8px;
}

.admin-navigation .nav > li > a {padding: 15px;}

.admin-navigation .nav > li  {min-height: 50px;}
/* ----------------------------------------------------------------------------------------------- */
/*** 4. CONTENT NAVIGATION ***/
/* ----------------------------------------------------------------------------------------------- */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.content-navigation nav.nav {
    float: none;
    margin: 0;
}


.content-navigation .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-weight: 300;

}

.content-navigation .nav ul li {
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.content-navigation .nav li span {
    display: block;
}

.content-navigation .nav a {
    display: block;
    color: rgba(249, 249, 249, .9);
    text-decoration: none;
    -webkit-transition: color .5s, background .5s, height .5s;
    -moz-transition: color .5s, background .5s, height .5s;
    -o-transition: color .5s, background .5s, height .5s;
    -ms-transition: color .5s, background .5s, height .5s;
    transition: color .5s, background .5s, height .5s;
}

.content-navigation .nav i {
    /* Make the font smoother for Chrome */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.content-navigation .nav a, .nav li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */
.content-navigation a, .category-navigation button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */
.content-navigation .nav ul:hover a {
    color: rgba(249, 249, 249, .35);
}

.content-navigation .nav ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */
.content-navigation .nav li:nth-child(8n+1) {
    background: rgb(208, 101, 3);
}

.content-navigation .nav li:nth-child(8n+2) {
    background: rgb(233, 147, 26);
}

.content-navigation .nav li:nth-child(8n+5) {
    background: rgb(22, 145, 190);
}

.content-navigation .nav li:nth-child(8n+6) {
    background: rgb(22, 107, 162);
}

.content-navigation .nav li:nth-child(8n+4) {
    background: rgb(39, 174, 96)
}

.content-navigation .nav li:nth-child(8n+7) {
    background: rgb(226, 84, 61);
}

.content-navigation .nav li:nth-child(8n+3) {
    background: rgb(22, 160, 133);
}
.content-navigation .nav li:nth-child(8n+8) {
    background: rgb(192, 57, 43);
}



/* ----------------------------------------------------------------------------------------------- */
/*** 5. PRODUCT NAVIGATION ***/
/* ----------------------------------------------------------------------------------------------- */

.product-navigation li.nav-header {
    float: left;
    font-size: 11px;
    border: 1px solid #f9f9f9;
    background-color:#d8eff5;
    text-align: center;
    min-height: 70px;
    line-height: normal;
}


.product-navigation li.nav-header:last-child {
  display: none;
}

.product-navigation li.details-show i {
    display: block;
    padding: 13px;
    cursor: pointer;


}

.product-navigation li.nav-header {
    padding: 10px;
}

.product-navigation li.nav-header a {
    padding: 10px;
    display: block;

}

.product-navigation li.nav-header ul li {
    text-align: left;
}

.product-navigation li.nav-header ul li > a {
    text-transform: capitalize;
    padding: 3px 0;
    line-height: normal;
}

.product-navigation .nav li + .nav-header {
    margin-top: 0;
}

.product-nav-details.hidden {

}

.product-navigation nav.nav {
    float: none;
    margin: 0;
}

.product-navigation {
    padding: 0;

}

.product-navigation .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-weight: 300;
}

.product-navigation .nav li span {
    display: block;
}

.product-navigation .nav a {
    display: block;
    color:#3A3A3A;
    text-decoration: none;
    -webkit-transition: color .2s, background .5s, height .5s;
    -moz-transition: color .2s, background .5s, height .5s;
    -o-transition: color .2s, background .5s, height .5s;
    -ms-transition: color .2s, background .5s, height .5s;
    transition: color .2s, background .5s, height .5s;
}

.product-navigation .nav i {
    /* Make the font smoother for Chrome */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.product-navigation .nav a, .nav li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */
.product-navigation a, .product-navigation button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-navigation .nav ul:hover li:hover {
    background-color:#B1E0EC;

}

.product-navigation .nav ul ul > li {

    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 5px;
}

.product-navigation .nav ul ul:hover li:hover {
    background-color:#D8EFF5;;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
}

.product-navigation .nav ul .product-nav-details li a:hover {

}

.product-navigation .nav ul .product-nav-details li:last-child {
    margin-bottom: 5px;
}

.category-product.product-navigation  li.nav-header { width: 33.3%}
/* ----------------------------------------------------------------------------------------------- */
/*** 6. MAIN CONTENT ***/
/* ----------------------------------------------------------------------------------------------- */

.container-content {
    margin-top: 20px;
}

/* ----------------------------------------------------------------------------------------------- */
/*** 7. FOOTER  ***/
/* ----------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------- */
/*** 8. FOOTER NAVIGATION ***/
/* ----------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------- */
/*** 9. FORMS ***/
/* ----------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------- */
/*** 9. UNIQUE ***/
/* ----------------------------------------------------------------------------------------------- */
