/* ----------------------------------------------------------------------------------------------- */
/*** Styled to work alongside Bootstrap-responsive.css using breakpoints in window size ***/
/* ----------------------------------------------------------------------------------------------- */


/*  media queries as breakpoints
    1024+   Desktop/Tablet Landscape
    768     Tablet Portrait
    480     Phone Landscape
    320     Phone Mobile
----------------------------------------------------------------------------------------------- */

/* Desktop & tablet landscape - 100% width - 1024+ */
@media (min-width: 50em) {
    /* ng-view animations - remove scroll bar that appears on desktop */
    body {
       overflow: hidden;
    }

    .container-view {
        position: absolute;
        left: 0;
        top: 0;
        right: -30px;
        bottom: 0;
        padding-right: 15px;
        overflow-y: scroll;
    }

    #content {
        margin: 0;
    }

    .content-navigation .nav ul {
        display: table;
        width: 100%;
        margin-top: 5.000em;
    }

    .header .content-navigation, .header .content-navigation.fadeIn {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgb(249, 249, 249); /* fallback */
        background-color: rgba(249, 249, 249, 1);
        z-index: 1;
    }

    .product-navigation nav.nav {
        margin-top: 10.357em;
    }

    .category-product.product-navigation nav.nav {
        margin-top: 0;
    }

    .product-navigation nav.nav ul li.nav-header a{
        min-height: 4.286em;
        padding: 0.714em;
    }

    .product-navigation nav.nav ul li.nav-header ul.product-nav-details li a {
        min-height: 0;
        padding-top: 0.357em;
    }
    .product-navigation nav.nav ul li.nav-header ul ul.product-nav-details > li {
        padding-left: 0.714em;
    }

    .product-navigation nav.nav ul li.nav-header ul.product-nav-details {

    }

    .product-navigation .icon-caret-down {
        /* min-height: 4.286em;
        padding-top: 0.714em; */
        display: block;
        width: 100%;
        cursor: pointer;
        font-size: 18px;
    }

    .content-navigation .nav li {
        width: 33.3%; /* default is two buttons~ change to auto if more than two buttons or adjust percentage of width to scale for number of buttons */
        display: table-cell;
        padding: 0;
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    .content-navigation .nav a {
        display: block;
        width: auto;
    }


    /* hover, focused and active effects */
    .content-navigation .nav li:nth-child(8n+1) a:hover,
    .content-navigation .nav li:nth-child(8n+1) a:active,
    .content-navigation .nav li:nth-child(8n+1) a:focus {
        background-color: rgb(174, 78, 1); /* fallback */
        background-color: rgba(174, 78, 1, 1);
    }

    .content-navigation .nav li:nth-child(8n+2) a:hover,
    .content-navigation .nav li:nth-child(8n+2) a:active,
    .content-navigation .nav li:nth-child(8n+2) a:focus {
        background-color:  rgb(191, 117, 20); /* fallback */
        background-color:  rgba(191, 117, 20, 1);
    }

    .content-navigation .nav li:nth-child(8n+5) a:hover,
    .content-navigation .nav li:nth-child(8n+5) a:active,
    .content-navigation .nav li:nth-child(8n+5) a:focus {
        background-color: rgb(12, 110, 149); /* fallback */
        background-color: rgba(12, 110, 149, 1);
    }

    .content-navigation .nav li:nth-child(8n+6) a:hover,
    .content-navigation .nav li:nth-child(8n+6) a:active,
    .content-navigation .nav li:nth-child(8n+6) a:focus {
        background-color:  rgb(10, 75, 117); /* fallback */
        background-color:  rgba(10, 75, 117, 1);
    }

    .content-navigation .nav li:nth-child(8n+4) a:hover,
    .content-navigation .nav li:nth-child(8n+4) a:active,
    .content-navigation .nav li:nth-child(8n+4) a:focus {
        background-color:  rgb(46, 204, 113); /* fallback */
        background-color:  rgba(46, 204, 113, 1);
    }

    .content-navigation .nav li:nth-child(8n+7) a:hover,
    .content-navigation .nav li:nth-child(8n+7) a:active,
    .content-navigation .nav li:nth-child(8n+7) a:focus {
        background-color:  rgb(242, 94, 70); /* fallback */
        background-color:  rgba(242, 94, 70);
    }

    .content-navigation .nav li:nth-child(8n+3) a:hover,
    .content-navigation .nav li:nth-child(8n+3) a:active,
    .content-navigation .nav li:nth-child(8n+3) a:focus {
        background-color:  rgb(26, 188, 156); /* fallback */
        background-color:  rgba(26, 188, 156, 1);
    }

    .content-navigation .nav li:nth-child(8n+8) a:hover,
    .content-navigation .nav li:nth-child(8n+8) a:active,
    .content-navigation .nav li:nth-child(8n+8) a:focus {
        background-color: rgb(171, 8, 9); /* fallback */
        background-color: rgba(171, 8, 9);
    }

    .content-navigation .icon {
        padding-top: 1em;
    }

    .content-navigation .icon + span {
        margin-top: .75em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .content-navigation .nav a {
        height: 5.6em;
    }

    /* Making the text follow the height animation */
    .content-navigation .nav a:hover .icon + span {

        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons */
    .content-navigation .nav i, .product-navigation .nav i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em ;
        border-radius: 50%;
        font-size: 1.2em;
        box-shadow: 0 0 0 2.143em transparent;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }

    /* Animate the box-shadow */
    .content-navigation .nav a:hover i,
    .content-navigation .nav a:active i,
    .content-navigation .nav a:focus i {
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }

    .product-navigation li.nav-header {
        width: 16.6%;
    }
}

/* Size and font adjustments to make it fit into in-between screens 800-980 */
@media (min-width: 50em) and (max-width: 61.250em) {
    .nav ul {
        font-size: .90em;

    }

    .content-navigation .nav ul {
        margin-top: 0;
    }

    .header .content-navigation, .header .content-navigation.fadeIn {
        position: relative;
        left: 0;
        right: 1.786em;
        top: auto;
        background-color: transparent;
        z-index: auto;
    }

    .product-navigation nav.nav {
        margin-top: 0;
    }

    .content-navigation .nav li {
        display: block;
        float: left;
        width: 50%;
    }

    .product-navigation nav.nav {
        margin-top: 0;
    }

    #content {
        margin: 0;
    }

    .admin-navigation .user-links ul {
        float: left;
    }

    .admin-navigation .brand {
        position: absolute;
        top: 0;
        left: 39%;
    }

    .product-navigation li.nav-header {
        width: 33.3%;
    }

    .product-navigation li.nav-header a {
        padding: 1.429em .05em;
    }
}
/* Tablet - portrait - 798 */
@media (min-width:32.5em) and (max-width: 49.938em) {
    .admin-navigation .user-links ul {
        float: left;
    }

    .admin-navigation .brand {
        position: absolute;
        top: 0;
        left: 37%;
    }

    .content-navigation .nav ul li:nth-child(8n+1) a:hover,
    .content-navigation .nav ul li:nth-child(8n+1) a:active,
    .content-navigation .nav ul li:nth-child(8n+1) a:focus {
        background: rgb(227, 119, 20); /* fallback */
        background: rgba(227, 119, 20, 1);
    }

    .content-navigation .nav li:nth-child(8n+2) a:hover,
    .content-navigation .nav li:nth-child(8n+2) a:active,
    .content-navigation .nav li:nth-child(8n+2) a:focus {
        background: rgb(245, 160, 41); /* fallback */
        background: rgba(245, 160, 41, 1);
    }

    .content-navigation .nav li:nth-child(8n+5) a:hover,
    .content-navigation .nav li:nth-child(8n+5) a:active,
    .content-navigation .nav li:nth-child(8n+5) a:focus {
        background: rgb(44, 168, 219); /* fallback */
        background: rgba(44, 168, 219, 1);
    }

    .content-navigation .nav li:nth-child(8n+6) a:hover,
    .content-navigation .nav li:nth-child(8n+6) a:active,
    .content-navigation .nav li:nth-child(8n+6) a:focus {
        background: rgb(31, 120, 176); /* fallback */
        background: rgba(31, 120, 176, 1);
    }

    .content-navigation .nav li:nth-child(8n+4) a:hover,
    .content-navigation .nav li:nth-child(8n+4) a:active,
    .content-navigation .nav li:nth-child(8n+4) a:focus {
        background: rgb(46, 204, 113); /* fallback */
        background: rgba(46, 204, 113, 1);
    }

    .content-navigation .nav li:nth-child(8n+7) a:hover,
    .content-navigation .nav li:nth-child(8n+7) a:active,
    .content-navigation .nav li:nth-child(8n+7) a:focus {
        background: rgb(242, 94, 70); /* fallback */
        background: rgba(242, 94, 70, 1);
    }

    .content-navigation .nav li:nth-child(8n+3) a:hover,
    .content-navigation .nav li:nth-child(8n+3) a:active,
    .content-navigation .nav li:nth-child(8n+3) a:focus {
        background: rgb(26, 188, 156); /* fallback */
        background: rgba(26, 188, 156, 1);
    }
    .content-navigation .nav li:nth-child(8n+8) a:hover,
    .content-navigation .nav li:nth-child(8n+8) a:active,
    .content-navigation .nav li:nth-child(8n+8) a:focus {
        background: rgb(171, 8, 9); /* fallback */
        background: rgba(171, 8, 9, 1);
    }

    .content-navigation .nav ul li {
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -o-transition: background 0.5s;
        -ms-transition: background 0.5s;
        transition: background 0.5s;
    }

    .product-navigation li.nav-header {
        width: 33.3%;
    }

    .product-navigation li.nav-header a {
        padding: 1.429em .05em;
    }



}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {
    /* Creating the 2 column layout using floating elements once again */
    .content-navigation .nav li {
        display: block;
        float: left;
        width: 50%;
    }

    .content-navigation .nav a {
        padding: 0.8em;
    }

    /* Displaying the icons on the left */
    .content-navigation .nav li span,
    .content-navigation .nav li span.icon, .product-navigation .nav li span.icon {
        display: inline-block;
    }

    .content-navigation .nav li span.icon {
        width: 50%;
    }

    .content-navigation .nav li .icon + span {
        font-size: 1em;
    }

    .content-navigation .icon + span {
        position: relative;
        top: -0.2em;
    }

    .content-navigation .nav li i {
        display: inline-block;
        padding: 8% 10%;
        border: 0.286em solid transparent;
        border-radius: 50%;
        font-size: 1.5em;
        background:transparent;
    }

    .product-navigation li.nav-header {
        width: 33.3%;
    }

    .product-navigation li.nav-header a {
        padding: 1.429em .05em;
    }

}

/* Size and font adjustments to make it fit into in-between screens 520-618 */
@media (min-width: 32.5em) and (max-width: 38.688em) {
    .content-navigation .nav li span.icon {
        width: 50%;
    }

    .admin-navigation .user-links ul {
        float: left;
    }

    .content-navigation .nav li .icon + span {
        font-size: 0.9em;
    }

    .product-navigation li.nav-header {
        width: 100%;
    }

    .product-navigation li.nav-header a {
        padding: 1.429em .05em;
    }

    .admin-navigation .brand {
        position: absolute;
        top: 0;
        left: 48%;
    }

    .admin-navigation .brand-name {
        visibility: hidden;
    }

    .category-product.product-navigation li.nav-header {
        width: 100%;
    }


}


/* Phone - portrait and landscape up to - 518 */
@media (max-width: 32.438em) {
    .content-navigation .nav li {
        display: block;
        float: left;
        width: 50%;
    }

    .admin-navigation .user-links ul {
        float: left;
    }

    .content-navigation .nav li span {
        display: inline-block;
        height: 100%;
    }

    .content-navigation .nav a {
        padding: 0.5em;
    }

    .content-navigation .icon + span {
        margin-left: 1em;
        font-size: 0.8em;
    }

    /* make the nav bigger on touch screens */
    .content-navigation .nav a {
        padding: 1.5em;
    }

    .content-navigation .nav i {
        margin-right: .5em;
    }

    .product-navigation li.nav-header {
        width: 100%;
        min-height: 5.000em;
    }

    .product-navigation li.nav-header a {
        padding: 1.429em .05em;

    }
    .category-product.product-navigation li.nav-header {
        width: 100%;
    }
    .admin-navigation .brand {
        position: absolute;
        top: 0;
        left: 46%;
    }

    .admin-navigation .brand-name {
        visibility: hidden;
    }



}
