a:hover {
	text-decoration: none;
}

.categoryItem {
	background: linear-gradient(rgb(78, 138, 187) 20%, rgb(0, 70, 132) 100%);
	min-height: 50px;
	padding: 20px;
	color: #fff;
	display: flex!important;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16px;
	min-height: 80px;
}
.categoryItem:hover {
	color: #fff;
}
.catList {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	gap: 2vw;
	justify-content: space-around;
}
#productGrid {
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;;
	justify-items: center;
	width: 90%;
	margin: 0 auto;
	padding-top: 15px;
	grid-gap: 2vw 2vw;
	justify-content: center;
}
#productGrid img {
	width: 150px;
	height: auto;
}

.no-padding {
	padding: 0 !important;
}

/* font override */
body, span, div, h1, h2, h3, h4, h5, h6, a, b, i, small {
	font-family: "HelveticaNeue", helvetica, arial, sans-serif;
	font-weight: 400;
}

.navbar-default {
	background-color: #004684;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff !important;
	background-color: #004684;
}
.navbar .container .navbar-nav.pull-left li.fadeInLeft a i, .navbar .container-view .navbar-nav.pull-left li.fadeInLeft a i {
	color: #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #ffffff;
	background-color: #5bad47;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
	background-color: #4e8abb;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-mega .dropdown-menu > li > a:hover, .dropdown-mega .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #4e8abb;
}

.text-info {
	color: #004684;
}
.jumbotron {
	text-align: center;
}
.banner {
	background: #ffffff;
}

.btn-default {
	color: #ffffff;
	background-color: #4e8abb;
	border-color: #004684;
}

.btn-primary {
	background-color: #004684;
	border: 1px solid #cccccc;
}

.btn-primary:hover {
	border: 1px solid #050505;
	background-color: #004684 !important;
}

.btn-info {
	background-color: #4e8abb;
	border-color: #4e8abb;
}

.btn-info:hover {
	background-color: #1c678b;
	border-color: #1c678b;
}

.panel-primary>.panel-heading {
	background-color: #f5f5f5;
	border: solid 1px #dddddd;
	color: #333333;
}
.panel .panel-heading .panel-title {
	font-size: 18px;
}

.order-cloud .form-signin {
	max-width: 26em;
	padding: 1em 1em 2em;
	margin: 2em auto;
	background: #b4b2b2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 1px 1px 1px rgba(216, 241, 251, 0.15);
}

.navbar .container .navbar-nav li.active .fa-caret-down, .navbar .container-view .navbar-nav li.active .fa-caret-down {
	position: absolute;
	bottom: -20px;
	left: 40%;
	font-size: 32px;
	color: #5bad47;
	z-index: 5;
	display: block;
}

.login-help {
	text-align: right;
}

.login-help a {
	color: #ffffff;
}

@media (max-width:767px) {
	#productGrid, .catList {
		display: flex;
		flex-direction: column;
	}

}

/******* dev code, remove before launching *******/
/*
div {
	outline: 1px dashed magenta;
} */

