<section class="address-list-view">
    <loadingindicator ng-show="displayLoadingIndicator" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Addresses' | r | xlat}}</h3>
        </div>
        <div class="view-form-icon panel-body">
            <form name="searchForm">
                <div class="input-group">
                        <input type="text" ng-model="searchTerm"  class="form-control" placeholder="{{('Search' | r) + ' ' + ('Addresses' | r) | xlat}}" />
                        <i class="fa fa-search"></i>
                        <div class="input-group-btn">
                            <button type="submit" ng-click="search($event)" class="btn btn-default">{{'Search' | r | xlat}}</button>
                        </div>
                </div>
            </form>
        </div>
        <div class="panel panel-default" ng-show="!addresses.length > 0">
            <div class="panel-body">
                <p class="alert alert-warning">{{'No' + ' ' + ('addresses' | rc) + ' ' + 'available' | xlat}}</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" ng-click="newAddress($event)">{{'Add an' + ' ' + ('address' | rc) + ' ' + 'now' | xlat}}</button>
            </div>
        </div>
        <div class="panel-table" ng-show="addresses.length > 0">
            <div class="row text-info">
                <div class="col-sm-2">
                    <label class="visible-xs">{{'Select all' | r | xlat}}</label>
                    <input type='checkbox' ng-click="checkAll($event)" />
                </div>
                <div class="col-sm-2 hidden-xs">{{'Name' | r | xlat}}</div>
                <div class="col-sm-2 hidden-xs">{{'City' | r | xlat}}</div>
                <div class="col-sm-2 hidden-xs">{{'State' | r | xlat}}</div>
                <div class="col-sm-2 hidden-xs">{{'Shipping' | r | xlat}}</div>
                <div class="col-sm-2 hidden-xs">{{'Billing' | r | xlat}}</div>
            </div>
            <div class="row"  ng-repeat="address in addresses | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize">
                <loadingindicator ng-show="pagedIndicator" />
                <div class="col-sm-2">
                    <input type='checkbox' ng-model="address.Selected" />
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs heading-xs text-info">Name</span>
                    <a ng-href="address/{{address.ID}}">{{address.AddressName}}</a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'City' | r | xlat}}</span>
                    {{address.City}}</a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'State' | r | xlat}}</span>
                    {{address.State}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Shipping' | r | xlat}}</span>
                    <i ng-class="{'fa fa-check': address.IsShipping }"></i>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Billing' | r | xlat}}</span>
                    <i ng-class="{'fa fa-check': address.IsBilling }"></i>
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-show="addresses.length > 0">
            <div ng-show="settings.listCount > settings.pageSize">
                <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                            items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
            </div>
            <button type="button" class="btn btn-danger" ng-click="deleteSelected($event)" ng-disbaled="(addresses | filter:{Selected:true}).length == 0">{{('Delete' | r) + ' ' + ('Selected' | r) | xlat}}</button>
            <button ng-if="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')" type="button" class="btn btn-primary pull-right" ng-click="newAddress($event)">{{('New' | r) + ' ' + ('Address' | r) | xlat}}</button>
        </div>

        <div class="navbar-fixed-bottom">
            <loadingindicator ng-show="displayLoadingIndicator" />
            <div class="view-action-message alert-success" ng-show="actionMessage">{{actionMessage | r | xlat}}</div>
        </div>
    </div>
</section>