<!--- new addresses with ng-grid --->
<div style="width: 900px;">
<h3>Addresses</h3>
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <!-- //TODO ng-href in addressListCtrl.js is NOT going where it should in ng-grid -->
    <div>
        <input class="btn btn-small btn-info" value="Toggle Selection "type="button" ng-click="checkAll($event)" />
        <input class="btn btn-small btn-danger" value="Delete Selected" ng-click="deleteSelected($event)" />
        <input class="btn btn-small btn-info" style="float: right;"value="New" type="button" ng-click="newAddress($event)" />
    </div>