<section class="container address-view">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Address</h3>
        </div>
        <div class="panel-body">
            <addressinput address='address' user='user' return='return'></addressinput>
        </div>
        <div class="panel-footer">
            <button class="btn btn-small btn-danger" ng-click="delete()" type="button">Delete</button>
            <button class="btn btn-primary pull-right" type="submit" ng-disabled="addressEdit.$invalid" id="451_btn_user">Save</button>
        </div>
    </div>
</section>