<section class="jumbotron branding-view" ng-show="user.Company.Logo.Url">
    <div class="container">
        <h3 ng-show="Four51User.isAuthenticated()">
            <figure>
                <a ng-show="Four51User.isAuthenticated()" ng-click="refreshUser()" href="#/catalog">
                    <img class="branding-view-logo" ng-src="{{user.Company.Logo.Url}}" />
                </a>
            </figure>
            Hello {{user.FirstName + " " + user.LastName}}</span>
        </h3>
    </div>
</section>
