<section>
    <div ng-show="currentOrder" class="hidden-print">
        <nav class="nav">
            <ul>
                <li><span class="text-primary">{{'Cart' | r}}</span></li>
                <li class="pull-right" ng-click="onPrint()"><span><i class="fa fa-print text-primary" rel="tooltip" title="{{'Print' | r}}" ></i></span></li>
            </ul>
        </nav>
        <form name="cart" novalidate="">
            <loadingindicator  ng-show="displayLoadingIndicator" title="{{'Please wait while we save your order' | r}}"/>
            <div>
                <cartmessage />
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{currentOrder.LineItems.length}} {{'Item' + (currentOrder.LineItems.length > 1 ? 's' : '') | rl}} in your {{'Cart' | rl}}
                    </h3>
                </div>
                <div class="panel-lineitem" ng-repeat="item in currentOrder.LineItems">
                    <button title="Remove Item" class="btn btn-danger" ng-click="removeItem(item)">
                        <span class="fa fa-minus-circle fa-inverse"></span>
                    </button>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-6 ">
                                <div class="view-form-icon">
                                    <quantityfield required="true" lineitem="item" class="quantity"/>
                                </div>
                                <p class="quantity-total text-center">
                                    <small>{{'Total Quantity' | r}} <span ng-show="item.Quantity * item.Product.QuantityMultiplier">{{item.Quantity * item.Product.QuantityMultiplier}}</span></small>
                                </p>
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6 thumbnail" ng-show="item.Variant.LargeImageUrl || item.Product.SmallImageUrl">
                                <figure>
                                    <img ng-src="{{item.Variant.LargeImageUrl || item.Product.SmallImageUrl}}" />
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-md-6" >
                                <a ng-href="cart/{{item.Product.InteropID}}/{{$index}}">
                                    <h3 class="text-primary">
                                        <i class="fa fa-edit"></i>
                                        {{item.ProductIDText}}
                                    </h3>
                                    <p>
                                        {{item.Product.Name}}
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div ng-if="!(user.Permissions.contains('HidePricing'))">
                                            <small>{{'Total' | r}}</small>
                                            <h2 class="text-success">
                                                {{item.LineTotal | currency}}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" ng-if="!(user.Permissions.contains('HidePricing'))">
                                        <p>
                                            <small>{{'Unit Price' | r}}</small>
                                            <br/>
                                            {{item.UnitPrice | currency}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row" ng-if="(user.Permissions.contains('DateNeededRequired') || user.Permissions.contains('DateNeededOptional')) || user.Permissions.contains('CostCenterPerLine')">
                                    <div class="col-xs-12 col-sm-6" ng-if="user.Permissions.contains('DateNeededRequired') || user.Permissions.contains('DateNeededOptional')">
                                        <div class="row view-form-icon">
                                            <div class="col-xs-9">
                                                <label ng-class="{required: user.Permissions.contains('DateNeededRequired')}" ng-show="item.DateNeeded || user.Permissions.contains('DateNeededRequired')">{{'Date' | r}}</label>
                                                <!--Default Datepicker -->
                                                <div class="btn btn-default btn-block btn-date hidden-lg hidden-md"
                                                     ng-click="$event.preventDefault();$event.stopPropagation();opened = !opened;"
                                                     style="margin:0; height:40px; padding-top:8px;">
                                                    {{item.DateNeeded ? '' : 'Tap to set a date'}}
                                                    <span class="text-info">{{item.DateNeeded | date:'M/dd/yy'}}</span>
                                                </div>
                                                <input name="dateneeded" placeholder="Date" ng-model="item.DateNeeded" ng-required="user.Permissions.contains('DateNeededRequired')"
                                                       type="text"
                                                       class="form-control"
                                                       datepicker-popup="MM/dd/yy"
                                                       is-open="opened"
                                                       min="currentDate"/>
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" title="copy to all" class="btn btn-default pull-right" value="copy to all" ng-click="copyAddressToAll()" ng-show="item.DateNeeded" ng-if="$index == 0 && currentOrder.LineItems.length > 1 && user.CostCenters.length != 1" >
                                                    <span class="fa fa-copy text-info"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" ng-if="user.Permissions.contains('CostCenterPerLine')">
                                        <div class="row view-form-icon">
                                            <div class="col-xs-9">
                                                <label class="required">{{'Cost Center' | r}}</label>
                                                <select name="costcenter" class="form-control " style="padding-left: 25px;" required ng-if="user.CostCenters.length > 1 && !user.Permissions.contains('FreeFormCostCenter')" ng-options="center.Name as center.Name for center in user.CostCenters" ng-model="item.CostCenter"></select>
                                                <input name="costcenter" class="form-control" ng-if="user.Permissions.contains('FreeFormCostCenter')" ng-model="item.CostCenter" type='text' required placeholder="{{'Cost Center' | r}}" />
                                                <span ng-if="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')">{{item.CostCenter}}</span>
                                                <i ng-if="user.CostCenters.length != 1" class="fa fa-money"></i>
                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" title="copy to all" class="btn btn-default pull-right" value="copy to all" ng-click="copyCostCenterToAll()" ng-show="item.CostCenter" ng-hide="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')" ng-if="$index == 0 && currentOrder.LineItems.length > 1">
                                                    <span class="fa fa-copy text-info"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default" ng-show="item.SpecsLength > 0" ng-init="toggleSpecs = false" ng-click="toggleSpecs = !toggleSpecs">
                                    <span ng-show="toggleSpecs == false"><i class="fa fa-plus-circle"></i> {{'Show' | r}} </span>
                                    <span ng-show="toggleSpecs == true"><i class="fa fa-minus-circle"></i> {{'Hide' | r}} </span>
                                    {{'Specification' | r}}
                                </button>
                                <ul ng-show="toggleSpecs == true" class="list-group">
                                    <li ng-repeat="spec in item.Specs | filter:{'CanSetForLineItem':true} " class="list-group-item">
                                        <span class="text-info">{{spec.Name}}: </span>
                                        <span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName + Extension}}</a></span></span>
                                        <span ng-if="spec.ControlType != 'File'">{{spec.Value || '(unspecified)'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <giftcardredemption ng-if="user.Permissions.contains('ViewPromotions')" />
                        </div>
                        <div class="col-md-3 col-md-offset-5 col-lg-4 text-right" ng-if="!(user.Permissions.contains('HidePricing'))">
                            <h4 class="text-primary">
                                <strong>{{'Subtotal' | r}} <span class="text-success">{{currentOrder.Subtotal | currency}}</span></strong>
                            </h4>
                            <p ng-show="TaxMethod" ng-if="user.Company.TaxMethod != 'NoTax'">
                                <span class="text-info">{{'Shipping, handling and tax may be added to this subtotal.' | r}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-fixed-bottom">
                <div class="alert-warning text-center" style="padding: 10px;" ng-if="currentOrder.RepeatError">
                    {{'Some items were not added to your repeat order' | r}}: {{currentOrder.RepeatError}}
                </div>
                <div class="view-response-message alert-success text-center" alert-show="currentOrder">
                    <p>{{actionMessage | r}}</p>
                </div>
                <div class="view-response-message alert-danger text-center" alert-show="gcMessage">{{gcMessage}}</div>
                <div class="view-error-message" ng-show="cart.$error.required.length > 0">
                    <ul class="alert-warning">
                        <li class="text-center">
                            <span class="badge">
                                <i class="fa fa-exclamation-circle fa-inverse"></i>
                                {{cart.$error.required.length}}
                            </span>
                        </li>
                        <li class="text-center">
                            <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
                                <li ng-if="cart.dateneeded.$invalid">{{'Date needed'}} is {{'Required' | rl}}</li>
                                <li ng-if="cart.costcenter.$invalid">{{'Cost Center' | r}} is {{'Required' | rl}}</li>
                                <li ng-if="cart.qtyInput.$invalid">You have entered an invalid {{'Quantity' | rl}}</li>
                            </ul>
                        </li>
                        <li class="text-center">
                            <a ng-show="cart.$error.required.length + (errorMessage ? 1 : 0) > 1">
                                <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
                                <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <button class="btn btn-danger" ng-click="cancelOrder()"><small>{{'Cancel' | r}} {{'Order' | r}}</small></button>
                    </li>
                    <li>
                        <button class="btn btn-primary" ng-click="saveChanges()">
                            <loadingindicator  ng-show="displayLoadingIndicator" />
                            <small>{{'Save' | r}} {{'Order' | r}}</small>
                        </button>
                    </li>
                    <li>
                        <button class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-click="checkOut()" ng-disabled="cart.$invalid">
                            <i ng-show="cart.$invalid" class="fa fa-warning"></i>
                            <span>{{'Check Out' | r}} {{window.outerWidth}}</span>
                        </button>
                    </li>
                </ul>

            </div>
        </form>
    </div>
    <cartprint class="visible-print" />
</section>

