<section>
	<div ng-show="currentOrder" class="hidden-print">
		<nav class="nav">
			<ul>
				<li><span class="text-primary">{{'Cart' | r | xlat}}</span></li>
				<li class="pull-right" ng-click="onPrint()"><span><i class="fa fa-print text-primary" rel="tooltip" title="{{'Print' | r | xlat}}" ></i></span></li>
			</ul>
		</nav>
		<form ng-submit="saveChanges()" name="cart" novalidate="">
			<loadingindicator  ng-show="displayLoadingIndicator" title="{{'Please wait while we save your order' | r | xlat}}"/>
			<div>
				<cartmessage />
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{currentOrder.LineItems.length}} {{'item' + (currentOrder.LineItems.length > 1 ? 's' : '') | rl | xlat}} {{'in your' | rl | xlat:(currentOrder.LineItems.length)}} {{'cart' | rl | xlat}}
					</h3>
				</div>
				<div class="panel-lineitem" ng-repeat="item in currentOrder.LineItems">
					<button type="button" title="Remove Item" class="btn btn-danger" ng-click="removeItem(item)">
						<span class="fa fa-minus-circle fa-inverse"></span>
					</button>
					<div class="col-sm-2">
						<div class="row">
							<div class="col-xs-6 col-sm-12 col-md-6">
								<div class="view-form-icon">
									<quantityfield required="true" lineitem="item" class="quantity"/>
								</div>
								<p class="quantity-total text-center" ng-hide="item.PriceSchedule.Name === 'Downloadable' && item.Quantity === 11">
									<small>{{'Total Quantity' | r | xlat}} <span ng-show="item.Quantity * item.Product.QuantityMultiplier">{{item.Quantity * item.Product.QuantityMultiplier}}</span></small>
								</p>
							</div>
							<div class="col-xs-6 col-sm-12 col-md-6 thumbnail" ng-show="item.Variant.LargeImageUrl || item.Product.SmallImageUrl">
								<figure>
									<img ng-src="{{item.Variant.LargeImageUrl || item.Product.SmallImageUrl}}" />
								</figure>
							</div>
						</div>
					</div>
					<div class="col-sm-10">
						<div class="row">
							<div class="col-md-3" ng-if="currentOrder.Status != 'AwaitingApproval' || isEditforApproval">
								<a class="line-item-link" ng-href="{{(item.Product.Type == 'Kit' ? 'kit' : 'cart') + '/' + (item.Product.InteropID) + '/' + (isEditforApproval ? (currentOrder.ID + '/') : '') + ($index)}}">
									<h3 class="text-primary">
										<i ng-show="!item.KitIsInvalid" class="fa fa-edit"></i>
										<i ng-show="item.KitIsInvalid" class="fa fa-exclamation-triangle"></i>
										{{item.ProductIDText}}
									</h3>
									<p>
										{{item.Product.Name}}
									</p>
								</a>
							</div>
							<div class="col-md-7" ng-if="currentOrder.Status == 'AwaitingApproval' && !isEditforApproval">
								<h3 class="text-primary">
									{{item.ProductIDText}}
								</h3>
								<p>
									{{item.Product.Name}}
								</p>
							</div>
							<div class="col-md-8">
								<div class="row" ng-if="!(user.Permissions.contains('HidePricing'))">
									<div class="col-xs-6">
										<p>
											<small>{{'Unit Price' | r | xlat}}</small>
											<br/>
											{{item.UnitPrice | culturecurrency}}
										</p>
									</div>
									<div class="col-xs-6">
										<div>
											<small>{{'Total' | r | xlat}}</small>
											<h2 class="text-success">
												{{item.LineTotal | culturecurrency}}
											</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="costCenterRow" class="row">
							<div class="col-sm-12 col-xs-12 col-md-2" ng-if="!csUser">
								<label for="facilityNumber"  style="font-size: 12px" class="required">Facility #</label>
								<select ng-change="facilityNumberChanged(item)" ng-disabled="item.lockFacilityNumber" ng-model="item.facilityNumber" id="facilityNumber" class="form-control facilityNumber" required>
									<option ng-if="hostUser" ng-selected="'5424 - Ashley Regional Medical Center' == item.facilityNumber" value="5424">5424 - Ashley Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'5452 - Bluegrass Community Hospital' == item.facilityNumber" value="5452">5452 - Bluegrass Community Hospital</option>
									<option ng-if="hostUser" ng-selected="'5391 - Bourbon Community Hospital' == item.facilityNumber" value="5391">5391 - Bourbon Community Hospital</option>
									<option ng-if="hostUser" ng-selected="'16000 - Canyon Vista Medical' == item.facilityNumber" value="16000">16000 - Canyon Vista Medical</option>
									<option ng-if="hostUser" ng-selected="'5419 - Castleview Hospital' == item.facilityNumber" value="5419">5419 - Castleview Hospital</option>
									<option ng-if="hostUser" ng-selected="'16776 - Central Carolina Hospital' == item.facilityNumber" value="16776">16776 - Central Carolina Hospital</option>
									<option ng-if="hostUser" ng-selected="'16365 - Clark Memorial Hospital' == item.facilityNumber" value="16365">16365 - Clark Memorial Hospital</option>
									<option ng-if="hostUser" ng-selected="'16240 - Clark Regional Medical Center' == item.facilityNumber" value="16240">16240 - Clark Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16150 - Clinch Valley Medical Ctr' == item.facilityNumber" value="16150">16150 - Clinch Valley Medical Ctr</option>
									<option ng-if="hostUser" ng-selected="'16010 - Community Medical' == item.facilityNumber" value="16010">16010 - Community Medical</option>
									<option ng-if="hostUser" ng-selected="'16910 - Conemaugh Memorial Medical Ctr' == item.facilityNumber" value="16910">16910 - Conemaugh Memorial Medical Ctr</option>
									<option ng-if="hostUser" ng-selected="'16911 - Conemaugh Meyersdale Med Ctr' == item.facilityNumber" value="16911">16911 - Conemaugh Meyersdale Med Ctr</option>
									<option ng-if="hostUser" ng-selected="'16555 - Conemaugh Nason Medical Center' == item.facilityNumber" value="16555">16555 - Conemaugh Nason Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16912 - Conemaugh Miner\'s Med Ctr' == item.facilityNumber" value="16912">16912 - Conemaugh Miner's Med Ctr</option>
									<option ng-if="hostUser" ng-selected="'16960 - Fauquier Medical Center' == item.facilityNumber" value="16960">16960 - Fauquier Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16795 - Fleming County Hospital' == item.facilityNumber" value="16795">16795 - Fleming County Hospital</option>
									<option ng-if="hostUser" ng-selected="'16406 - Frye Regional Medical Center' == item.facilityNumber" value="16406">16406 - Frye Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'5407 - Georgetown Community Hospital' == item.facilityNumber" value="5407">5407 - Georgetown Community Hospital</option>
									<option ng-if="hostUser" ng-selected="'16890 - Harris Regional Hospital' == item.facilityNumber" value="16890">16890 - Harris Regional Hospital</option>
									<option ng-if="hostUser" ng-selected="'2758 - Havasu HRMC JV General Partner' == item.facilityNumber" value="2758">2758 - Havasu HRMC JV General Partner</option>
									<option ng-if="hostUser" ng-selected="'16720 - Haywood Regional Medical Ctr' == item.facilityNumber" value="16720">16720 - Haywood Regional Medical Ctr</option>
									<option ng-if="hostUser" ng-selected="'5387 - Jackson Purchase Medical Ctr' == item.facilityNumber" value="5387">5387 - Jackson Purchase Medical Ctr</option>
									<option ng-if="hostUser" ng-selected="'5412 - Lake Cumberland Regional Hosp' == item.facilityNumber" value="5412">5412 - Lake Cumberland Regional Hosp</option>
									<option ng-if="hostUser" ng-selected="'2779 - Los Alamos Medical Center' == item.facilityNumber" value="2779">2779 - Los Alamos Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16025 - Lourdes Health' == item.facilityNumber" value="16025">16025 - Lourdes Health</option>
									<option ng-if="hostUser" ng-selected="'16810 - Maria Parham Medical Center' == item.facilityNumber" value="16810">16810 - Maria Parham Medical Center</option>
									<option ng-if="hostUser" ng-selected="'5403 - Meadowview Regional Medical Center' == item.facilityNumber" value="5403">5403 - Meadowview Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'2765 - Memorial Medical Center Las Cruces' == item.facilityNumber" value="2765">2765 - Memorial Medical Center Las Cruces</option>
									<option ng-if="hostUser" ng-selected="'115960 - National Park Medical Center' == item.facilityNumber" value="115960">115960 - National Park Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16080 - North Alabama Medical Center' == item.facilityNumber" value="16080">16080 - North Alabama Medical Center</option>
									<option ng-if="hostUser" ng-selected="'2784 - Northeastern Nevada Regional Hospital' == item.facilityNumber" value="2784">2784 - Northeastern Nevada Regional Hospital</option>
									<option ng-if="hostUser" ng-selected="'16065 - Ottumwa Regional Health Center' == item.facilityNumber" value="16065">16065 - Ottumwa Regional Health Center</option>
									<option ng-if="hostUser" ng-selected="'16060 - Paris Regional Medical Center' == item.facilityNumber" value="16060">16060 - Paris Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16830 - Person Memorial Hospital' == item.facilityNumber" value="16830">16830 - Person Memorial Hospital</option>
									<option ng-if="hostUser" ng-selected="'16955 - Rutherford Regional Health System' == item.facilityNumber" value="16955">16955 - Rutherford Regional Health System</option>
									<option ng-if="hostUser" ng-selected="'16120 - Raleigh General Hospital' == item.facilityNumber" value="16120">16120 - Raleigh General Hospital</option>
									<option ng-if="hostUser" ng-selected="'16753 - Riverview Regional Medical Center South Central' == item.facilityNumber" value="16753">16753 - Riverview Regional Medical Center South Central</option>
									<option ng-if="hostUser" ng-selected="'115967 - St. Mary\'s Regional Medical Center' == item.facilityNumber" value="115967">115967 - St. Mary's Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16045 - Saline Memorial Hospital' == item.facilityNumber" value="16045">16045 - Saline Memorial Hospital</option>
									<option ng-if="hostUser" ng-selected="'16940 - Scott Memorial Health' == item.facilityNumber" value="16940">16940 - Scott Memorial Health</option>
									<option ng-if="hostUser" ng-selected="'16085 - North Alabama Shoals Hospital' == item.facilityNumber" value="16085">16085 - North Alabama Shoals Hospital</option>
									<option ng-if="hostUser" ng-selected="'5332 - Southern TN Regional - Winchester' == item.facilityNumber" value="16085">5332 - Southern TN Regional - Winchester</option>
									<option ng-if="hostUser" ng-selected="'5343 - Southern TN - Pulaski (system logo)' == item.facilityNumber" value="5343">5343 - Southern TN - Pulaski (system logo)</option>
									<option ng-if="hostUser" ng-selected="'5326 - Southern TN - Lawrenceburg (system logo)' == item.facilityNumber" value="5326">5326 - Southern TN - Lawrenceburg (system logo)</option>
									<option ng-if="hostUser" ng-selected="'2781 - Sovah Health - Martinsville' == item.facilityNumber" value="2781">2781 - Sovah Health - Martinsville</option>
									<option ng-if="hostUser" ng-selected="'5285 - Sovah Health - Danville' == item.facilityNumber" value="5285">5285 - Sovah Health - Danville</option>
									<option ng-if="hostUser" ng-selected="'5250 - Spring View Hospital' == item.facilityNumber" value="5250">5250 - Spring View Hospital</option>
									<option ng-if="hostUser" ng-selected="'5460 - Starr Regional Medical Center – Athens' == item.facilityNumber" value="5460">5460 - Starr Regional Medical Center – Athens</option>
									<option ng-if="hostUser" ng-selected="'16750 - Sumner Regional Medical Center' == item.facilityNumber" value="16750">16750 - Sumner Regional Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16895 - Swain County Hospital' == item.facilityNumber" value="16895">16895 - Swain County Hospital</option>
									<option ng-if="hostUser" ng-selected="'16020 - Trios Health' == item.facilityNumber" value="16020">16020 - Trios Health</option>
									<option ng-if="hostUser" ng-selected="'16751 - Trousdale Medical Center' == item.facilityNumber" value="16751">16751 - Trousdale Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16881 - Twin County Regional Healthcare, LLC' == item.facilityNumber" value="16881">16881 - Twin County Regional Healthcare, LLC</option>
									<option ng-if="hostUser" ng-selected="'16950 - UP Health System – Bell' == item.facilityNumber" value="16950">16950 - UP Health System – Bell</option>
									<option ng-if="hostUser" ng-selected="'16900 - UP Health System – Marquette' == item.facilityNumber" value="16900">16900 - UP Health System – Marquette</option>
									<option ng-if="hostUser" ng-selected="'16980 - UP Health System – Portage Hospital' == item.facilityNumber" value="16980">16980 - UP Health System – Portage Hospital</option>
									<option ng-if="hostUser" ng-selected="'2757 - Valley View Medical Center' == item.facilityNumber" value="2757">2757 - Valley View Medical Center</option>
									<option ng-if="hostUser" ng-selected="'115969 - Willamette Valley Medical Center' == item.facilityNumber" value="115969">115969 - Willamette Valley Medical Center</option>
									<option ng-if="hostUser" ng-selected="'16946 - Wilson Medical Ctr' == item.facilityNumber" value="16946">16946 - Wilson Medical Ctr</option>
									<option ng-if="hostUser" ng-selected="'5284 - Wythe County Community Hosp' == item.facilityNumber" value="5284">5284 - Wythe County Community Hosp</option>
									<option ng-if="hostHscUser" ng-selected="'05433 - Lifepoint HSC South' == item.facilityNumber" value="05433">05433 - Lifepoint HSC South</option>
									<option ng-if="sapBehavioralUser" ng-selected="'0157 - Ephraim McDowell' == item.facilityNumber" value="0157">0157 - Ephraim McDowell</option>
									<option ng-if="sapBehavioralUser" ng-selected="'0029 - Lifepoint Behavioral Health' == item.facilityNumber" value="0029">0029 - Lifepoint Behavioral Health</option>
									<option ng-if="sapBehavioralUser" ng-selected="'0701 - Valley Springs Behavioral Health Hospital' == item.facilityNumber" value="0701">0701 - Valley Springs Behavioral Health Hospital</option>
									<option ng-if="sapBehavioralUser" ng-selected="'0122 - WellBridge Fort Worth' == item.facilityNumber" value="0122">0122 - WellBridge Fort Worth</option>
									<option ng-if="sapBehavioralUser" ng-selected="'0108 - WellBridge Greater Dallas' == item.facilityNumber" value="0108">0108 - WellBridge Greater Dallas</option>
									<option ng-if="sapAruLtachUser" ng-selected="'249J – Lisa Soucy' == item.facilityNumber" value="249J">249J – Lisa Soucy</option>
									<option ng-if="sapAruLtachUser" ng-selected="'602K - Kindred Hospital Bay Area - St. Petersburg' == item.facilityNumber" value="602K">602K - Kindred Hospital Bay Area - St. Petersburg</option>
									<option ng-if="sapAruLtachUser" ng-selected="'379J - Kindred Hospital Dallas Central' == item.facilityNumber" value="379J">379J - Kindred Hospital Dallas Central</option>
									<option ng-if="sapAruLtachUser" ng-selected="'351J - Kindred Hospital Denver' == item.facilityNumber" value="351J">351J - Kindred Hospital Denver</option>
									<option ng-if="sapAruLtachUser" ng-selected="'605K - Kindred Hospital Houston Medical Center' == item.facilityNumber" value="605K">605K - Kindred Hospital Houston Medical Center</option>
									<option ng-if="sapAruLtachUser" ng-selected="'378J - Kindred Hospital Houston Northwest' == item.facilityNumber" value="378J">378J - Kindred Hospital Houston Northwest</option>
									<option ng-if="sapAruLtachUser" ng-selected="'4293 - Kindred Hospital Las Vegas Flamingo' == item.facilityNumber" value="4293">4293 - Kindred Hospital Las Vegas Flamingo</option>
									<option ng-if="sapAruLtachUser" ng-selected="'349J - Kindred Hospital Melbourne' == item.facilityNumber" value="349J">349J - Kindred Hospital Melbourne</option>
									<option ng-if="sapAruLtachUser" ng-selected="'601K - Kindred Hospital North Florida' == item.facilityNumber" value="601K">601K - Kindred Hospital North Florida</option>
									<option ng-if="sapAruLtachUser" ng-selected="'4279 - Kindred Hospital Palm Beaches' == item.facilityNumber" value="4279">4279 - Kindred Hospital Palm Beaches</option>
									<option ng-if="sapAruLtachUser" ng-selected="'4274 - Kindred Hospital Paramount' == item.facilityNumber" value="4274">4274 - Kindred Hospital Paramount</option>
									<option ng-if="sapAruLtachUser" ng-selected="'350J - Kindred Hospital Philadelphia - Havertown' == item.facilityNumber" value="350J">350J - Kindred Hospital Philadelphia - Havertown</option>
									<option ng-if="sapAruLtachUser" ng-selected="'600K - Kindred Hospital South Florida - Ft. Lauderdale' == item.facilityNumber" value="600K">600K - Kindred Hospital South Florida - Ft. Lauderdale</option>
									<option ng-if="sapAruLtachUser" ng-selected="'603K - Kindred Hospital Sugar Land' == item.facilityNumber" value="603K">603K - Kindred Hospital Sugar Land</option>
									<option ng-if="sapAruUser" ng-selected="'249J – Lisa Soucy' == item.facilityNumber" value="249J">249J – Lisa Soucy</option>
									<option ng-if="sapAruUser" ng-selected="'304J - St. Marys Athens' == item.facilityNumber" value="304J">304J - St. Marys Athens</option>
									<option ng-if="sapAruUser" ng-selected="'290J - St. Mary Medical Center Acute Rehabilitation Unit' == item.facilityNumber" value="290J">290J - St. Mary Medical Center Acute Rehabilitation Unit</option>
									<option ng-if="sapAruUser" ng-selected="'292J MyMichigan Medical Center - Alma' == item.facilityNumber" value="292J">292J MyMichigan Medical Center - Alma</option>
									<option ng-if="sapAruUser" ng-selected="'380J - St. Mary\'s Reno' == item.facilityNumber" value="380J">380J - St. Mary's Reno</option>
									<option ng-if="sapAruUser" ng-selected="'313J - Stillwater Medical Center' == item.facilityNumber" value="313J">313J - Stillwater Medical Center</option>
									<option ng-if="sapAruUser" ng-selected="'375J - Sumner Regional Medical Center' == item.facilityNumber" value="375J">375J - Sumner Regional Medical Center</option>
									<option ng-if="sapAruUser" ng-selected="'445G - Sutter Coast Acute Rehabilitation Center' == item.facilityNumber" value="445G">445G - Sutter Coast Acute Rehabilitation Center</option>
									<option ng-if="sapAruUser" ng-selected="'581G - Taylor Hospital Acute Rehab Unit' == item.facilityNumber" value="581G">581G - Taylor Hospital Acute Rehab Unit</option>
									<option ng-if="sapAruUser" ng-selected="'481G - The Jewish Hospital - Bon Secours Mercy Health System' == item.facilityNumber" value="481G">481G - The Jewish Hospital - Bon Secours Mercy Health System</option>
									<option ng-if="sapAruUser" ng-selected="'418G - The Medical Center of Southeast Texas' == item.facilityNumber" value="418G">418G - The Medical Center of Southeast Texas</option>
									<option ng-if="sapAruUser" ng-selected="'735G - Trinity RehabCare Center' == item.facilityNumber" value="735G">735G - Trinity RehabCare Center</option>
									<option ng-if="sapAruUser" ng-selected="'616K - UNC Lenoir Health Care' == item.facilityNumber" value="616K">616K - UNC Lenoir Health Care</option>
									<option ng-if="sapAruUser" ng-selected="'570G - United General' == item.facilityNumber" value="570G">570G - United General</option>
									<option ng-if="sapAruUser" ng-selected="'306J - UPHS-Marquette, Inpatient Rehab Unit' == item.facilityNumber" value="306J">306J - UPHS-Marquette, Inpatient Rehab Unit</option>
									<option ng-if="sapAruUser" ng-selected="'538G - USC Arcadia Hospital' == item.facilityNumber" value="538G">538G - USC Arcadia Hospital</option>
									<option ng-if="sapAruUser" ng-selected="'674G - Valley Rehabilitation Center' == item.facilityNumber" value="674G">674G - Valley Rehabilitation Center</option>
									<option ng-if="sapAruUser" ng-selected="'376J - Valley View Acute Rehabilitation Unit' == item.facilityNumber" value="376J">376J - Valley View Acute Rehabilitation Unit</option>
									<option ng-if="sapAruUser" ng-selected="'302J - West Jefferson Rehab Center' == item.facilityNumber" value="302J">302J - West Jefferson Rehab Center</option>
									<option ng-if="sapAruUser" ng-selected="'576G - White River Inpatient Acute Rehab' == item.facilityNumber" value="576G">576G - White River Inpatient Acute Rehab</option>
									<option ng-if="sapIrfUser" ng-selected="'4098 - Anderson Rehabilitation Institute' == item.facilityNumber" value="4098">4098 - Anderson Rehabilitation Institute</option>
									<option ng-if="sapIrfUser" ng-selected="'4099 - Ascension Saint Thomas Rehabilitation Hospital' == item.facilityNumber" value="4099">4099 - Ascension Saint Thomas Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4090 - Atlantic Rehabilitation Institute' == item.facilityNumber" value="4090">4090 - Atlantic Rehabilitation Institute</option>
									<option ng-if="sapIrfUser" ng-selected="'4070 - Baptist Memorial Rehabilitation Hospital' == item.facilityNumber" value="4070">4070 - Baptist Memorial Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4844 - Central Texas Rehabilitation Hospital' == item.facilityNumber" value="4844">4844 - Central Texas Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'3843 - CHI Franciscan Rehabilitation Hospital' == item.facilityNumber" value="3843">3843 - CHI Franciscan Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4072 - Community Rehabilitation Hospital North' == item.facilityNumber" value="4072">4072 - Community Rehabilitation Hospital North</option>
									<option ng-if="sapIrfUser" ng-selected="'4072 - Community Rehabilitation Hospital North' == item.facilityNumber" value="4072">4072 - Community Rehabilitation Hospital North</option>
									<option ng-if="sapIrfUser" ng-selected="'4089 - Community Rehabilitation Hospital South' == item.facilityNumber" value="4089">4089 - Community Rehabilitation Hospital South</option>
									<option ng-if="sapIrfUser" ng-selected="'4128 - Community Rehabilitation Hospital West' == item.facilityNumber" value="4128">4128 - Community Rehabilitation Hospital West</option>
									<option ng-if="sapIrfUser" ng-selected="'3167 - Dignity East Valley Rehabilitation Hospital' == item.facilityNumber" value="3167">3167 - Dignity East Valley Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4214 - Dignity Health East Valley Rehabilitation Hospital - Gilbert' == item.facilityNumber" value="4214">4214 - Dignity Health East Valley Rehabilitation Hospital - Gilbert</option>
									<option ng-if="sapIrfUser" ng-selected="'4231 - El Paso Rehabilitation Hospital' == item.facilityNumber" value="4231">4231 - El Paso Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4217 - Frazier Rehabilitation Hospital – Brownsboro' == item.facilityNumber" value="4217">4217 - Frazier Rehabilitation Hospital – Brownsboro</option>
									<option ng-if="sapIrfUser" ng-selected="'4097 - Knoxville Rehabilitation Hospital' == item.facilityNumber" value="4097">4097 - Knoxville Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4073 - Lancaster Rehabilitation Hospital' == item.facilityNumber" value="4073">4073 - Lancaster Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4092 - Mercy Iowa City Rehabilitation Hospital' == item.facilityNumber" value="4092">4092 - Mercy Iowa City Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4095 - Mercy Rehabilitation Hospital Fort Smith' == item.facilityNumber" value="4095">4095 - Mercy Rehabilitation Hospital Fort Smith</option>
									<option ng-if="sapIrfUser" ng-selected="'4079 - Mercy Rehabilitation Hospital OKC' == item.facilityNumber" value="4079">4079 - Mercy Rehabilitation Hospital OKC</option>
									<option ng-if="sapIrfUser" ng-selected="'4215 - Mercy Rehabilitation Hospital Oklahoma City South' == item.facilityNumber" value="4215">4215 - Mercy Rehabilitation Hospital Oklahoma City South</option>
									<option ng-if="sapIrfUser" ng-selected="'4213 - Mercy Rehabilitation Hospital South' == item.facilityNumber" value="4213">4213 - Mercy Rehabilitation Hospital South</option>
									<option ng-if="sapIrfUser" ng-selected="'4075 - Mercy Rehabilitation Hospital Springfield' == item.facilityNumber" value="4075">4075 - Mercy Rehabilitation Hospital Springfield</option>
									<option ng-if="sapIrfUser" ng-selected="'4076 - Mercy Rehabilitation Hospital St. Louis' == item.facilityNumber" value="4076">4076 - Mercy Rehabilitation Hospital St. Louis</option>
									<option ng-if="sapIrfUser" ng-selected="'3859 - MercyOne Clive Rehabilitation Hospital' == item.facilityNumber" value="3859">3859 - MercyOne Clive Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4080 - Methodist Rehabilitation Hospital' == item.facilityNumber" value="4080">4080 - Methodist Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'3844 - Palomar Health Rehabilitation Institute' == item.facilityNumber" value="3844">3844 - Palomar Health Rehabilitation Institute</option>
									<option ng-if="sapIrfUser" ng-selected="'4096 - Rehabilitation Hospital of Rhode Island' == item.facilityNumber" value="4096">4096 - Rehabilitation Hospital of Rhode Island</option>
									<option ng-if="sapIrfUser" ng-selected="'4083 - Rehabilitation Hospital of Wisconsin' == item.facilityNumber" value="4083">4083 - Rehabilitation Hospital of Wisconsin</option>
									<option ng-if="sapIrfUser" ng-selected="'4085 - St. Mary Rehabilitation Hospital' == item.facilityNumber" value="4085">4085 - St. Mary Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4086 - Texas Rehabilitation Hospital of Arlington' == item.facilityNumber" value="4086">4086 - Texas Rehabilitation Hospital of Arlington</option>
									<option ng-if="sapIrfUser" ng-selected="'4087 - Texas Rehabilitation Hospital of Ft. Worth' == item.facilityNumber" value="4087">4087 - Texas Rehabilitation Hospital of Ft. Worth</option>
									<option ng-if="sapIrfUser" ng-selected="'4216 - Texas Rehabilitation Hospital of Keller' == item.facilityNumber" value="4216">4216 - Texas Rehabilitation Hospital of Keller</option>
									<option ng-if="sapIrfUser" ng-selected="'4212 - TGH Rehabilitation Hospital' == item.facilityNumber" value="4212">4212 - TGH Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4091 - The Rehabilitation Hospital of Montana' == item.facilityNumber" value="4091">4091 - The Rehabilitation Hospital of Montana</option>
									<option ng-if="sapIrfUser" ng-selected="'4093 - UC Davis Rehabilitation Hospital' == item.facilityNumber" value="4093">4093 - UC Davis Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4088 - University Hospitals Avon Rehabilitation Hospital' == item.facilityNumber" value="4088">4088 - University Hospitals Avon Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4071 - University Hospitals Rehabilitation Hospital' == item.facilityNumber" value="4071">4071 - University Hospitals Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4074 - UW Health Rehabilitation Hospital' == item.facilityNumber" value="4074">4074 - UW Health Rehabilitation Hospitall</option>
									<option ng-if="sapIrfUser" ng-selected="'4227 - Liberty Rehabilitation Hospital' == item.facilityNumber" value="4227">4227 - Liberty Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4229 - Longview Rehabilitation Hospital' == item.facilityNumber" value="4229">4229 - Longview Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4230 - Rogers Rehabilitation Hospital' == item.facilityNumber" value="4230">4230 - Rogers Rehabilitation Hospital</option>
									<option ng-if="sapIrfUser" ng-selected="'4228 - Temple Rehabilitation Hospital' == item.facilityNumber" value="4228">4228 - Temple Rehabilitation Hospital</option>
									<option ng-if="sapHscUser" ng-selected="'249J – Lisa Soucy' == item.facilityNumber" value="249J">249J – Lisa Soucy</option>
									<option ng-if="sapHscUser" ng-selected="'0142 - Behavioral Health Svc Overhead' == item.facilityNumber" value="0142">0142 - Behavioral Health Svc Overhead</option>
									<option ng-if="sapHscUser" ng-selected="'0262 - BH Svcs OH Free Standing' == item.facilityNumber" value="0262">0262 - BH Svcs OH Free Standing</option>
									<option ng-if="sapHscUser" ng-selected="'0262 - BH Svcs OH Free Standing' == item.facilityNumber" value="0262">0262 - BH Svcs OH Free Standing</option>
									<option ng-if="sapHscUser" ng-selected="'3198 - Corp External' == item.facilityNumber" value="3198">3198 - Corp External</option>
									<option ng-if="sapHscUser" ng-selected="'3240 - Centerre Healthcare Corp' == item.facilityNumber" value="3240">3240 - Centerre Healthcare Corp</option>
									<option ng-if="sapHscUser" ng-selected="'3826 - Rehab Corp HRS' == item.facilityNumber" value="3826">3826 - Rehab Corp HRS</option>
									<option ng-if="sapHscUser" ng-selected="'4014 - AP - LP Hospital Scheduling 1' == item.facilityNumber" value="4014">4014 - AP - LP Hospital Scheduling 1</option>
									<option ng-if="sapHscUser" ng-selected="'4015 - AP - LP Transfer Center' == item.facilityNumber" value="4015">4015 - AP - LP Transfer Center</option>
									<option ng-if="sapHscUser" ng-selected="'4978 - Bus Dev - Centerre' == item.facilityNumber" value="4978">4978 - Bus Dev - Centerre</option>
									<option ng-if="sapHscUser" ng-selected="'4989 - LPH - Centralized Scheduling' == item.facilityNumber" value="4989">4989 - LPH - Centralized Schedulinge</option>
									<option ng-if="sapHscUser" ng-selected="'4993 - Access Point' == item.facilityNumber" value="4993">4993 - Access Point</option>
									<option ng-if="sapHscUser" ng-selected="'4997 - Access Point Answering Svcs' == item.facilityNumber" value="4997">4997 - Access Point Answering Svcs</option>
									<option ng-if="sapHscUser" ng-selected="'5847 - Rehab Corp (C1)' == item.facilityNumber" value="5847">5847 - Rehab Corp (C1)</option>
									<option ng-if="sapHscUser" ng-selected="'6500 - Legacy Kindred Systems, LLC' == item.facilityNumber" value="6500">6500 - Legacy Kindred Systems, LLC</option>
									<option ng-if="sapHscUser" ng-selected="'7004 - Corp Personnel Area 2' == item.facilityNumber" value="7004">7004 - Corp Personnel Area 2</option>
									<option ng-if="sapHscUser" ng-selected="'7006 - Corp Personnel Area 4' == item.facilityNumber" value="7006">7006 - Corp Personnel Area 42</option>
									<option ng-if="sapHscUser" ng-selected="'7038 - Corp Personnel Area 7' == item.facilityNumber" value="7038">7038 - Corp Personnel Area 7</option>
									<option ng-if="hostUser" ng-selected="'Other/Physician Practice' == item.facilityNumber" value="Other">Other/Physician Practice</option>
									<option ng-if="sapHscUser" ng-selected="'Other' == item.facilityNumber" value="Other">Other</option>
								</select>
								<div class="col-xs-12" ng-show="item.showOther">
									<label for="otherFacilityText" class="required">Other</label>
									<input ng-model="item.otherText" id="otherFacilityText" class="form-control otherText"  type='text' value="{{ item.otherText }}" maxlength="30" />
								</div>
							</div>
							<div class="col-sm-12 col-xs-12 col-md-2" ng-if="sapHscUser || sapBehavioralUser || sapIrfUser || sapAruLtachUser || sapAruUser ||hostHscUser">
								<label for="dept" style="font-size: 12px" class="required">Dept #</label>
								<select ng-change="deptNumberChanged(item)" ng-model="item.dept" class="form-control deptNumber" id="dept" ng-required="!hostUser">
									<option ng-if="sapBehavioralUser" ng-selected="'201' == item.dept" value="201">201</option>
									<option ng-if="sapIrfUser" ng-selected="'201' == item.dept" value="201">201</option>
									<option ng-if="sapIrfUser" ng-selected="'347' == item.dept" value="347">347</option>
									<option ng-if="sapAruLtachUser" ng-selected="'201' == item.dept" value="201">201</option>
									<option ng-if="sapAruLtachUser" ng-selected="'347' == item.dept" value="347">347</option>
									<option ng-if="sapAruUser" ng-selected="'347' == item.dept" value="347">347</option>
									<option ng-if="sapAruUser" ng-selected="'201' == item.dept" value="201">201</option>
									<option ng-if="sapAruUser" ng-selected="'301' == item.dept" value="301">301</option>
									<option ng-if="hostHscUser" ng-selected="'928 - Access Point Management' == item.dept" value="928">928 - Access Point Management</option>
									<option ng-if="hostHscUser" ng-selected="'937 - Business Services' == item.dept" value="937">937 - Business Services</option>
									<option ng-if="hostHscUser" ng-selected="'942 - Clinical Operations' == item.dept" value="942">942 - Clinical Operations</option>
									<option ng-if="hostHscUser" ng-selected="'936 - Clinical Services' == item.dept" value="936">936 - Clinical Services</option>
									<option ng-if="hostHscUser" ng-selected="'946 - Ethics & Compliance' == item.dept" value="948">946 - Ethics & Compliance</option>
									<option ng-if="hostHscUser" ng-selected="'900 - Executive Management' == item.dept" value="900">900 - Executive Management</option>
									<option ng-if="hostHscUser" ng-selected="'950 - Growth & Outreach' == item.dept" value="950">950 - Growth & Outreach</option>
									<option ng-if="hostHscUser" ng-selected="'886 - Hits Ops And Tech Services' == item.dept" value="886">886 - Hits Ops And Tech Services</option>
									<option ng-if="hostHscUser" ng-selected="'953 - Hr Shared Services' == item.dept" value="953">953 - Hr Shared Services</option>
									<option ng-if="hostHscUser" ng-selected="'926 - Hsc Communications' == item.dept" value="926">926 - Hsc Communications</option>
									<option ng-if="hostHscUser" ng-selected="'925 - Human Resources' == item.dept" value="925">925 - Human Resources</option>
									<option ng-if="hostHscUser" ng-selected="'807 - Information Security' == item.dept" value="807">807 - Information Security</option>
									<option ng-if="hostHscUser" ng-selected="'887 - Managed Care' == item.dept" value="887">887 - Managed Care</option>
									<option ng-if="hostHscUser" ng-selected="'927 - Marketing' == item.dept" value="927">927 - Marketing</option>
									<option ng-if="hostHscUser" ng-selected="'960 - Office Administration' == item.dept" value="960">960 - Office Administration</option>
									<option ng-if="hostHscUser" ng-selected="'850 - Other Operating Expense' == item.dept" value="850">850 - Other Operating Expense</option>
									<option ng-if="hostHscUser" ng-selected="'915 - Physician Services' == item.dept" value="915">915 - Physician Services</option>
									<option ng-if="hostHscUser" ng-selected="'932 - Risk Management' == item.dept" value="932">932 - Risk Management</option>
									<option ng-if="hostHscUser" ng-selected="'943 - Service Line' == item.dept" value="943">943 - Service Line</option>
									<option ng-if="hostHscUser" ng-selected="'929 - Strategic Resources Group' == item.dept" value="929">929 - Strategic Resources Group</option>
									<option ng-if="hostHscUser" ng-selected="'934 - Strategy And Shared Services' == item.dept" value="934">934 - Strategy And Shared Services</option>
									<option ng-if="hostHscUser" ng-selected="'956 - Supply Chain Operations' == item.dept" value="956">956 - Supply Chain Operations</option>
									<option ng-if="sapHscUser" ng-selected="'101 - Arch and Analytics' == item.dept" value="101">101 - Arch and Analytics</option>
									<option ng-if="sapHscUser" ng-selected="'120 - Overhead' == item.dept" value="120">120 - Overhead</option>
									<option ng-if="sapHscUser" ng-selected="'210 - Student Relations' == item.dept" value="210">210 - Student Relations</option>
									<option ng-if="sapHscUser" ng-selected="'300 - Operational Services' == item.dept" value="300">300 - Operational Services</option>
									<option ng-if="sapHscUser" ng-selected="'301 - Operations' == item.dept" value="301">301 - Operations</option>
									<option ng-if="sapHscUser" ng-selected="'321 - I/S Change Mgmt' == item.dept" value="321">321 - I/S Change Mgmt</option>
									<option ng-if="sapHscUser" ng-selected="'325 - Service Management' == item.dept" value="325">325 - Service Management</option>
									<option ng-if="sapHscUser" ng-selected="'340 - Technical Services' == item.dept" value="340">340 - Technical Services</option>
									<option ng-if="sapHscUser" ng-selected="'342 - Infra Services' == item.dept" value="342">342 - Infra Services</option>
									<option ng-if="sapHscUser" ng-selected="'343 - Telecommunications' == item.dept" value="343">343 - Telecommunications</option>
									<option ng-if="sapHscUser" ng-selected="'345 - CRP-Endpoint Mngmt' == item.dept" value="345">345 - CRP-Endpoint Mngmt</option>
									<option ng-if="sapHscUser" ng-selected="'347 - Operations' == item.dept" value="347">347 - Operations</option>
									<option ng-if="sapHscUser" ng-selected="'348 - Help Desk' == item.dept" value="348">348 - Help Desk</option>
									<option ng-if="sapHscUser" ng-selected="'360 - Implement Services' == item.dept" value="360">360 - Implement Services</option>
									<option ng-if="sapHscUser" ng-selected="'390 - Enterprise Program Mangement Office' == item.dept" value="390">390 - Enterprise Program Management Office</option>
									<option ng-if="sapHscUser" ng-selected="'500 - Financial Systems' == item.dept" value="500">500 - Financial Systems</option>
									<option ng-if="sapHscUser" ng-selected="'510 - Fin and HCM Systems' == item.dept" value="510">510 - Fin and HCM Systems</option>
									<option ng-if="sapHscUser" ng-selected="'520 - Data Warehouse' == item.dept" value="520">520 - Data Warehouse</option>
									<option ng-if="sapHscUser" ng-selected="'632 - CONST MANAG' == item.dept" value="632">632 - CONST MANAG</option>
									<option ng-if="sapHscUser" ng-selected="'702 - Chief Operating Officer' == item.dept" value="702">702 - Chief Operating Officer</option>
									<option ng-if="sapHscUser" ng-selected="'703 - BHO Finan' == item.dept" value="703">703 - BHO Finan</option>
									<option ng-if="sapHscUser" ng-selected="'704 - Corp Clin Com' == item.dept" value="704">704 - Corp Clin Com</option>
									<option ng-if="sapHscUser" ng-selected="'865 - BHOH Sleep SW Region' == item.dept" value="865">865 - BHOH Sleep SW Region</option>
									<option ng-if="sapHscUser" ng-selected="'892 - Human Resources' == item.dept" value="892">892 - Human Resources</option>
									<option ng-if="sapHscUser" ng-selected="'900 - Finance and Admin' == item.dept" value="900">900 - Finance and Admin</option>
									<option ng-if="sapHscUser" ng-selected="'902 - Purchasing' == item.dept" value="902">902 - Purchasing</option>
									<option ng-if="sapHscUser" ng-selected="'913 - Legal' == item.dept" value="913">913 - Legal</option>
									<option ng-if="sapHscUser" ng-selected="'914 - Development & Financial Planning' == item.dept" value="914">914 - Development & Financial Planning</option>
									<option ng-if="sapHscUser" ng-selected="'918 - Reimbursement' == item.dept" value="918">918 - Reimbursement</option>
									<option ng-if="sapHscUser" ng-selected="'919 - BHO Dev' == item.dept" value="919">919 - BHO Dev</option>
									<option ng-if="sapHscUser" ng-selected="'933 - Operations' == item.dept" value="933">933 - Operations</option>
									<option ng-if="sapHscUser" ng-selected="'934 - Enterprise Transformation' == item.dept" value="934">934 - Enterprise Transformation</option>
									<option ng-if="sapHscUser" ng-selected="'940 - Corp. IS Security' == item.dept" value="940">940 - Corp. IS Security</option>
									<option ng-if="sapHscUser" ng-selected="'952 - Executive Management' == item.dept" value="952">952 - Executive Management</option>
									<option ng-if="sapHscUser" ng-selected="'953 - Administration' == item.dept" value="953">953 - Administration</option>
									<option ng-if="sapHscUser" ng-selected="'957 - Communications' == item.dept" value="957">957 - Communications</option>
									<option ng-if="sapHscUser" ng-selected="'961 - Compliance' == item.dept" value="961">961 - Compliance</option>
									<option ng-if="sapHscUser" ng-selected="'965 - Purchasing' == item.dept" value="965">965 - Purchasing</option>
									<option ng-if="sapHscUser" ng-selected="'966 - Contributions & Gifts' == item.dept" value="966">966 - Contributions & Gifts</option>
									<option ng-if="sapHscUser" ng-selected="'973 - Benefits Admin' == item.dept" value="973">973 - Benefits Admin</option>
									<option ng-if="sapHscUser" ng-selected="'975 - Employee Relations' == item.dept" value="975">975 - Employee Relations</option>
									<option ng-if="sapHscUser" ng-selected="'976 - Compensation Administration' == item.dept" value="976">976 - Compensation Administration</option>
									<option ng-if="sapHscUser" ng-selected="'978 - Talent Management' == item.dept" value="978">978 - Talent Management</option>
									<option ng-if="sapHscUser" ng-selected="'986 - Payroll' == item.dept" value="986">986 - Payroll</option>
									<option ng-if="sapHscUser" ng-selected="'987 - Insurance Risk' == item.dept" value="987">987 - Insurance Risk</option>
									<option ng-if="sapHscUser" ng-selected="'993 - Accounts Payable' == item.dept" value="993">993 - Accounts Payable</option>
									<option ng-if="sapHscUser" ng-selected="'995 - Human Resources' == item.dept" value="995">995 - Human Resources</option>
									<option ng-if="sapHscUser" ng-selected="'Other' == item.dept" value="Other">Other</option>
								</select>
								<div class="col-xs-12" ng-show="item.showOtherDept">
									<label for="otherDeptText" class="required">Other</label>
									<input ng-model="item.otherDeptText" id="otherDeptText" class="form-control otherText"  type='text' value="{{ item.otherDeptText }}" maxlength="30" />
								</div>
							</div>
							<div class="col-sm-12 col-xs-12 col-md-2" ng-if="sapHscUser || sapBehavioralUser || sapIrfUser || sapAruLtachUser || sapAruUser ||hostHscUser">
								<label style="font-size: 12px" for="glCode" class="required">GL Code</label>
								<select id="glCode" ng-model="item.glCode" class="form-control glCode" ng-required="!hostUser">
									<option ng-if="!hostHscUser" ng-selected="'79016 - Marketing' == item.glCode" value="79016">79016 - Marketing</option>
									<option ng-if="!hostHscUser" ng-selected="'79015 - Employee Relations' == item.glCode" value="79015">79015 - Employee Relations</option>
									<option ng-if="!hostHscUser" ng-selected="'72070 - Office Supplies' == item.glCode" value="72070">72070 - Office Supplies</option>
									<option ng-if="!hostHscUser" ng-selected="'79020 - Other Supplies' == item.glCode" value="79020">79020 - Other Supplies</option>
									<option ng-if="!hostHscUser" ng-selected="'79014 - Public Relations' == item.glCode" value="79014">79014 - Public Relations</option>
									<option ng-if="hostHscUser" ng-selected="'446 - Supplies' == item.glCode" value="446">446 - Supplies</option>
									<option ng-if="hostHscUser" ng-selected="'801 - Recruiting' == item.glCode" value="801">801 - Recruiting</option>
								</select>
							</div>
							<div class="col-sm-12 col-xs-12 col-md-2" ng-if="csUser">
								<label style="font-size: 12px" for="CSglCode" class="required">Billing Code</label>
								<input id="CSglCode" ng-model="item.CSglCode" class="form-control glCode" ng-required="csUser" />
							</div>
							<div class="col-sm-12 col-xs-12 col-md-2" ng-if="hostUser">
								<label style="font-size: 12px" for="hostDept">Dept. Code (3 characters)</label>
								<input ng-maxlength="3" maxlength="3" id="hostDept" ng-model="item.hostDept" class="form-control glCode" />
							</div>

							<div class="col-sm-12 col-xs-12 col-md-2" ng-if="hostUser">
								<label style="font-size: 12px" for="hostGLCode">GL Code/Subaccount (3 characters)</label>
								<input ng-maxlength="3" maxlength="3" id="hostGLCode" ng-model="item.hostGLCode" class="form-control glCode" />
							</div>

							<div class="col-sm-2 col-xs-12" style="margin-left: 10px;">
								<label for="copyToAll">&nbsp;</label>
								<button ng-click="copyToAll(item)" id="copyToAll" class="btn btn-info form-control" type="button"><i class="fa fa-copy"></i> Copy to all</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span class="btn btn-group" ng-if="item.Variant.IsMpowerVariant">
									<button type="button" class="btn btn-default" ng-if="item.SpecsLength > 0" ng-click="item.toggleSpecs = !item.toggleSpecs">
										<span ng-show="!item.toggleSpecs"><i class="fa fa-plus-circle"></i> {{('Show' | r) + ' ' + ('Specification' | r) | xlat}}</span>
										<span ng-show="item.toggleSpecs"><i class="fa fa-minus-circle"></i> {{('Hide' | r) + ' ' + ('Specification' | r) | xlat}}</span>
									</button>
								</span>
								<button ng-if="!item.Variant.IsMpowerVariant" type="button" class="btn btn-default" ng-show="item.SpecsLength > 0" ng-click="item.toggleSpecs = !item.toggleSpecs">
									<span ng-show="!item.toggleSpecs"><i class="fa fa-plus-circle"></i> {{('Show' | r) + ' ' + ('Specification' | r) | xlat}}</span>
									<span ng-show="item.toggleSpecs"><i class="fa fa-minus-circle"></i> {{('Hide' | r) + ' ' + ('Specification' | r) | xlat}}</span>
								</button>
								<ul ng-show="item.toggleSpecs == true" class="list-group">
									<li ng-repeat="spec in item.Specs | filter:{'CanSetForLineItem':true} " class="list-group-item">
										<span class="text-info">{{spec.Label || spec.Name}}: </span>
										<span ng-if="spec.ControlType == 'File'"><a ng-href="{{spec.File.Url}}">{{spec.File.OriginalName + Extension}}</a></span></span>
										<span ng-if="spec.ControlType != 'File'">{{spec.Value || ('(unspecified)' | xlat)}}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-4 col-lg-3">
							<giftcardredemption ng-if="user.Permissions.contains('ViewPromotions')" />
						</div>
						<div class="col-md-3 col-md-offset-5 col-lg-4 text-right" ng-if="!(user.Permissions.contains('HidePricing'))">
							<h4 class="text-primary">
								<strong>{{'Subtotal' | r | xlat}} <span class="text-success">{{currentOrder.Subtotal | culturecurrency}}</span></strong>
							</h4>
							<p ng-show="TaxMethod" ng-if="user.Company.TaxMethod != 'NoTax'">
								<span class="text-info">{{'Shipping, handling and tax may be added to this subtotal.' | r | xlat}}</span>
							</p>
							<button type="button" neworder ng-if="user.Permissions.contains('MultipleShoppingCart') && currentOrder" class="btn btn-default" ng-click="newOrderLoadingIndicator = true;startNewOrder()">
								<loadingindicator  ng-show="newOrderLoadingIndicator" />
								<small>{{"Start" | r | xlat}} {{"New" | r | xlat}} {{"Order" | r | xlat}}</small>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar-fixed-bottom">
				<div class="alert-warning text-center" style="padding: 10px;" ng-if="currentOrder.RepeatError">
					{{'Some items were not added to your repeat order' | r | xlat}}: {{currentOrder.RepeatError}}
				</div>
				<div class="view-response-message alert-success text-center" alert-show="actionMessage">
					<p>{{actionMessage | r | xlat}}</p>
				</div>
				<div class="view-response-message alert-success text-center" alert-show="errorMessage">
					<p>{{errorMessage | r | xlat}}</p>
				</div>
				<div class="view-response-message alert-danger text-center" alert-show="gcMessage">{{gcMessage}}</div>
				<div class="view-error-message" ng-show="cart.$error.required.length > 0">
					<ul class="alert-warning">
						<li class="text-center">
							<span class="badge">
								<i class="fa fa-exclamation-circle fa-inverse"></i>
								{{cart.$error.required.length}}
							</span>
						</li>
						<li class="text-center">
							<ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
								<li ng-if="cart.costcenter.$invalid">{{('Cost Center' | r) + ' is ' + ('Required' | rl) | xlat}}</li>
								<li ng-if="cart.qtyInput.$invalid">{{'You have entered an invalid ' + ('Quantity' | rl) | xlat}}</li>
								<li ng-if="cart.kitValidation.$invalid">{{'The kit has unconfigured items. You must configure them before continuing.' | r | xlat}}</li>
							</ul>
						</li>
						<li class="text-center">
							<a ng-show="cart.$error.required.length + (errorMessage ? 1 : 0) > 1">
								<i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
								<i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
							</a>
						</li>
					</ul>
				</div>
				<orderbuttons view="cart" continue="true"></orderbuttons>
			</div>
		</form>
	</div>
	<cartprint class="visible-print" />
</section>
<script>
	$(document).ready(function () {
		setTimeout(function() {
			$('#glCode').select2();
			$('#dept').select2();
			$('#facilityNumber').select2();
		}, 1000);

	})
</script>
