<div class="visible-desktop" id="451_lbl_curcat" ng-show="currentCategory.Name || currentCategory.Image">
    <h4>{{currentCategory.Name}}</h4>
</div>

<div id="451_lbl_subcatlist" ng-show=currentCategory.SubCategories>
    <ul>
        <li ng-repeat="c in currentCategory.SubCategories">
            <a href="#/catalog/{{c.InteropID}}">
                <img ng-src="{{c.Image.URL}}"/>{{c.Name}}</a>
        </li>
    </ul>
</div>

<div id="451_lst_prod">
	<span class="span4 thumbnail" ng-repeat="product in products">
		<shortproductview p="product" />
	</span>
</div>









