<div class="panel panel-default" ng-show="currentCategory.SubCategories.length">
	<div class="panel-heading" >
		<h3 class="panel-title" >
			{{'Categories' | r | xlat}}
		</h3>
	</div>
	<div class="well" ng-show="productCount > settings.pageSize">
		<pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
					items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
	</div>
	<div class="panel-category-list">
		<loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
		<div class="451_lbl_subcatlist catList">
			<a class="categoryItem" ng-href="catalog/{{c.InteropID}}" class="well" ng-bind-html="c.Name" ng-repeat="c in currentCategory.SubCategories"></a>
		</div>
	</div>
	<div class="well" ng-show="productCount > settings.pageSize">
		<pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
					items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
	</div>
</div>
