  <nav class="nav ">
        <ul>
            <li class="nav-header icon-eye-open visible-desktop details-show" ng-click="showMega = ! showMega" href="#" style="display: block; font-size: 18px;cursor: pointer;"></li>
            <li class="favorites " ng-class="getClass('/catalog')"> <a href="#/catalog"><span class="icon"><i class="icon-folder-open"></i></span> Products</a> {{currentCategory.Name}}</li>
            <li class="search-products"><a href="#/search"><span class="icon"><i class="icon-search"></i></span> Search <i class="icon-caret-down"></i></a></li>
        </ul>
    </nav>

<!--- some partials may have their own sideNav of sub navigation, much like current COS replaces side nav with different links based on page, in this case I only want catalog/product links on the catalog pages and will create a catalognav partial
<div>
    <ng-include src="'partials/sideNav.html'" />
</div>
--->
  <div class="container-fluid product-navigation product-navigation-top" ng-class="{ 'hidden': ! showMega }">
      <nav class="nav 451_cat_nav">
          <div class="nav-header hidden-desktop favorites" ng-show="user.CurrentOrderID"> <a href="#/favoriteorders">View Favorite Orders</a></div>

          <ul>
              <li class="nav-header icon-caret-down visible-desktop details-show" ng-click="showDetails = ! showDetails" href="#"></li>

              <li class="nav-header animated fadeInRight 451_cat_item" ng-class="getClass('/catalog/{{category.InteropID}}')" ng-repeat="category in tree" ng-include="'categoryTemplate.html'"></li>
          </ul>
      </nav>
  </div>
  <script type="text/ng-template" id="categoryTemplate.html">
      <a ng-href=#/catalog/{{category.InteropID}}>{{category.Name}}</a>
      <ul ng-if="category.SubCategories.length" class="product-nav-details" ng-class="{ 'hidden': ! showDetails }" >
          <li ng-class="getClass('/catalog/{{category.InteropID}}')" ng-repeat="category in category.SubCategories" ng-include="'categoryTemplate.html'"></li>
      </ul>
  </script>

<div class="container-fluid category-product product-navigation" ng-show=currentCategory.SubCategories>
    <div class="451_lbl_curcat" ng-show="currentCategory.Name || currentCategory.Image">

    </div>
    <nav class="nav 451_lbl_subcatlist">
        <ul>
            <li class="nav-header" ng-repeat="c in currentCategory.SubCategories">
                <a ng-href="#/catalog/{{c.InteropID}}">
                    <img ng-src="{{c.Image.URL}}"/>
                    <hr />
                    {{c.Name}}</a>
            </li>
        </ul>
    </nav>
</div>

<div id="451_lst_prod" class="container-content">
	<span class="category-well span4 well" ng-repeat="product in products">
		<shortproductview p="product" />
	</span>
</div>









