<section class="container category-view">
    <nav class="nav nav-cat-search">
        <hr />
            <ul>
                <li class="nav-header hidden-sm hidden-xs details-show" ng-click="showMega = ! showMega" href="#" style="display: block; font-size: 18px;cursor: pointer;"><i class="fa fa-plus"></i></li>
                <li class="current-cat-name">{{currentCategory.Name}}<span ng-show="!currentCategory">Categories</span></li>
                <li class="search">
                    <a href="#/search"><i class="fa fa-search"></i><span class="hidden-sm hidden-xs">Search</span></a>
                </li>
            </ul>
        <hr />
    </nav>
    <aside class="product-navigation col-sm-3" ng-class="{ 'hidden': ! showMega }">
        <nav class="nav 451_cat_nav">
            <ul class="details-nav">
                <li class="nav-header visible-md visible-lg details-show" ng-click="showDetails = !showDetails"><i class="fa fa-caret-down"></i></li>
                <li class="nav-header 451_cat_item"><div class="catDropdown" ng-class="{ 'open': ! showDetails }"><categorytree tree='tree' current='currentCategory' /></div></li>
            </ul>
        </nav>
    </aside>
    <div class="cat-body" ng-class="{ 'col-sm-9': showMega }">
        <div class="category-product product-navigation" ng-show=!currentCategory>
            <div class="451_lbl_curcat" ng-show="currentCategory.Name || currentCategory.Image"></div>
            <nav class="nav 451_lbl_subcatlist">
                <ul>
                    <li class="nav-header well col-lg-3 col-md-4  col-sm-6 col-xs-12" ng-repeat="c in tree" >
                        <a class="cat-link" ng-href="#/catalog/{{c.InteropID}}">
                            <figure ng-show="c.Image.URL" class="cat-image" ng-swipe-left="showSwipe = true" ng-swipe-right="showSwipe = false">
                                <img ng-src="{{c.Image.URL}}"/>
                            </figure>
                            <div class="empty" ng-show="!c.Image.URL" ng-swipe-left="showSwipe = true" ng-swipe-right="showSwipe = false">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>
                            <div ng-show="showSwipe">
                                <figcaption class="category-description">{{c.Description}}</figcaption>
                            </div>
                            <div ng-bind-html="c.Name"></div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="category-product product-navigation" ng-show=currentCategory>
            <div class="451_lbl_curcat" ng-show="currentCategory.Name || currentCategory.Image"></div>
            <h3 ng-show="currentCategory.SubCategories">Categories</h3>
            <nav class="nav 451_lbl_subcatlist">
                <ul>
                    <li class="nav-header well col-lg-3 col-md-4  col-sm-6 col-xs-12" ng-repeat="c in currentCategory.SubCategories">
                        <a class="cat-link" ng-href="#/catalog/{{c.InteropID}}">
                            <figure ng-show="c.Image.URL" class="cat-image" ng-swipe-left="showSwipe = true" ng-swipe-right="showSwipe = false">
                                <img ng-src="{{c.Image.URL}}"/>
                            </figure>
                            <div class="empty" ng-show="!c.Image.URL" ng-swipe-left="showSwipe = true" ng-swipe-right="showSwipe = false">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>
                            <div ng-show="showSwipe">
                                <figcaption class="category-description">{{c.Description}}</figcaption>
                            </div>
                            <div>{{c.Name}}</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="451_lst_prod" class="product-navigation" ng-if="currentCategory">
            <h3 ng-show="products">Products</h3>
            <nav class="nav">
                <ul>
                    <li class="nav-header well col-lg-3 col-md-4  col-sm-6 col-xs-12" ng-repeat="product in products"> <shortproductview p="product" /></li>
                </ul>
            </nav>
        </div>
    </div>
</section>