<div id="451_lbl_curcat" ng-show="currentCategory.Name || currentCategory.Image">
    current category: <b>{{currentCategory.Name}}</b>
</div>

<div id="451_lbl_subcatlist" ng-show=currentCategory.SubCategories>
    <hr>
    <b>sub categories</b>
    <ul>
        <li ng-repeat="c in currentCategory.SubCategories">
            <a href="#/catalog/{{c.InteropID}}">
                <img ng-src="{{c.Image.URL}}"/>{{c.Name}}</a>
        </li>
    </ul>
</div>

<span id="451_lst_prod">
	<span ng-repeat="product in products">
		<hr><shortproductview p="product" />
	</span>
</span>









