<div class="panel panel-default ng-scope">
    <div class="panel-heading">
        <h3 class="panel-title panel-primary visible-xs visible-sm ng-binding">My Account</h3>
        <h3 class="panel-title panel-primary visible-md visible-lg ng-binding">Contact Us</h3>
    </div>
    <div class="panel-body">
        <accountnavigation />
        <p>Contact ....</p>
        <p>
            <a href="tel:">
                <i class="fa fa-phone fa-2x"></i>
                <span class="mobile"></span>
            </a>
        </p>
        <p>
            <a href="mailto:">
                <i class="fa fa-envelope-o fa-2x"></i>
                <span class="email"></span>
            </a>
        </p>
    </div>
</div>