<footer class="container copyright-view">
    <div class="col-md-4 col-md-offset-1 col-md-push-7">
        <div class="row">
            <p class="text-center">
                <a href="http://www.four51.com" target="_blank">
                    <i class="fa fa-cloud"></i><br />
                    <strong>{{'Powered by' | xlat}} Four51°</strong>
                </a>
            </p>
            <p class="text-center">
                {{'Copyright' | xlat}} © {{year}}<br /> Four51 Inc. <br>{{'All Rights Reserved' | xlat}}.<br />
                <span ng-if="!(user.Permissions.contains('HideTerms'))">
                    <a class="btn btn-default btn-sm" href="conditions">
                        {{'Conditions of Use' | xlat}}
                    </a>
                </span>
            </p>
        </div>
    </div>
</footer>