<div class="container-fluid" modal="isError" close="close()" options="opts">
    <h3 class="text-center">{{error.Message}}</h3>
    <div class="well" ng-show="error.Detail">
        <h5>{{error.Detail}}</h5>
        <h6 ng-show="error.Code">{{'(' + error.Code + ')'}}</h6>
    </div>
    <div ng-show="error.StackTrace">
        <label><small class="text-warning" ng-click="isCollapsed = !isCollapsed">Stack Trace</small></label>
        <p class="help-block" collapse="!isCollapsed"><small class="text-error">{{error.StackTrace}}</small></p>
    </div>
</div>