<section class="container favorite-order-list-view">
    <nav class="nav nav-cat-search visible-xs">
        <hr />
        <span class="btn-group">
            <button class="btn btn-default" ng-class="{'active': isActive('order')}" redirect="/order">Orders</button>
            <button class="btn btn-default" ng-class="{'active': isActive('favoriteorders')}" redirect="/favoriteorders">Favorites</button>
        </span>
        <hr />
    </nav>
    <div class="panel panel-default" ng-if="favoriteorders.length == 0">
        <div class="panel-heading">
            <h3 class="panel-title panel-primary">Favorite Orders</h3>
        </div>
        <div class="panel-body">
            <p class="alert alert-warning">You have no favorite orders yet!</p>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" ng-click="saveFavoriteNow()">View orders</button>
        </div>
    </div>
    <div class="panel panel-default" ng-if="favoriteorders.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title panel-primary">Favorite Orders</h3>
        </div>
        <div class="panel-body">
            <!--- TODO table needs to redone as Bootstrap responsive layout, see cartView.html for example --->
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <td colspan="6" class="view-form-icon">
                        <div>
                            <input class="form-control" type="text" placeholder="Search" ng-model="searchTerm" />
                            <i class="fa fa-search"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><input type='checkbox' ng-click="checkAll($event)" /></td>
                    <td>Name</td>
                    <td>Order ID</td>
                    <td>Date Completed</td>
                    <td>Order Type</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in favoriteorders | filter:searchTerm">
                    <td><input type='checkbox' ng-model="order.Selected" /></td>
                    <td>{{order.FavoriteName}}</td>
                    <td><a ng-href="#/order/{{order.ID}}">{{order.ExternalID}}</a></td>
                    <td>{{order.DateCompleted | date:'medium'}}</td>
                    <td>{{order.Type}}</td>
                    <td><button ng-disabled="currentOrder" type="button" class="btn btn-default" ng-click="repeat(order)">Repeat Order</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-small btn-danger" ng-click="deleteSelected($event)">Delete Selected</button>
        </div>
    </div>
</section>