<div>
    <p><img src="/Images/Product/{{order.LineItems[lineItemIndex].LargeImageFile.FileName}}"</p>
    <p>Product ID: {{order.LineItems[lineItemIndex].Variant.ExternalID}}</p>
    <p ng-show="order.LineItems[lineItemIndex].SupplierPartID">{{order.LineItems[lineItemIndex].SupplierPartID}}</p>
    <p ng-bind-html-unsafe='order.LineItems[lineItemIndex].Product.Description'></p>

    <priceScheduleTable ps='order.LineItems[lineItemIndex].PriceSchedule' p='order.LineItems[lineItemIndex].Product' />
</div>