<div>
    <p><img src="/Images/Product/{{order.LineItems[lineItemIndex].LargeImageFile.FileName}}"</p>
    <p>Product ID: {{order.LineItems[lineItemIndex].Variant.ExternalID}}</p>
    <p ng-show="order.LineItems[lineItemIndex].SupplierPartID">{{order.LineItems[lineItemIndex].SupplierPartID}}</p>
    <p ng-bind-html-unsafe='order.LineItems[lineItemIndex].Product.Description'></p>
    <table ng-show="hasPriceSchedule()" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>Quanity</td><td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="break in order.LineItems[lineItemIndex].PriceSchedule.PriceBreaks">
                <td>{{break.Quantity}}</td><td>{{break.Price | currency:"$"}}</td>
            </tr>
        </tbody>
    </table>
</div>