<div id="login_form" class="animated bounceIn">
    <form class="form-signin" ng-submit="login()" name="LoginForm">
        <h2 class="form-signin-heading animated fadeIn" style="text-align: center; color:#ECF8FF; text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);"><i class="icon-cloud"></i><br />Order Cloud</h2>

        <p class="alert-error">{{errorMessage}}</p>
        <input autofocus class="input-block-level" type="text" ng-model="user.Username" placeholder="Username" />
        <input class="input-block-level" type="password" ng-model="user.Password" placeholder="Password" />
        <input class="btn btn-large btn-primary btn-block" id="451_btn_login" type="submit" value="Login" />
    </form>
</div>