<section class="container">
    <accountnavigation />
    <div id="451_msg_read" ng-hide="replying">
        <label">Date: {{message.DateSent | date:'medium'}}</label><br />
        <label>To: {{message.ToName}}</label><br />
        <label>From: {{message.FromName}}</label><br />
        <label>Subject: {{message.Subject}}</label><br />
        <span><pre>{{message.Body}}</pre></span><br />
        <span>
            <button id="451_btn_del" ng-click="delete($event)" type="button" class="btn btn-small btn-danger">Delete</button>
            <button id="451_btn_reply" ng-show="canReply()" type="button" class="btn btn-small btn-info" ng-click="replying = !replying">Reply</button>
            <button id="451_btn_ok" ng-click="ok()" type="button" class="btn btn-small btn-success">OK</button>
        </span>
    </div>

    <div id="451_msg_reply" ng-show="replying">
        <label>To: {{message.FromName}}</label>
        <label>Subject</label><input id="451_inp_subj" type="text" ng-model="message.Subject" value="{{'RE: ' + message.Subject}}" />
        <label>Body</label><span><textarea id="451_inp_body" style="width: 500px; height: 300px;" ng-model="message.Body" /></span>
        <br />
        <span>
            <button type="button" id="451_btn_cancel" class="btn btn-small btn-warning" ng-click="replying = !replying">Cancel</button>
            <button type="button" id="451_btn_send" class="btn btn-small btn-primary" ng-click="send($event)">Send</button>
        </span>
    </div>
</section>