<section>
    <accountnavigation />
    <div class="panel panel-default" ng-if="messages.length == 0">
        <div class="panel-heading">
            <h3 class="panel-title">Messages</h3>
        </div>
        <div class="panel-body">
            <p class="alert alert-warning">You have no messages yet!</p>
        </div>
    </div>
    <div class="panel panel-default" ng-if="messages.length > 0">
        <loadingindicator ng-show="displayLoadingIndicator" />
        <div class="panel-heading">
            <h3 class="panel-title">Messages</h3>
        </div>
        <div class="panel-body view-form-icon">
            <div>
                <label ng-show="searchTerm">Search</label>
                <input class="form-control" type="text" placeholder="Search" ng-model="searchTerm" autocomplete="off" />
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="panel-table">
            <div class="row text-info">
                <div class="col-sm-2">
                    <label class="visible-xs">Select all</label>
                    <input id="451_chk_all" type='checkbox' ng-click="checkAll($event)" />
                </div>
                <div class="col-sm-2 hidden-xs">Status</div>
                <div class="col-sm-2 hidden-xs">Date</div>
                <div class="col-sm-2 hidden-xs">Subject</div>
                <div class="col-sm-2 hidden-xs">From</div>
             </div>
            <div id="451_list_msg" class="row" ng-repeat="message in messages | filter:searchTerm">
                <div class="col-sm-2">
                    <input type='checkbox' ng-model="message.Selected" />
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs text-info">Status</span>
                    {{message.Box}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs text-info">Date</span>
                    {{message.DateSent | date: 'medium'}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs text-info">Subject</span>
                    <a ng-href="#/message/{{message.ID}}">
                        {{message.Subject}}
                    </a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs text-info">From</span>
                    {{message.FromName}}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button id="451qa_btn_delmsg" type="button" class="btn btn-danger" ng-click="deleteSelected($event)" ng-show="(messages | filter:searchTerm | filter:{Selected:true}).length > 0">Delete Selected</button>
        </div>
    </div>
</section>