<header class="header">
    <div class="navbar-inner navbar-fixed-top">
        <div class="container-fluid admin-navigation">
            <div class="user-links">
                    <ul class="nav">
                        <li class="divider-vertical visible-desktop" />
                        <li class="dropdown admin-user ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><span class="hidden-phone hidden-tablet">Admin</span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="nav-header">Admin</li>
                                <li class="admin"><a href="#/admin">User Information</a></li>
                                <li class="addresses"><a href="#/addresses">Addresses</a></li>
                                <li class="messages"><a href="#/message">Messages</a></li>
                                <li class="contact hidden-desktop"><a href="#">Contact</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Reports</li>
                                <li class="orders"><a href="#/order">Orders</a></li>
                                <li class="favorites hidden-desktop"><a href="#/favoriteorders">Favorites</a></li>
                                <li class="divider hidden-desktop"></li>
                                <li class="logout hidden-desktop"><a href="#" class="451_btn_logout" ng-click="Logout()"><i class="icon-off"></i>Log Out</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical visible-desktop" />
                        <li class="contact visible-desktop"><a href="#"><i class="icon-envelope-alt"></i></a></li>
                        <li class="divider-vertical visible-desktop" />
                        <li class="logout visible-desktop"><a href="#" class="451_btn_logout" ng-click="Logout()"><i class="icon-off"></i></a></li>
                        <li class="divider-vertical" />
                    </ul>
                <a class="brand" ng-show="Four51User.current" href="#/catalog" ng-click="refresh($event)"><i class="icon-cloud"></i> <span class="brand-name">{{'Welcome ' + Four51User.current.FirstName + " " + Four51User.current.LastName}}</span></a>
            </div>
            <ul class="nav nav-search">
                <li class="divider-vertical" />
                <li><a href="#"><span class="icon"><i class="icon-search"></i></span></a></li>
                <li class="divider-vertical hidden-tablet hidden-phone"></li>
            </ul>
        </div>
    </div>
    <div scroll-position="scroll" class="container-fluid content-navigation animated" ng-class="{fadeOutUpBig: scroll > 210, fadeIn: scroll <= 210}">
        <nav class="nav">
            <ul>
                <li ng-show="Four51User.current.CurrentOrderID" class="favorites hidden-tablet hidden-phone"> <a href="#/favoriteorders"><span class="icon"><i class="icon-star"></i></span>Favorites</a></li>
                <li ng-show="Four51User.current.CurrentOrderID" class="cart"><a href="#/cart"><span class="icon"><i class="icon-shopping-cart"></i></span>View Cart</a></li>
                <li ng-show="Four51User.current.CurrentOrderID" class="checkout"><a href="#/checkout"><span class="icon"><i class="icon-dollar"></i></span>Checkout</a></li>
            </ul>
        </nav>
    </div>
</header>
