
<div class="navbar-inner">
    <div id="451_topnav" class="container-fluid">
        <a class="brand" ng-show="Four51User.current" href="#" ng-click="refresh($event)">{{'Welcome, ' + Four51User.current.FirstName + " " + Four51User.current.LastName}}</a>
        <ul class="nav">
            <li><a href="#/catalog">Category</a></li>
            <li class="divider-vertical" />
            <li><a href="#/cart">View Cart</a></li>
            <li class="divider-vertical" />
            <li><a href="#/order">Orders</a></li>
            <li class="divider-vertical" />
            <li><a href="#/message">Message</a></li>
            <li class="divider-vertical" />
            <li><a href="#/admin">Profile</a></li>
            <li class="divider-vertical" />
            <li><a href="#/addresses">Addresses</a></li>
            <li class="divider-vertical" />
            <li><a href="#" id="451_btn_logout" ng-click="Logout()">Log Out</a></li>
        </ul>
    </div>
</div>
