<header class="header">
<div class="navbar-inner">
    <div class="container-fluid admin-navigation">
        <a class="brand" ng-show="Four51User.current" href="#" ng-click="refresh($event)"><i class="icon-cloud"></i> {{'Welcome ' + Four51User.current.FirstName + " " + Four51User.current.LastName}}</a>
        <ul class="nav user-links">
            <li class="divider-vertical" />
            <li class="admin"><a href="#/admin"><i class="icon-user"></i></a></li>
            <li class="divider-vertical" />
            <li class="contact"><a href="#"><i class="icon-envelope-alt"></i></a></li>
            <li class="divider-vertical" />
            <li class="logout"><a href="#" id="451_btn_logout" ng-click="Logout()"><i class="icon-off"></i></span></a></li>
            <li class="divider-vertical" />
        </ul>
        <ul class="nav">
            <li class="divider-vertical" />
            <li><a href="#"><span class="icon"><i class="icon-search"></i></span></a></li>
        </ul>
    </div>
</div>
<div class="container-fluid content-navigation">
    <nav class="nav">
        <ul><!--- default content-navigation is styled up to eight li a tags --->
            <li class="category"><a href="#/catalog"><span class="icon"><i class="icon-folder-open"></i></span>Categories</a></li>
            <li class="orders"><a href="#/order"><span class="icon"><i class="icon-bar-chart"></i></span>Orders</a></li>
            <li class="cart"><a href="#/cart"><span class="icon"><i class="icon-shopping-cart"></i></span>View Cart</a></li>
        </ul>
    </nav>
</div>
</header>