<div class="stat_container">
    <div class="stat_header">{{standardorders}}</div>
    <ul class="stat_items">
        <li ng-repeat="stat in orderstats | orderstatsFilter:'Standard'">
            <span>{{stat.Type}}</span> | <span>{{stat.Direction}}</span> | <span>{{stat.Status}}</span> | <span>{{stat.Count}}</span>
        </li>
    </ul>

    <div class="stat_header">{{Token}}</div>
    <ul class="stat_items">
        <li ng-repeat="stat in orderstats | orderstatsFilter:'Replenishment'">
            <span>{{stat.Type}}</span> | <span>{{stat.Direction}}</span> | <span>{{stat.Status}}</span> | <span>{{stat.Count}}</span>
        </li>
    </ul>

    <button type="button" class="btn btn-primary" ng-click="openDialog()">Open Dialog</button>

</div>
