<div class="span2">
    <h3>Incoming Orders</h3>
    <div>
        <ul class="well unstyled">
            <h5>Standard Orders</h5>
            <li ng-repeat="criteria in OrderSearchCriteria | orderstats:'Standard'">
                <span>{{criteria.Status}} <a ng-href="#" ng-click="OrderSearch($event,{{criteria}})">({{criteria.Count}})</a></span>
            </li>
        </ul>
    </div>
    <div>
        <ul class="well unstyled">
            <h5>Replenishment Orders</h5>
            <li ng-repeat="criteria in OrderSearchCriteria | orderstats:'Replenishment'">
                <span>{{criteria.Status}} <a ng-href="#" ng-click="OrderSearch($event,{{criteria}})">({{criteria.Count}})</a></span>
            </li>
        </ul>
    </div>
    <div>
        <ul class="well unstyled">
            <h5>Price Request</h5>
            <li ng-repeat="criteria in OrderSearchCriteria | orderstats:'PriceRequest'">
                <span>{{criteria.Status}} <a ng-href="#" ng-click="OrderSearch($event,{{criteria}})">({{criteria.Count}})</a></span>
            </li>
        </ul>
    </div>
</div>
<div class="span5">
    <h3>Order Search</h3>
    <input type="text" ng-model="criteria.OrderID" placeholder="Order ID" />
    <input type="text" ng-model="criteria.ShippingAddress" placeholder="Shipping Address" />
    <input type="text" ui-date ng-model="criteria.DateRangeFrom" placeholder="From:" /><input type="text" ui-date ng-model="criteria.DateRangeTo" placeholder="To:" />
    <input type="text" ng-model="criteria.LastN" placeholder="Last n Orders:" />
    <input class="btn btn-medium btn-primary" value="Search" ng-click="OrderSearch($event, criteria)" />
</div>


<div class="span10" ng-show='displayOrders'>
    <table class="table table-striped table-hover table-bordered">
        <thead>{{orderSearchStat.Type}} - {{orderSearchStat.Status}}
            <tr>
                <td>ID</td><td>Type</td><td>Status</td><td>Submitted By</td><td>DateCreated/Submitted</td><td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders" ng-animate="'slide'">
                <td><a ng-href="#/order/{{order.ID}}">{{order.ExternalID}}</a></td>
                <td>{{order.Type}}</td>
                <td>{{order.Status}}</td>
                <td>{{order.FromUserFirstName + ' ' + order.FromUserLastName}}</td>
                <td>{{order.DateSubmitted || order.DateCreated | date:'short'}}</td>
                <td>{{order.Total | currency:"$"}}</td>
            </tr>
        </tbody>
    </table>
</div>
