<b>details</b>
orderID: {{order.ID}}<br />
PO ID: <input type="text" ng-Model="order.POID" /><br />
Billing City: <input type="text" ng-Model="order.BillingAddress.City" /><br />
Billing State: <input type="text" ng-Model="order.BillingAddress.State" /><br />
Order comments: <textarea ng-Model="order.Comments" ></textarea><br />
<hr />
<span style="color:red" ng-click="addLineItem()" >add line item</span>
<ul>
	<li ng-repeat="item in order.LineItems">
		<span ng-click="editItem = !editItem" style="color:red">edit</span>
		<span ng-show="editItem">
		ProductID: <input type="text" ng-model="item.ProductID" />
		Cost Center: <input type="text" ng-model="item.CostCenter" />
		Quantity: <input type="text" ng-model="item.Quantity" />
		Shipping: street1: <input type="text" ng-model="item.ShippingAddress.Street1" />, street2: <input type="text" ng-model="item.ShippingAddress.Street2" />, city: <input type="text" ng-model="item.ShippingAddress.City" />
		</span>
		
		<span ng-show="!editItem">
			ProductID: {{item.ProductID}}
			Cost Center: {{item.CostCenter}}
			Quantity: {{item.Quantity}}
			Shipping: address {{item.ShippingAddress.Street1}}, {{item.ShippingAddress.Street2}}, {{item.ShippingAddress.City}}
		</span>

		
		
		<span ng-click="removeLineItem($index)" style="color:red">delete line</span>
		
	</li>

</ul>

Shipping Total: {{order.ShippingTotal}}<br />

<button ng-click="saveCurrentOrder()">Save!</button>
<button ng-click="startNewOrder()">Start blank order</button>