<h3>Incoming Orders</h3>
<div class="span2">
    <ul class="well">
        <h5>Standard Orders</h5>
        <li ng-repeat="stat in OrderStats | orderstats:'Standard'">
            <span>{{stat.Status}} <a href="#" ng-click="OrderSearch($event,{{stat}})">({{stat.Count}})</a></span>
        </li>
    </ul>
</div>
<div class="span3">
    <ul class="well">
        <h5>Replenishment Orders</h5>
        <li ng-repeat="stat in OrderStats | orderstats:'Replenishment'">
            <span>{{stat.Status}} <a href="#" ng-click="OrderSearch($event,{{stat}})">({{stat.Count}})</a></span>
        </li>
    </ul>
</div>
<div class="span4">
    <ul class="well">
        <h5>Price Request</h5>
        <li ng-repeat="stat in OrderStats | orderstats:'PriceRequest'">
            <span>{{stat.Status}} <a href="#" ng-click="OrderSearch($event,{{stat}})">({{stat.Count}})</a></span>
        </li>
    </ul>
</div>

<div class="span10" ng-show='displayOrders'>
    <table class="table table-striped table-hover table-bordered">
        <thead>{{orderSearchStat.Type}} - {{orderSearchStat.Status}}
            <tr>
                <td>ID</td><td>Type</td><td>Status</td><td>Submitted By</td><td>DateCreated/Submitted</td><td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders">
                <td><a href="#/order/{{order.ID}}">{{order.ExternalID}}</a></td>
                <td>{{order.Type}}</td>
                <td>{{order.Status}}</td>
                <td>{{order.FromUserFirstName + ' ' + order.FromUserLastName}}</td>
                <td>{{order.DateSubmitted || order.DateCreated | date:'short'}}</td>
                <td>{{order.Total | currency:"$"}}</td>
            </tr>
        </tbody>
    </table>
</div>