<section class="container order-search-view">
    <nav class="nav nav-cat-search visible-xs" ng-show="hasStandardTypes || hasReplenishmentTypes || hasPriceRequestTypes">
        <hr />
        <span class="btn-group">
            <button class="btn btn-default" ng-class="{'active': isActive('order')}" redirect="/order">Orders</button>
            <button class="btn btn-default" ng-class="{'active': isActive('favoriteorders')}" redirect="/favoriteorders">Favorites</button>
        </span>
        <hr />
    </nav>
    <div class="panel panel-default" ng-if="!hasStandardTypes && !hasReplenishmentTypes && !hasPriceRequestTypes">
        <div class="panel-heading">
            <h3 class="panel-title">Orders</h3>
        </div>
        <div class="panel-body">
            <p class="alert alert-warning">You have no orders yet!</p>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary pull-right" redirect="catalog">Continue Shopping</button>
        </div>
    </div>
    <div class="order-types">
        <div class="panel panel-default" ng-show="hasStandardTypes">
            <div class="panel-heading">
                <h3 class="panel-title">Standard Orders</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="criteria in OrderSearchCriteria | filter:{Type:'Standard'}" ng-show="criteria.Count">
                        <a ng-href="#" ng-click="OrderSearch($event,{{criteria}})">{{criteria.DisplayName}} <span class="badge">{{criteria.Count}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default" ng-show="hasReplenishmentTypes">
            <div class="panel-heading">
                <h3 class="panel-title">Replenishment Orders</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="criteria in OrderSearchCriteria | filter:{Type:'Replenishment'}" ng-show="criteria.Count">
                        <a ng-href="#" ng-click="OrderSearch($event,{{criteria}})">{{criteria.DisplayName}} <span class="badge" >{{criteria.Count}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default" ng-show="hasPriceRequestTypes">
            <div class="panel-heading">
                <h3 class="panel-title">Price Request</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="criteria in OrderSearchCriteria | filter:{Type:'PriceRequest'}" ng-show="criteria.Count">
                        <a ng-href="#" ng-click="OrderSearch($event,{{criteria}})">{{criteria.DisplayName}} <span clas="badge">{{criteria.Count}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="hasStandardTypes || hasReplenishmentTypes || hasPriceRequestTypes">
        <div class="panel-heading">
            <h3 class="panel-title">Search Orders</h3>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="col-xs-12  col-sm-9 col-collapse view-form-icon">
                <div class="form-group">
                    <label ng-show="criteria.OrderID">Order ID</label>
                    <input class="form-control" type="text" ng-model="criteria.OrderID" placeholder="Order ID" />
                    <i class="fa">#</i>
                </div>
                <div class="form-group">
                    <label ng-show="criteria.ShippingAddress">Shipping Address</label>
                    <input class="form-control" type="text" ng-model="criteria.ShippingAddress" placeholder="Shipping Address" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="form-group">
                    <label ng-show="criteria.DateRangeFrom">From</label>
                    <input type="text" class="form-control" ui-date="{ dateFormat: 'mm/dd/yy' }" ui-date-format ng-model="criteria.DateRangeFrom" placeholder="From" />
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="form-group">
                    <label ng-show="criteria.DateRangeTo">To</label>
                    <input type="text" class="form-control" ui-date="{ dateFormat: 'mm/dd/yy' }" ui-date-format ng-model="criteria.DateRangeTo" placeholder="To" />
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
                <div class="col-xs-12 col-sm-3 view-order-last-count">
                    <div class="text-info text-center">
                        <p><i class="fa fa-info-circle" style="position: relative;top: 0; left: 0;color:#3A87AD;"></i>
                        <strong> Only</strong> display last</p>
                    </div>
                    <div class="view-form-icon">
                        <div>
                            <label ng-show="criteria.LastN"># of Orders</label>
                            <input class="form-control" type="text" ng-model="criteria.LastN" placeholder="Number of Orders" />
                            <i class="fa fa-edit"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary pull-right" ng-click="OrderSearch($event, criteria)">Search</button>
        </div>
    </div>
    <div class="panel panel-default" ng-show="showNoResults">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="alert alert-info">
                    No Search Results Found
                </span>
            </h3>
        </div>
    </div>
    <div class="panel panel-default" ng-show="orders">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="text-info" ng-show="orderSearchStat.Type">
                    {{orderSearchStat.Type}} orders:
                </span>
                {{orderSearchStat.DisplayName}}
                <span ng-show="!orderSearchStat.Type">
                    Search Results
                </span>
            </h3>
        </div>
        <!--- TODO template this as a 451 table-block example--->
        <div class="panel-body">
            <div class="row hidden-xs text-info">
                <div class="col-xs-12 col-sm-2">ID</div>
                <div class="col-xs-12 col-sm-2">Type</div>
                <div class="col-xs-12 col-sm-2">Status</div>
                <div class="col-xs-12 col-sm-2">Submitted By</div>
                <div class="col-xs-12 col-sm-2">Submitted Date</div>
                <div class="col-xs-12 col-sm-2" ng-if="!(user.Permissions.contains('HidePricing'))">Total</div>
            </div>
            <div class="row view-table-row" ng-repeat="order in orders">
                <div class="col-xs-12 col-sm-2">
                    <span class="visible-xs text-info">ID</span>
                    <a ng-href="#/order/{{order.ID}}">{{order.ExternalID}}</a>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <span class="visible-xs text-info">Type</span>
                    {{order.Type}}
                </div>
                <div class="col-xs-12 col-sm-2">
                     <span class="visible-xs text-info">Status</span>
                    {{order.StatusText}}
                </div>
                <div class="col-xs-12 col-sm-2">
                    <span class="visible-xs text-info">Submitted By</span>
                    {{order.FromUserFirstName + ' ' + order.FromUserLastName}}
                </div>
                <div class="col-xs-12 col-sm-2">
                    <span class="visible-xs text-info">Submitted Date</span>
                    {{order.DateSubmitted || order.DateCreated | date:'short'}}
                </div>
                <div class="col-xs-12 col-sm-2" ng-if="!(user.Permissions.contains('HidePricing'))">
                    <span class="visible-xs text-info">Total</span>
                    {{order.Total | currency:"$"}}
                </div>
            </div>
        </div>
    </div>
</section>