<div class="price-schedule-view" ng-show="ps && p">
    <span class="text-info">Price</span>
    <!--- example of 2 column responsive tabular structure --->
    <div id="451_list_pric_schd">
        <div class="row">
            <div class="col-xs-6">Quantity <span ng-show="p.QuantityMultiplier > 1 && !ps.RestrictedQuantity"> (x {{p.QuantityMultiplier}})</span></div>
            <div class="col-xs-6">Price <span ng-show="p.QuantityMultiplier > 1 && !ps.RestrictedQuantity" > (per {{p.QuantityMultiplier}})</span></div>
        </div>
        <div class="row" ng-repeat="pb in ps.PriceBreaks">
            <div class="col-xs-6">{{pb.Quantity * (ps.RestrictedQuantity ? p.QuantityMultiplier : 1)}}
                    <span ng-show="!ps.RestrictedQuantity">
                        <span ng-show="ps.PriceBreaks[$index + 1].Quantity"> - {{ ps.PriceBreaks[$index + 1].Quantity - 1  }}</span>
                        <span ng-show="$last && ps.MaxQuantity"> - {{ps.MaxQuantity}}</span>
                        <span ng-show="$last && !ps.MaxQuantity"> +</span>
                    </span>
            </div>
            <div class="col-xs-6">{{pb.Price * (ps.RestrictedQuantity ? pb.Quantity : 1)| currency}}</div>
        </div>
    </div>
</div>

