
<span ng-show="ps && p">
Price:
<table border=1 id="451_list_pric_schd"><!--ken, when you change this away from bieng a table structure please make sure this ID is in something that surrounds the repeater-->
    <tr><td>Quantity <span ng-show="p.QuantityMultiplier > 1 && !ps.RestrictedQuantity"> (x {{p.QuantityMultiplier}})</span></td>
        <td>Price <span ng-show="p.QuantityMultiplier > 1 && !ps.RestrictedQuantity" > (per {{p.QuantityMultiplier}})</span></td>
    </tr>
    <tr ng-repeat="pb in ps.PriceBreaks">
        <td>{{pb.Quantity * (ps.RestrictedQuantity ? p.QuantityMultiplier : 1)}}
                <span ng-show="!ps.RestrictedQuantity">
                    <span ng-show="ps.PriceBreaks[$index + 1].Quantity"> - {{ ps.PriceBreaks[$index + 1].Quantity - 1  }}</span>
                    <span ng-show="$last && ps.MaxQuantity"> - {{ps.MaxQuantity}}</span>
                    <span ng-show="$last && !ps.MaxQuantity"> +</span>
                </span>
        </td>
        <td>{{pb.Price * (ps.RestrictedQuantity ? pb.Quantity : 1)| currency}}</td>
    </tr>
</table>
</span>

