<div class="panel panel-default" ng-show="products" style="margin-top: 0px">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{'Products' | r | xlat}}
		</h3>
	</div>
	<div ng-show="currentCategory.Description" ng-bind-html="trusted(currentCategory.Description)" class="category_desc"></div>
	<div ng-show="productCount > settings.pageSize">
		<pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
					items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
	</div>
	<div class="panel-product-list" ng-show="currentCategory.InteropID">
		<div ng-show="products" class="alert alert-info text-center hidden-sm hidden-md hidden-lg">
			<i class="fa fa-arrow-circle-o-left"></i>
			{{'Swipe product left for more info' | xlat}}
		</div>
		<nav class="nav">
			<loadingindicator ng-show="searchLoading" title="{{'Please wait while we fetch all products' | r | xlat}}" />
			<div class="row view-form-icon" ng-show="currentCategory.SortOptions.length > 0">
				<div class="col-xs-9">
					<label>{{'Sort by' | r | xlat}}</label>
					<select class="form-control" ng-options="option.SortValue as (option.Display | xlat) for option in currentCategory.SortOptions" ng-model="sort"><option value=""></option></select>
					<i class="fa fa-sort"/>
				</div>
			</div>
			<div ng-show="displayMode == 'grid'" id="productGrid">
				<a ng-href="product/{{ product.InteropID }}" style="text-align: center" ng-repeat="product in products | sampleProducts | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:sorter:direction">
					<figure ng-show="product.LargeImageUrl" style="text-align: center">
						<img style="display: inline" ng-src="{{ product.LargeImageUrl }}" />
					</figure>
					<div style="display: flex; justify-content: center;">
						<div style="width: 150px; height: 20px; background: #4e8abb; color: #fff;" ng-show="product.Type == 'VariableText'"><i class="fa fa-gear"></i> Customize</div>
						<div style="width: 150px; height: 20px; background: #4e8abb; color: #fff;" ng-show="product.Type == 'Static'"><i class="fa fa-shopping-cart"></i> Order</div>
					</div>
					<strong>{{ product.Name }}</strong>
					<br>
					<small>{{ product.ExternalID }}</small>
					<p ng-show="LineItem.Product.UnitOfMeasure">
						{{ 'Unit of Measure' | r | xlat }}: {{ product.UnitOfMeasure }}
					</p>
					<p ng-show="inventoryDisplay(LineItem.Product, LineItem.Variant)">
						{{ 'Quantity Available' | r | xlat }}: {{ inventoryDisplay(product, LineItem.Variant) }}
					</p>
				</a>

				<a ng-href="product/{{ product.InteropID }}" style="text-align: center" ng-repeat="product in products | regularProducts | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:sorter:direction">
					<figure ng-show="product.LargeImageUrl" style="text-align: center">
						<img style="display: inline" ng-src="{{ product.LargeImageUrl }}" />
					</figure>
					<div style="display: flex; justify-content: center;">
						<div style="width: 150px; height: 20px; background: #4e8abb; color: #fff;" ng-show="product.Type == 'VariableText'"><i class="fa fa-gear"></i> Customize</div>
						<div style="width: 150px; height: 20px; background: #4e8abb; color: #fff;" ng-show="product.Type == 'Static'"><i class="fa fa-shopping-cart"></i> Order</div>
					</div>
					<strong>{{ product.Name }}</strong>
					<br>
					<small>{{ product.ExternalID }}</small>
					<p ng-show="LineItem.Product.UnitOfMeasure">
						{{ 'Unit of Measure' | r | xlat }}: {{ product.UnitOfMeasure }}
					</p>
					<p ng-show="inventoryDisplay(LineItem.Product, LineItem.Variant)">
						{{ 'Quantity Available' | r | xlat }}: {{ inventoryDisplay(product, LineItem.Variant) }}
					</p>
				</a>
			</div>
			<ul ng-show="displayMode == 'list'">
				<li id="451_lst_prod" ng-repeat="product in products | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize | orderBy:sorter:direction">
					<div class="well">
						<shortproductview p="product" user="user" />
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div ng-show="productCount > settings.pageSize">
		<pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
			items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
	</div>
</div>
