name: {{product.Name}}<br/>
description: {{product.Description}}<br/>

min: {{product.StandardPriceSchedule.MinQuantity}}<br/>
max: {{product.StandardPriceSchedule.MaxQuantity}}

<form name="staticProductOrder">
    <input type="number" ng-model="quantity"/>
    <button ng-click="OrderService.addToOrder(quantity, product.InteropID, null)">Add to Order</button>
</form>
<div ng-show="product.Variants.length">variants({{product.Variants.length}})
    <ul>
        <li ng-repeat="v in product.Variants">
            {{v.ExternalID}}: {{v.InteropID}}
        </li>
    </ul>
</div>