name: {{variant.Name}}<br/>
description: {{variant.Description}}<br/>

min: {{variant.StandardPriceSchedule.MinQuantity}}<br/>
max: {{variant.StandardPriceSchedule.MaxQuantity}}<br/>
available inventory: {{variant.QuantityAvailable}}
<form name="staticProductOrder">
    <input type="number" name=qtyInput required ng-model="quantity" ui-validate="'invalidQuantityAddToOrder($value, variant)'">
    <button ng-disabled="staticProductOrder.$invalid" ng-click="OrderService.addToOrder(quantity, product.InteropID, variant.InteropID)">Add to Order</button>
</form>

<span ng-show="qtyErrorMessage">quantity fail: {{qtyErrorMessage}}</span>

<div ng-show="product.Variants.length > 1">variants({{product.Variants.length}})
    <ul>
        <li ng-repeat="v in product.Variants">
            {{v.ExternalID}}: {{v.InteropID}}
        </li>
    </ul>
</div>
