<section>
    <loadingindicator ng-show="displayLoadingIndicator" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Saved' | r}} {{'Reports' | r}}</h3>
        </div>
        <div class="panel-body view-form-icon">
            <div class="input-group">
                <label ng-show="searchTerm">{{'Search' | r}}</label>
                <input class='form-control' type="text" placeholder="Search" ng-model="searchTerm" autocomplete="off" />
                <i class="fa fa-search"></i>
                <div class="input-group-btn">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span>{{'New' | r}} {{'Report' | r}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-repeat="(key,value) in Reports.AvailableTypes">
                            <a role="presentation" tabindex="-1" href="report/{{key}}">{{value}}</a>
                        </li>
                    </ul>
                </div>
             </div>
        </div>
        <div class="panel-table">
            <div class="row text-info">
                <div class="col-sm-1 hidden-xs"></div>
                <div class="col-sm-2 hidden-xs">{{'Name' | r}}</div>
                <div class="col-sm-2 hidden-xs">{{'Type' | r}}</div>
            </div>
            <div class="row" ng-repeat="report in Reports | filter:searchTerm">
                <div class="col-sm-1">
                    <input type="checkbox" ng-model="report.Selected" />
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Name' | r}}</span>
                    <a ng-href="{{'report/' + report.ID}}">{{report.Name}}</a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Type' | r}}</span>
                    {{report.Type}}
                </div>
             </div>
        </div>
        <div class="navbar-fixed-bottom">
            <div class="view-response-message alert-success text-center" alert-show="actionMessage">
                <p>{{actionMessage | r}}</p>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger" ng-click="deleteSelected($event)" ng-disabled="(Reports | filter:searchTerm | filter:{Selected:true}).length == 0">{{'Delete' | r}} {{'Selected' | r}}</button>
        </div>
    </div>
</section>