<section class="container cat-body search-view animated slideInDown">
    <div ng-hide="products">
        <form role="search">
            <div>
                <div class="view-form-icon">
                <input type="text" ng-model="searchTerm"  class="form-control search-view-search" placeholder="Search Products" />
                <i class="fa fa-search"></i>
                </div>
                <div class="search-view-cancel">
                    <a href="#/catalog"><i class="fa fa-times-circle"></i></a>
                    <div class="hidden-xs search-view-cancel-name">Press enter to search</div>
                </div>
                <button type="submit" ng-click="search()" class="btn btn-default" style="visibility:hidden;">Submit</button>
            </div>
        </form>
    </div>
    <div ng-show="products" class="product-navigation">
        <div>Search results
            <a href="#/catalog"><i class="close-toggle fa fa-times-circle"></i></a>
        </div>
         <div>
            <nav class="nav">
                <ul>
                    <li class="nav-header well col-lg-3 col-md-4  col-sm-6 col-xs-12" ng-repeat="product in products">
                        <shortproductview p="product" />
                    </li>
                </ul>
            </nav>
         </div>
    </div>
</section>