<section class="container">

    This is a secure Internet commerce site.

    Site Security
    We understand that security remains a primary concern of online consumers. The VeriSign Secure Site Program allows individuals to learn more about web sites they visit before submitting any confidential information. Click here to view our authenticity and site status.
    Click to Verify - This site has chosen a VeriSign SSL Certificate to improve Web site security
    Secure Transactions
    When a bankcard is used over the Internet, consumers want assurance that their account information is safe. That’s why Visa instituted the Cardholder Information Security Program (CISP). Visa maintains CISP as the managing program for data security compliance endorsing the PCI Data Security Standard. The Payment Card Industry (PCI) Data Security Standard offers a single approach to safeguarding sensitive data for all card brands. we are independently certified as a Level 2 Payment Card Industry (PCI) compliant service provider.


    Privacy
    To protect our customers from unwanted personal intrusion, we will not rent or sell your personal customer information to any mail listing agency or telemarketing company.

</section>