

<a href=#/product/{{LineItem.Product.InteropID}}>{{LineItem.Product.Name}}</a>
{{LineItem.PriceSchedule.PriceBreaks[0].Quantity}} <span ng-show="LineItem.Product.QuantityMultiplier > 1">(x {{LineItem.Product.QuantityMultiplier}})</span> for {{LineItem.PriceSchedule.PriceBreaks[0].Price | currency}}

<br>

<span ng-show="showInventory">
	quantity available: {{LineItem.Product.QuantityAvailable}}
</span>
<br>
<span ng-show="allowAddToOrder">

	<quantityfield lineitem="LineItem" error="quantityError" /><span ng-show="quantityError">{{quantityError}}</span>{{LineItem.LineTotal | currency}}

</span>
