<div class="shortproduct-view" ng-class="{ 'howdy': toggle }">
    <a class="cat-link" href="#/product/{{LineItem.Product.ViewName}}/{{LineItem.Product.InteropID}}">
        <figure ng-show="LineItem.Variant.SmallImageFile.Url || LineItem.Product.SmallImageFile.Url" class="cat-image">
            <img ng-src="{{LineItem.Variant.SmallImageFile.Url || LineItem.Product.SmallImageFile.Url}}"/>
        </figure>
        <div class="empty" ng-hide="LineItem.Variant.SmallImageFile.Url || LineItem.Product.SmallImageFile.Url">
            <span class="fa empty"><i class="fa fa-camera"></i></span>
        </div>
    </a>
    <div class="visible-xs">
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color:#999;"></i>
    </div>
    <div class="caption">
        <figcaption class="shortproduct-name">{{LineItem.Product.Name}}
            <span ng-class="{ 'hidden': toggle }" class="shortproduct-toggle visible-md visible-sm" style="position: absolute;cursor: pointer; right: 0; bottom: 0; color:#bfbfbf;padding: 15px 20px;" ng-click="toggle = !toggle"><i class="fa fa-plus-circle"></i></span>
        </figcaption>

        <figcaption class="shortproduct-toggle" ng-click="toggle = !toggle"><i class="fa fa-plus-circle"></i> Quick View</figcaption>
    </div>
</div>

<section class="shortproduct-info text-left" ng-show="toggle">
    <i class="shortproduct-arrow fa fa-caret-up"></i>
    <i class="shortproduct-close fa fa-times-circle" ng-click="toggle = !toggle"></i>
    <p>
        <span class="text-info">Description:</span>
        <br />
        <span ng-bind-html="LineItem.Product.Description" ng-show="LineItem.Product.Description" />
    </p>
    <p ng-show="LineItem.PriceSchedule.PriceBreaks[0]">
        {{LineItem.PriceSchedule.PriceBreaks[0].Quantity}}
        <span ng-show="LineItem.Product.QuantityMultiplier > 1">(x {{LineItem.Product.QuantityMultiplier}})</span>
        for {{LineItem.PriceSchedule.PriceBreaks[0].Price | currency}}
    </p>
    <p ng-show="inventoryDisplay(LineItem.Product, LineItem.Variant)">
        QTY Available: {{inventoryDisplay(LineItem.Product, LineItem.Variant) }}
    </p>
    <p>
        <a class="btn btn-default" style="width: 150px; margin: 0 auto;" href="#/product/{{LineItem.Product.ViewName}}/{{LineItem.Product.InteropID}}">
            More Info
        </a>
    </p>
</section>


