
<productNavTop></productNavTop>
<div class="container-fluid product-navigation product-navigation-side span3">
    <nav class="nav 451_cat_nav">
        <div class="nav-header hidden-desktop favorites" ng-show="Four51User.current.CurrentOrderID"> <a href="#/favoriteorders">Favorites</a></div>
        <div class="visible-desktop details-show" ng-click="showDetails = ! showDetails" href="#"><a class="icon-caret-down"></a></div>
        <ul>
            <panel title="view all">All Products </panel>
            <li class="nav-header animated fadeIn" ng-repeat="category in tree" ng-include="'categoryTemplate.html'"></li>
        </ul>
    </nav>
</div>
<script type="text/ng-template" id="categoryTemplate.html">
    <a ng-href=#/catalog/{{category.InteropID}} ng-class="getClass('/catalog/{{category.InteropID}}')">{{category.Name}}</a>
    <ul ng-if="category.SubCategories.length" class="product-nav-details" ng-class="{ 'hidden': ! showDetails }" >
        <li ng-repeat="category in category.SubCategories" ng-include="'categoryTemplate.html'"></li>
    </ul>
</script>
<spendingaccounts accounts="SpendingAccounts" style="display: none;" />