<div class="container-fluid product-navigation product-navigation-side">
    <nav class="nav 451_cat_nav">
        <div class="nav-header hidden-desktop favorites" ng-show="user.CurrentOrderID"> <a href="#/favoriteorders">View Favorite Orders</a></div>
        <div class="visible-desktop details-show" ng-click="showDetails = ! showDetails" href="#"><a class="icon-caret-down"></a></div>
        <ul>
            <panel title="view all">All Products</panel>
            <li class="nav-header animated fadeIn" ng-class="getClass('/catalog/{{category.InteropID}}')" ng-repeat="category in tree" ng-include="'categoryTemplate.html'"></li>
        </ul>
    </nav>
</div>

<script type="text/ng-template" id="categoryTemplate.html">
    <a ng-href=#/catalog/{{category.InteropID}}>{{category.Name}}</a>
    <ul ng-if="category.SubCategories.length" class="product-nav-details" ng-class="{ 'hidden': ! showDetails }" >
        <li ng-repeat="category in category.SubCategories" ng-include="'categoryTemplate.html'"></li>
    </ul>
</script>
