<section class="user-view">
    <loadingindicator title="Please wait while we save your changes" ng-show="displayLoadingIndicator"/>
    <accountnavigation />
    <identifyusermessage ng-show="user.Type == 'TempCustomer'" />
	<form ng-show="user.Permissions.contains('ViewSelfAdmin')" name="login_existing" ng-submit="loginExisting()" ng-if="user.Type == 'TempCustomer'">
		<div class="panel panel-default" id="user_form">
			<div class="panel-heading">
				<h3 class="panel-title">{{'Logon' | r}} {{'as existing user' | r}}</h3>
			</div>
			<div class="panel-body">
                <div class="col-md-6 col-md-offset-3">
                    <label>{{'Username' | r}}</label><input name="username" class="form-control" type="text" ng-model="loginasuser.Username" autocomplete="off" required placeholder="{{'Username' | r}}" /><br />
                    <label>{{'Password' | r}}</label><input name="password" class="form-control" type="password" ng-model="loginasuser.Password" autocomplete="off" required placeholder="{{'Password' | r}}" /><br />
                </div>
			</div>
			<div class="panel-footer">
				<input class="btn btn-medium btn-primary" type="submit" ng-disabled="login_existing.$invalid" id="451_btn_login_existing" value="{{'Logon' | r}}" />
				<inlineerror ng-show="loginAsExistingError" title="{{loginAsExistingError}}" />
			</div>
		</div>
	</form>
	<form ng-show="user.Permissions.contains('ViewSelfAdmin')" name="user_form" ng-submit="save()">
        <div class="panel panel-default" id="user_form">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.Type == 'TempCustomer' ? 'Create' : 'My'}} {{'Account' | r}}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6 view-form-icon">
                    <div>
                        <label ng-show="user.FirstName">{{'First' | r}} {{'Name' | r}}</label>
                        <input name="firstname" class="form-control" type="text" required ng-model="user.FirstName" placeholder="{{'First' | r}} {{'Name' | r}}" autocomplete="off" />
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <label ng-show="user.LastName">{{'Last' | r}} {{'Name' | r}}</label>
                        <input name="lastname" required class="form-control" type="text" ng-model="user.LastName" placeholder="{{'Last' | r}} {{'Name' | r}}" autocomplete="off" />
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <label ng-show="user.Phone">{{'Phone' | r}}</label>
                        <input name="phone" class="form-control" type="text" ng-model="user.Phone" ui-mask="(999) 999-9999" autocomplete="off" />
                        <i class="fa fa-phone"></i>
                    </div>
                    <div>
                        <label class="required">{{'Email' | r}}</label>
                        <input name="email" class="form-control" type="email" ng-model="user.Email" required placeholder="{{'Email' | r}}" autocomplete="off" />
                        <i class="fa fa-envelope-o"></i>
                        <inlineerror ng-show="user_form.email.$invalid" title="Please enter a valid {{'Email' | rl}} {{'Address' | rl}}" />
                    </div>
                </div>
                <div class="col-sm-6 view-form-icon">
                    <div>
                        <label class="required">{{'Username' | r}}</label>
                        <input name="username" class="form-control" type="text" ng-model="user.TempUsername" required placeholder="{{'Username' | r}}" autocomplete="off" />
                        <i class="fa fa-user"></i>
                    </div>
                    <!--TODO username input shouldn't default to temporary usernames, if the user is temp, make the placeholder show instead !-->
                    <div>
                        <label ng-show="user.Password">{{'Password' | r}}</label>
                        <input name="password" class="form-control" required type="password" ng-model="user.Password" placeholder="{{'Password' | r}}" autocomplete="off" />
                        <i class="fa fa-lock"></i>
                    </div>
                    <div>
                        <label ng-show="user.ConfirmPassword">{{'Confirm' | r}} {{'Password' | r}}</label>
                        <input name="confirm_password" ng-match="user.Password" required class="form-control" type="password" ng-model="user.ConfirmPassword" placeholder="{{'Confirm' | r}} {{'Password' | r}}" autocomplete="off" />
                        <i class="fa fa-lock"></i>
                        <inlineerror ng-show="user_form.confirm_password.$error.match" title="{{'Password' | r}}s do not match!" />
                    </div>

                    <span class="alert-warning" ng-show="securityWarning">
                        <ul>
                            <li>Your password does not meet the requirements set for length or complexity. It must be changed to meet the minimum requirements before continuing.</li>
                            <li>There are three distinct password security levels. The rules are defined as:</li>
                            <ul>
                                <li>Low: No restrictions on passwords.</li>
                                <li>Medium: A minimum of 6 characters required.</li>
                                <li>High:</li>
                                <ul>
                                    <li>Minimum of 8 alphanumeric characters.></li>
                                    <li>Two or more of the following kinds of characters</li>
                                    <ol>
                                        <li>Alphabetic (e.g., a-z, A-Z)</li>
                                        <li>Numeric (i.e. 0-9)</li>
                                        <li>Punctuation and other characters (e.g., !@#$%^&*()_+|~-=\`{}[]:";'<>?,./)</li>
                                    </ol>
                                    <li>** After 6 failed logon attempts, the user will be locked out for 30 minutes.</li>
                                </ul>
                            </ul>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="panel-body" >
                <div  ng-if="user.CustomFields" class="col-sm-6 view-form-icon">
                    <div ng-repeat="field in user.CustomFields">
                        <customfilefield customfield="field" ng-if="field.ControlType == 'File' && field.DisplayToUser"></customfilefield>
                        <customtextfield customfield="field" ng-if="field.ControlType == 'Text' && field.DisplayToUser"></customtextfield>
                        <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection' && field.DisplayToUser"></customselectionfield>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input class="btn btn-primary pull-right" type="submit" ng-disabled="user_form.$invalid" id="451_btn_user" value="{{user.Type == 'TempCustomer' ? 'Create Acccount' : 'Save'}}" />
                <span class="alert alert-success" ng-show="actionMessage" ng-bind-html="actionMessage | r"></span>
            </div>
        </div>
    </form>
</section>
