<section class="container user-view">
	<form name="login_existing" ng-submit="loginExisting()" ng-if="user.Type == 'TempCustomer'">
		<div class="panel panel-default" id="user_form">
			<div class="panel-heading">
				<h3 class="panel-title">Logon as existing user</h3>
			</div>
			<div class="panel-body">
				<input name="username" class="input-large" type="text" ng-model="loginasuser.Username" required placeholder="User Name" /><br />
				<input name="password" class="input-large" type="password" ng-model="loginasuser.Password" required placeholder="Password" /><br />
			</div>
			<div class="panel-footer">
				<input class="btn btn-medium btn-primary" type="submit" ng-disabled="login_existing.$invalid" id="451_btn_login_existing" value="Logon" />
			</div>
		</div>
	</form>
    <nav class="nav nav-cat-search visible-sm visible-xs user-view-sm-xs-nav">
        <hr />
        <ul>
            <li class="addresses text-nav"><a href="#/order">Orders</a></li>
            <li class="addresses text-nav"><a href="#/addresses">Addresses</a></li>
            <li class="messages text-nav"><a href="#/message">Messages</a></li>
            <li ng-if="user.Type=='Customer'" class="logout text-nav"><a href="#" class="451_btn_logout" ng-click="Logout()">Log Out</a></li>
        </ul>
        <hr />
    </nav>
	<form name="user_form" ng-submit="save()">
        <div class="panel panel-default" id="user_form">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.Type == 'TempCustomer' ? 'Create' : 'My'}} Account</h3>
            </div>
            <div class="panel-body">
                <label>First Name</label> <input name="firstname" class="input-large" type="text" ng-model="user.FirstName" placeholder="First Name" /><br />
                <label>Last Name</label> <input name="lastname" class="input-large" type="text" ng-model="user.LastName" placeholder="Last Name" /><br />
                <label>Phone</label> <input name="phone" class="input-large" type="text" ng-model="user.Phone" ui-mask="(999) 999-9999" placeholder="Phone Number" /><br />
                <label>Email</label> <input name="email" class="input-large" type="email" ng-model="user.Email" required placeholder="Email Address" />
                <span class="alert-error" ng-show="user_form.email.$invalid">Please enter a valid email address</span><br />
                <label>Username</label> <input name="username" class="input-large" type="text" ng-model="user.Username" required placeholder="User Name" /><br />
                <label>Password</label> <input name="password" class="input-large" type="password" ng-model="user.Password" placeholder="Password" /><br />
                <label>Confirm Password</label> <input name="confirm_password" match="'password'" class="input-large" type="password" ng-model="user.ConfirmPassword" ui-validate="'$value==user.Password'" ui-validate-watch="'user.Password'" placeholder="Confirm Password" />
                <span class="alert-error" ng-show="user_form.confirm_password.$error.validator">Passwords do not match!</span><br />
            </div>
            <div class="panel-body" ng-if="user.CustomFields">
                <div class="list-group">
                    <div ng-repeat="field in user.CustomFields" class="list-group-item">
                        <customfilefield customfield="field" ng-if="field.ControlType == 'File' && field.DisplayToUser"></customfilefield>
                        <customtextfield customfield="field" ng-if="field.ControlType == 'Text' && field.DisplayToUser"></customtextfield>
                        <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection' && field.DisplayToUser"></customselectionfield>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input class="btn btn-medium btn-primary" type="submit" ng-disabled="user_form.$invalid" id="451_btn_user" value="{{user.Type == 'TempCustomer' ? 'Create Acccount' : 'Save'}}" />
            </div>
        </div>
    </form>
</section>
