
/* x-md */
@media (min-width: 980px) and (max-width: 1199px) {

    .nav li span.nav-name {float:right;}
    .nav li span.hidden-sm {float:right;}
    .product-view-default img {margin: 15px 0;}
    .product-view-default .fa.empty {text-align: left;}
    .shortproduct-view:hover .shortproduct-name {display: block; cursor: default;}
    .shortproduct-view:hover .shortproduct-toggle {display: none;}

}