/* x-sm */
@media (min-width:768px) and (max-width: 1023px) {
    @-webkit-keyframes view-enter {
        0% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @-moz-keyframes view-enter {
        0% {
            opacity: 0;
            -moz-transform: translateY(2000px);
        }

        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }

    @-o-keyframes view-enter {
        0% {
            opacity: 0;
            -o-transform: translateY(2000px);
        }

        100% {
            opacity: 1;
            -o-transform: translateY(0);
        }
    }

    @keyframes view-enter {
        0% {
            opacity: 0;
            transform: translateY(2000px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .branding-view {text-align: center;}
    .branding-view-logo {float: none; margin: 0 auto; max-height: 75px; }
    .shortproduct-view:hover .shortproduct-name {display: block; cursor: default;}
    .shortproduct-view:hover .shortproduct-toggle {display: none;}

}