<nav class="nav visible-sm visible-xs">
    <span class="btn-group">
        <button class="btn btn-default" ng-class="{'active': isActive('addresses')}" redirect="/addresses">{{'Addresses' | r}}</button>
        <button class="btn btn-default" ng-class="{'active': isActive('message')}" redirect="/message">{{'Messages' | r}}</button>
        <a ng-if="AppConst.debug" href="#" class="btn btn-default" ng-click="Clear()"><span>Clear Cache</span></a>
        <button class="btn btn-danger pull-right 451_btn_logout" ng-click="Logout()" ng-if="user.Type=='Customer'"><i class="fa fa-power-off"></i>{{'Log Out' | r}}</button>
    </span>
</nav>