<div id="address_edit">
    <div class="view-form-icon">
        <div>
            <label for="Autocomplete">{{'Quick Address' | r | xlat}}</label>
            <input type="text" id="Autocomplete" class="form-control" details="addressobj" placeholder="{{'Enter a location' | r | xlat}}" ng-autocomplete ng-model="addressresult"/>
            <i class="fa fa-map-marker"></i>
        </div>
    </div>
    <form name="addressEdit" ng-submit="save()">
        <div class="row">
            <div class="col-sm-6 view-form-icon">
                <div>
                    <label class="required">{{('Address' | r) + ' ' + ('Name' | r) | xlat}}</label>
                    <input name="addressname" class="form-control" type="text" ng-model="address.AddressName" placeholder="{{('Address' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" required />
                    <i class="fa fa-edit"></i>
                </div>
                <div>
                    <label ng-show="address.FirstName || address.IsBilling" ng-class="{required: address.IsBilling}">{{('First' | r) + ' ' + ('Name' | r) | xlat}}</label>
                    <input name="firstname" class="form-control" type="text" ng-model="address.FirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="address.IsBilling" />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label ng-show="address.LastName || address.IsBilling" ng-class="{required: address.IsBilling}">{{('Last' | r) + ' ' + ('Name' | r) | xlat}}</label>
                    <input name="lastname" class="form-control" type="text" ng-model="address.LastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="address.IsBilling" />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label ng-show="address.CompanyName">{{('Company' | r) + ' ' + ('Name' | r) | xlat}}</label>
                    <input name="companyname" class="form-control" type="text" ng-model="address.CompanyName" autocomplete="off" placeholder="{{('Company' | r) + ' ' + ('Name' | r) | xlat}}" />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label ng-show="isPhoneRequired" ng-class="{required: isPhoneRequired}">{{'Phone' | r | xlat}}</label>
                    <input name="phone" class="form-control" type="text" ng-model="address.Phone" placeholder="{{'Phone' | r | xlat}}" autocomplete="off" ng-required="isPhoneRequired()" />
                    <i class="fa fa-phone"></i>
                </div>
            </div>
            <div class="col-sm-6 view-form-icon">
                <div>
                    <label class="required">{{'Address Line 1' | r | xlat}}</label>
                    <input name="street1" class="form-control" type="text" ng-model="address.Street1" placeholder="{{'Address Line 1' | r | xlat}}" autocomplete="off" required />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label ng-show="address.Street2">{{'Address Line 2' | r | xlat}}</label>
                    <input name="street2" class="form-control" type="text" ng-model="address.Street2" placeholder="{{'Address Line 2' | r | xlat}}" autocomplete="off" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label class="required">{{'City' | r | xlat}}</label>
                    <input name="city" class="form-control" type="text" ng-model="address.City" placeholder="{{'City' | r | xlat}}" autocomplete="off" required />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div ng-show="!hasStates()">
                    <label ng-class="{required: !hasStates}">{{'State' | r | xlat}}</label>
                    <input ng-show="!hasStates()" class="form-control" type="text" ng-model="address.State" placeholder="{{'State' | r | xlat}}" autocomplete="off" ng-required="!hasStates()" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div ng-show="hasStates()" ng-class="{'view-form-select': !address.State, '': address.State }">
                    <label ng-class="{required: hasStates}">{{'State' | r | xlat}}</label>
                    <select ng-show="hasStates()" class="form-control" ng-options="state.value as state.label for state in states | filter:country" ng-model="address.State" placeholder="{{'State' | r | xlat}}" ng-required="hasStates()">
                    </select>
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label ng-class="{required: hasStates}">{{'Zip' | r | xlat}}</label>
                    <input name="zip" class="form-control" type="text" ng-model="address.Zip" placeholder="{{'Zip' | r | xlat}}" autocomplete="off" ng-required="hasStates()" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div ng-class="{'view-form-select': !address.Country, '': address.Country }">
                    <label class="required">{{'Country' | r | xlat}}</label>
                    <select name="country" class="form-control" ng-options="country.value as country.label for country in countries" ng-model="address.Country" placeholder="{{'Country' | r | xlat}}" required />
                    <i class="fa fa-globe"></i>
                </div>
            </div>
        </div>
        <hr />
        <div class="row create-address-type">
            <div class="checkbox">
                <label ng-show="user.Permissions.contains('CreateShipToAddress')">
                    <input name="isShipping" type="checkbox" ng-model="address.IsShipping" ng-required="!address.IsBilling" />
                    {{'Save to Shipping Address Book' | r | xlat}}
                </label>
            </div>
            <div class="checkbox">
                <label ng-show="user.Permissions.contains('CreateBillToAddress')">
                    <input name="isBilling" type="checkbox" ng-model="address.IsBilling" ng-required="!address.IsShipping" />
                    {{'Save to Billing Address Book' | r | xlat}}
                </label>
            </div>
        </div>
        <p class="alert alert-warning text-center" ng-show="addressEdit.isShipping.$invalid || addressEdit.isBilling.$invalid">
            {{'An address must be saved to the shipping, billing or both address books.' | r | xlat}}
        </p>
        <div class="panel-footer">
            <span class="alert alert-warning" ng-show="objectExists">{{'An address with that name already exists. Please specify another name' | r | xlat}}</span><br />
            <button ng-if="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')" class="btn btn-danger" ng-click="delete()" type="button">{{'Delete' | r | xlat}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel' | r | xlat}}</button>
            <button ng-if="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')" class="btn btn-primary pull-right" type="submit" ng-disabled="addressEdit.$invalid" id="451_btn_user">
                <i ng-show="addressEdit.$invalid" class="fa fa-warning"></i>
                {{'Save' | r | xlat}} {{address.AddressName}}
            </button>
        </div>
    </form>
</div>