<div id="address_edit">
	<div class="view-form-icon" ng-hide="address.IsCustEditable == false">
		<div>
			<label for="Autocomplete">{{'Quick Address' | r | xlat}}</label>
			<input type="text" id="Autocomplete" class="form-control" details="addressobj" placeholder="{{'Enter a location' | r | xlat}}" ng-autocomplete ng-model="addressresult"/>
			<i class="fa fa-map-marker"></i>
		</div>
	</div>
	<form name="addressEdit" ng-submit="validateAddress()">
		<div class="row">
			<div class="col-sm-6 view-form-icon">
				<div>
					<label ng-show="address.FirstName || address.IsBilling" ng-class="{required: true}">{{('First' | r) + ' ' + ('Name' | r) | xlat}}</label>
					<input name="firstname" class="form-control" type="text" ng-model="address.FirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="true" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-user"></i>
				</div>
			</div>
			<div class="col-sm-6 view-form-icon">
				<div>
					<label ng-show="address.LastName || address.IsBilling" ng-class="{required: true}">{{('Last' | r) + ' ' + ('Name' | r) | xlat}}</label>
					<input name="lastname" class="form-control" type="text" ng-model="address.LastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="true" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-user"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 view-form-icon">
				<div>
					<label ng-show="address.CompanyName">{{('Company' | r) + ' ' + ('Name' | r) | xlat}}</label>
					<input name="companyname" class="form-control" type="text" ng-model="address.CompanyName" autocomplete="off" placeholder="{{('Facility/Location' | r) + ' ' + ('Name' | r) | xlat}}" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-user"></i>
				</div>
			</div>
			<div class="col-sm-6 view-form-icon">
				<div>
					<label ng-show="isPhoneRequired()" ng-class="{required: isPhoneRequired()}">{{'Phone' | r | xlat}}</label>
					<input name="phone" class="form-control" type="text" ng-model="address.Phone" placeholder="{{'Phone' | r | xlat}}" autocomplete="off" ng-required="isPhoneRequired() && address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-phone"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col view-form-icon">
				<div>
					<label ng-class="{'required': address.IsCustEditable != false}">{{'Address Line 1' | r | xlat}}</label>
					<input name="street1" class="form-control" type="text" ng-model="address.Street1" placeholder="{{'Address Line 1' | r | xlat}}" autocomplete="off" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col view-form-icon">
				<div>
					<label ng-show="address.Street2">{{'Address Line 2' | r | xlat}}</label>
					<input name="street2" class="form-control" type="text" ng-model="address.Street2" placeholder="{{'Address Line 2' | r | xlat}}" autocomplete="off" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col view-form-icon">
				<div>
					<label ng-class="{'required': address.IsCustEditable != false}">{{'City' | r | xlat}}</label>
					<input name="city" class="form-control" type="text" ng-model="address.City" placeholder="{{'City' | r | xlat}}" autocomplete="off" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col view-form-icon">
				<div ng-show="!hasStates()">
					<label ng-class="{required: !hasStates && address.IsCustEditable != false}">{{'State' | r | xlat}}</label>
					<input ng-show="!hasStates()" class="form-control" type="text" ng-model="address.State" placeholder="{{'State' | r | xlat}}" autocomplete="off" ng-required="!hasStates() && address.IsCustEditable == false" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-map-marker"></i>
				</div>
				<div ng-show="hasStates()" ng-class="{'view-form-select': !address.State, '': address.State }">
					<label ng-class="{required: hasStates && address.IsCustEditable != false}">{{'State' | r | xlat}}</label>
					<select ng-show="hasStates()" class="form-control" ng-options="state.value as state.label for state in states | filter:country" ng-model="address.State" placeholder="{{'State' | r | xlat}}" ng-required="hasStates() && address.IsCustEditable == false" ng-disabled="address.IsCustEditable == false">
					</select>
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
		</div>
		<div class="row">
			 <div class="col view-form-icon">
				<div>
					<label ng-class="{required: hasStates() && address.IsCustEditable != false}">{{'Zip' | r | xlat}}</label>
					<input name="zip" class="form-control" type="text" ng-model="address.Zip" placeholder="{{'Zip' | r | xlat}}" autocomplete="off" ng-required="hasStates() && address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
		</div>
		<div class="row">
			 <div class="col view-form-icon">
				<div ng-class="{'view-form-select': !address.Country, '': address.Country }">
					<label ng-class="{'required': address.IsCustEditable != false}">{{'Country' | r | xlat}}</label>
					<select name="country" class="form-control" ng-options="country.value as country.label for country in countries" ng-model="address.Country" placeholder="{{'Country' | r | xlat}}" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
					<i class="fa fa-globe"></i>
				</div>
			</div>
		</div>
		<hr />
		<div class="row create-address-type">
			<div class="checkbox">
				<label ng-show="user.Permissions.contains('CreateShipToAddress')">
					<input name="isShipping" type="checkbox" ng-model="address.IsShipping" ng-required="!address.IsBilling" ng-disabled="address.IsCustEditable == false" />
					{{'Save to Shipping Address Book' | r | xlat}}
				</label>
			</div>
			<div class="checkbox">
				<label ng-show="user.Permissions.contains('CreateBillToAddress')">
					<input name="isBilling" type="checkbox" ng-model="address.IsBilling" ng-required="!address.IsShipping" ng-disabled="address.IsCustEditable == false" />
					{{'Save to Billing Address Book' | r | xlat}}
				</label>
			</div>
		</div>
		<p class="alert alert-warning text-center" ng-show="addressEdit.isShipping.$invalid || addressEdit.isBilling.$invalid">
			{{'An address must be saved to the shipping, billing or both address books.' | r | xlat}}
		</p>
		<div class="panel-footer">
			<span class="alert alert-warning" ng-show="objectExists">{{'An address with that name already exists. Please specify another name' | r | xlat}}</span><br />
				<div style="margin-bottom: 3vh;">
					<label ng-class="{'required': address.IsCustEditable != false}">Please give this address a name for your address book</label>
					<input name="addressname" class="form-control" type="text" ng-model="address.AddressName" placeholder="{{('Address' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" ng-required="address.IsCustEditable != false" ng-disabled="address.IsCustEditable == false" />
				</div>



			<button ng-if="(user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')) && address.IsCustEditable" class="btn btn-danger" ng-click="delete()" type="button">{{'Delete' | r | xlat}}</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel' | r | xlat}}</button>





			<button ng-if="(user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')) && address.IsCustEditable != false" class="btn btn-primary pull-right" type="submit" ng-disabled="addressEdit.$invalid" id="451_btn_user">
				<i ng-show="addressEdit.$invalid" class="fa fa-warning"></i>
				{{'Save' | r | xlat}} {{address.AddressName}}
			</button>
		</div>
	</form>
    <!-- Modal -->
    <div class="modal fade in" ng-show="showModal" style="display: block; background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-11">
                                <h4 class="modal-title">We found a close verified match to the address you entered. Please confirm the address to use.</h4>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn close" ng-click="showModal = false"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row address-validate-row">
                            <div class="col-md-6 address-validate-col">
                                <div class="address-validate-address">
                                    <!-- <div ng-show="validatedAddress.AddressName"><small>{{validatedAddress.AddressName}}</small></div>
                                    <div ng-show="validatedAddress.CompanyName"><small>{{validatedAddress.CompanyName}}</small></div>
                                    <div ng-show="(validatedAddress.FirstName || validatedAddress.LastName) && (!user.Permissions.contains('EditShipToName') && !validatedAddress.IsCustEditable)">
                                        <small>{{validatedAddress.FirstName + ' ' + validatedAddress.LastName}}</small>
                                    </div> -->
                                    <div ng-show="!validatedAddress">
                                        <small>Address could not be validated.</small>
                                    </div>
                                    <div ng-show="validatedAddress.Street1"><small>{{validatedAddress.Street1}}</small></div>
                                    <div ng-show="validatedAddress.Street2"><small>{{validatedAddress.Street2}}</small></div>
                                    <div ng-show="validatedAddress.City || validatedAddress.State || validatedAddress.Zip">
                                        <small>{{validatedAddress.City}}<span ng-if="validatedAddress.City && validatedAddress.State">, </span> {{validatedAddress.State}} {{validatedAddress.Zip}}</small>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block" ng-click="selectAddress(validatedAddress)" ng-disabled="!validatedAddress">
                                    Use Suggested Address
                                </button>
                            </div>
                            <div class="col-md-6 address-validate-col">
                                <div class="address-validate-address">
                                    <!-- <div ng-show="originalAddress.AddressName"><small>{{originalAddress.AddressName}}</small></div>
                                    <div ng-show="originalAddress.CompanyName"><small>{{originalAddress.CompanyName}}</small></div>
                                    <div ng-show="(originalAddress.FirstName || originalAddress.LastName) && (!user.Permissions.contains('EditShipToName') && !originalAddress.IsCustEditable)">
                                        <small>{{originalAddress.FirstName + ' ' + originalAddress.LastName}}</small>
                                    </div> -->
                                    <div ng-show="originalAddress.Street1"><small>{{originalAddress.Street1}}</small></div>
                                    <div ng-show="originalAddress.Street2"><small>{{originalAddress.Street2}}</small></div>
                                    <div ng-show="originalAddress.City || originalAddress.State || originalAddress.Zip">
                                        <small>{{originalAddress.City}}<span ng-if="originalAddress.City && originalAddress.State">, </span> {{originalAddress.State}} {{originalAddress.Zip}}</small>
                                    </div>
                                </div>
                                <button class="btn btn-danger btn-block" ng-click="selectAddress(originalAddress)">
                                    Use Entered Address
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
