<div style="padding:10px;">
    <loadingindicator ng-show="loadingIndicator" title="Please wait while we process your request."></loadingindicator>
    <textarea class="form-control" style="margin-bottom:10px;" ng-model="order.ApprovalComment" placeholder="Approval Comments..."></textarea><br />
     <span class="pull-right btn-group">
        <span class="ui-state-error-text" ng-show="error">{{error}}</span>
        <button class="btn btn-small btn-action" ng-click="approveOrder()">Approve</button>
        <button class="btn btn-small btn-danger" ng-click="declineOrder()">Decline</button>
    </span>
</div>
<hr/>

