<div class="view-form-icon">
    <label>{{customfield.Label || customfield.Name | r}}</label>
    <div ng-class="{'input-group':((customfield.Prefix && !hideprefix) || (customfield.Suffix && !hidesuffix))}">
        <span class="input-group-addon" ng-if="customfield.Prefix && !hideprefix && !((customfield.Prefix | r) == '')">{{customfield.Prefix | r}}</span>
        <input datepicker-popup="{{$parent.user.Culture.DateFormat.short}}" class="form-control" placeholder="{{customfield.Label || customfield.Name | r}}" type="date" ng-required="customfield.Required" ng-model="customfield.Value"/>
        <span class="input-group-addon" ng-if="customfield.Suffix && !hidesuffix && !((customfield.Suffix | r) == '')">{{customfield.Suffix | r}}</span>
        <i class="fa fa-calendar"></i>
    </div>
</div>