<div class="view-form-icon">
    <div class="input-group" ng-if="customfield.Lines <= 1">
        <label>{{customfield.Label || customfield.Name}}</label>
        <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix}}</span>
        <input class="form-control" size="{{customfield.Width * .13}}" ng-maxlength="{{customfield.MaxLength}}" ui-mask="{{customfield.MaskedInput}}" type="text" autocomplete="off" ng-required="{{customfield.Required}}" ng-model="customfield.Value"></input>
        <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix}}</span>
    </div>
    <div class="input-group" ng-if="customfield.Lines > 1">
        <label>{{customfield.Name}}</label>
        <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix}}</span>
        <textarea class="form-control"  placeholder={{customefield.Name}} cols="{{customfield.Width * .13}} rows={{customfield.Lines}}" ng-maxlength="{{customfield.MaxLength}}" ng-required="{{customfield.Required}}" ng-model="customfield.Value"></textarea>
        <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix}}</span>
    </div>
</div>