<div class="fileInput">
    <h3 class="list-group-item-heading">{{customfield.Label}}</h3>
    <img ng-show="customfield.File.IsImage" ng-src="{{customfield.File.Url}}" /><a ng-show="!customfield.File.IsImage" ng-href="{{customfield.File.Url}}">{{customfield.File.OriginalName}}</a><br />
    <input name="replace" class="replace" type="checkbox" ng-model="replace" /> Replace  <input name="delete" class="delete" type="checkbox" /> Delete<br />
    <input name="upload" class="upload" ng-show="replace" type="file" /><br />
    <div class="alert alert-info" ng-show="replace">
        <div class="error ui-state-error-text"></div>
        {{customfield.UploadInstructions}}
        <ul ng-show="replace">
            <li>Allowed File Types: {{customfield.AllowedExt}}</li>
            <li ng-if="customfield.MinSize > 0">Minimum File Size: {{(customfield.MinSize | kb) + ' KB'}}</li>
            <li ng-if="customfield.MaxSize > 0">Maximum File Size: {{(customfield.MaxSize | kb) + ' KB'}}</li>
            <li ng-if="customfield.MinHeight > 0 && customfield.File.IsImage">Minimum Height: {{customfield.MinHeight + ' px'}}</li>
            <li ng-if="customfield.MaxHeight > 0 && customfield.File.IsImage">Maximum Height: {{customfield.MaxHeight + ' px'}}</li>
            <li ng-if="customfield.MinWidth > 0 && customfield.File.IsImage">Minimum Width: {{customfield.MinWidth + ' px'}}</li>
            <li ng-if="customfield.MaxHeight > 0 && customfield.File.IsImage">Maximum Width: {{customfield.MaxHeight + ' px'}}</li>
            <li ng-if="customfield.MaxDPI > 0 && customfield.File.IsImage">Maximum DPI: {{customfield.MaxDPI + ' dpi'}}</li>
        </ul>
    </div>
</div>
