<div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>Remove</td>
                <td>ID</td>
                <td>Product</td>
                <td ng-if="hasSpecsOnAnyLineItem(order)">Specifications</td>
                <td>Unit Price</td>
                <td>Quantity</td>
                <td>Total Quantity</td>
                <td ng-if="user.permissions.contains('CostCenterPerLine')">{{user.current.Company.SiteText.CostCenter || 'Cost Center'}}</td>
                <td>{{user.current.Company.SiteText.DateNeeded || 'Date Needed'}}</td>
                <td>Price</td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="11"><input class="btn btn-mini btn-link" value="Remove Selected" ng-click="removeSelected(order)" /></td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="item in order.LineItems">
                <td><input type='checkbox' ng-model='order.LineItems[$index].Selected' /></td>
                <td><a ng-href="#/cart/{{$index}}">{{item.Variant.ExternalID}}</a></td>
                <td>{{item.Product.Name}}</td>
                <td ng-if="hasSpecsOnAnyLineItem(order)">
                    <ul class="unstyled"><!-- more complete business logic in LineItemGrid.cs line 638 -->
                        <li ng-repeat="spec in item.Specs | filter:Selected">{{spec.Name + " : " + spec.Value}}</li>
                    </ul>
                </td>
                <td>{{item.UnitPrice | currency:"$"}}</td>
                <td><quantityfield error='qtyError' lineitem='item' />{{qtyError}}</td>
                <td>{{item.Product.QuantityMultiplier * item.Quantity}}</td>
                <td ng-if="user.permissions.contains('CostCenterPerLine')">
                    <costcenter
                            user="user"
                            label="false"
                            lineitem="order.LineItems[$index]"
                             />
                </td>
                <td>
                    <input type="text" ui-date="{ dateFormat: 'mm/dd/yy' }" ui-date-format ng-model="item.DateNeeded" ng-required="user.permissions.contains('DateNeededRequired')" />
                    <input type="button" class="btn btn-mini btn-info" value="copy to all" ng-click="copyAddressToAll(order)" ng-if="$index == 0 && order.LineItems.length > 1" ng-show="item.DateNeeded" />
                </td>
                <td>{{item.LineTotal | currency:"$"}}</td>
            </tr>
        </tbody>
    </table>
</div>