<header class="header navbar navbar-inner">
    <nav tolerance='20' offset='200' class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>
        <section>
            <div class="container">
                <ul class="nav navbar-nav pull-left">
                    <li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                        <a href back-step class="back">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}">
                        <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Products' | rc}}</span>
                        </a>
                    </li>
                    <li class="order" ng-class="{'active': isActive('order'), 'active-xs': isActive('favoriteorders')}">
                        <a id="451qa_order_link" href="order">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="hidden-xs">{{'Orders' | r}}</span>
                        </a>
                    </li>
                    <li class="report" ng-if="AppConst.debug" ng-class="{'active': isActive('reports'), 'active-xs': isActive('reports')}">
                        <a id="451qa_order_link" href="reports">
                            <i class="fa fa-clipboard"></i>
                            <span class="hidden-xs">{{'Reports' | r}}</span>
                        </a>
                    </li>
                    <li class="favorites hidden-xs" ng-class="{'active': isActive('favoriteorders')}">
                        <a id="451qa_fave_link" href="favoriteorders">
                            <i class="fa fa-heart"></i>
                            <span class="hidden-xs">{{'Favorites' | r}}</span>
                        </a>
                    </li>
                    <li ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message'])}">
                        <a id="451qa_acct_link" href="admin" class="hidden-md hidden-lg">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r}}</span>
                        </a>
                    </li>
                    <li class="dropdown admin-user visible-md visible-lg" ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message'])}">
                        <a id="451qa_acct_link2" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="451qa_user_link" ng-show="user.Permissions.contains('ViewSelfAdmin')" class="admin">
                                <a href="admin">
                                    {{'User Information' | r}}
                                </a>
                            </li>
                            <li id="451qa_addy_link" ng-show="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')" class="addresses">
                                <a href="addresses">
                                    {{'Addresses' | r}}
                                </a>
                            </li>
                            <li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewMessaging')" class="messages">
                                <a href="message">
                                    {{'Messages' | r}}
                                </a>
                            </li>
                            <li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                                <a href="contactus">
                                    {{'Contact Us' | r}}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li ng-show="user.Type!='TempCustomer'" class="logout">
                                <a href="#"  class="451_btn_logout" ng-click="Logout()">
                                    <i class="fa fa-power-off text-danger"></i>
                                    <span>{{'Log Out' | r}}</span>
                                </a>
                            </li>
                            <li ng-if="AppConst.debug">
                                <a href="#" ng-click="Clear()">
                                    <i class="fa fa-archive"></i>
                                    <span class="text-nav">Clear Cache</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="cart" ng-class="{'active': isActive(['cart', 'checkout'])}">
                        <a id="451qa_cart_link" ng-show="cartCount" class="cart" href="cart">
                            <span ng-bind="cartCount" class="badge"></span>
                            <i class="fa fa-shopping-cart"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
    <nav class="dropdown-mega">
        <a class="dropdown-toggle text-center" data-toggle="dropdown">
            <i class="fa fa-angle-down text-primary"></i>
        </a>
        <ul class="451qa_topnav dropdown-menu" >
            <categorytree tree='tree' current='currentCategory' />
        </ul>
    </nav>
</header>
