<div class="panel panel-default panel-order">
    <div class="panel-heading" ng-class="{'no': cart_shipping.$invalid, 'yes': !cart_shipping.$invalid, 'open': checkOutSection == 'shipping' }" ng-click="showSuccessAlert = false">
        <h3 ng-click="checkOutSection = 'shipping'" class="panel-title panel-primary">
            <i class="pull-left" ng-class="{'fa fa-warning': cart_shipping.$invalid, 'fa fa-check-circle': !cart_shipping.$invalid }"></i>
            {{'Shipping' | r | xlat}}
            <i class="pull-right" ng-class="{'fa fa-caret-up': checkOutSection == 'shipping', 'fa fa-caret-down': checkOutSection == 'order' || checkOutSection == 'billing' }"></i>
        </h3>
    </div>
    <div class="panel-body" collapse="checkOutSection != 'shipping'" class="panel-body ">
        <div>
            <shippingmessage />
        </div>
        <div ng-show="shipaddressform || (shipaddresses.length == 0 && user.Permissions.contains('CreateShipToAddress'))">
            <addressinput address='shipaddress' user='user'></addressinput>
        </div>
        <div ng-hide="shipaddressform || (shipaddresses.length == 0 && user.Permissions.contains('CreateShipToAddress'))">
            <form name="cart_shipping" novalidate="">
                <div>
                    <div>
                        <span class="btn-group">
                            <button ng-show="user.Permissions.contains('ShipToMultipleAddresses') && currentOrder.LineItems.length > 1" class="btn btn-default" ng-click="setSingleShipAddress()">
                                <i ng-class="{'fa fa-check': !currentOrder.IsMultipleShip() }"></i>
                                {{'Single ' + ('Address' | r) | xlat}}
                            </button>
                            <button ng-show="user.Permissions.contains('ShipToMultipleAddresses') && currentOrder.LineItems.length > 1" class="btn btn-default" type="button" ng-click="setMultipleShipAddress()">
                                <i ng-class="{'fa fa-check': currentOrder.IsMultipleShip() }"></i>
                                {{'Multiple ' + ('Addresses' | r) | xlat}}
                            </button>
                             <button class="btn btn-info pull-right" type="button"
                                     ng-hide="(shipaddressform || (!shipaddressform && !shipaddresses) || !user.Permissions.contains('CreateShipToAddress'))" ng-click="shipaddressform = true" tabindex="-1">
                                 {{'New ' + ('Address' | r) | xlat}}
                             </button>
                        </span>
                    </div>
                    <div>
                        <loadingindicator ng-show="shippingUpdatingIndicator" title="{{'Please wait while ' + ('Shipping' | rc) + ' costs are updated' | r | xlat}}" />
                        <loadingindicator ng-show="shippingFetchIndicator" title="{{'Please wait while available shippers are updated' | r | xlat}}" />
                        <div>
                            <div ng-show="!currentOrder.IsMultipleShip()" class="view-form-icon">
                                <div ng-show="shipaddresses" ng-class="{'view-form-select': !currentOrder.ShipAddressID, '': currentOrder.ShipAddressID }">
                                    <label ng-class="{required: !currentOrder.IsMultipleShip()}" ng-show="currentOrder.ShipAddressID || !currentOrder.IsMultipleShip()">{{('Shipping' | r) + ' ' + ('Address' | r) | xlat}}</label>
                                        <select class="form-control" name="shippingAddress"
                                                ng-change="setShipAddressAtOrderLevel()"
                                                ng-options="address.ID as address.AddressName for address in shipaddresses"
                                                ng-model="currentOrder.ShipAddressID"
                                                ng-required="!currentOrder.IsMultipleShip()">
                                            <option value=""></option>
                                        </select>
                                        <i class="fa fa-map-marker"></i>
                                </div>
                                <div ng-show="user.ShipMethod != null && shippers" ng-class="{'view-form-select': !currentOrder.LineItems[0].ShipperName, '': currentOrder.LineItems[0].ShipperName }">
                                    <label ng-class="{required: !currentOrder.IsMultipleShip() && user.ShipMethod != null}" ng-show="currentOrder.LineItems[0].ShipperName || !currentOrder.IsMultipleShip() && user.ShipMethod != null">{{('Shipping' | r) + ' Method' | xlat}}</label>
                                    <select class="form-control" ng-change="updateShipper()" name="shipMethod"
                                            ng-model="currentOrder.LineItems[0].ShipperName"
                                            ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown'"
                                            ng-options="shipper.Name as shipper.Name for shipper in shippers"
                                            ng-required="!currentOrder.IsMultipleShip() && user.ShipMethod != null" >
                                        <option value=""></option>
                                    </select>
                                    <i class="fa fa-truck"></i>
                                </div>
                            </div>
                            <div class="order-location" ng-show="!currentOrder.IsMultipleShip() && orderShipAddress.ID">
                                <p><strong><small>{{('Shipping' | r) + ' ' + ('Location' | r) | xlat}}</small></strong></p>
                                <p ng-show="orderShipAddress.AddressName"><small>{{orderShipAddress.AddressName}}</small></p>
                                <p ng-show="orderShipAddress.CompanyName"><small>{{orderShipAddress.CompanyName}}</small></p>
                                <p ng-show="(orderShipAddress.FirstName || orderShipAddress.LastName) && (!user.Permissions.contains('EditShipToName') && !orderShipAddress.IsCustEditable)">
                                    <small>{{orderShipAddress.FirstName + ' ' + orderShipAddress.LastName}}</small>
                                </p>
                                <div class="row" ng-show="!currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && (orderShipAddress && !orderShipAddress.IsCustEditable)">
                                    <div class="col-sm-2">
                                         <input class="form-control" type="text" ng-model="currentOrder.LineItems[0].ShipFirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" />
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" ng-model="currentOrder.LineItems[0].ShipLastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" />
                                    </div>
                                </div>
                                <p ng-show="orderShipAddress.Street1"><small>{{orderShipAddress.Street1}}</small></p>
                                <p ng-show="orderShipAddress.Street2"><small>{{orderShipAddress.Street2}}</small></p>
                                <p ng-show="orderShipAddress.City || orderShipAddress.State || order.ShipAddress.Zip">
                                    <small>{{orderShipAddress.City}}<span ng-if="orderShipAddress.City && currentOrderShipAddress.State">, </span> {{orderShipAddress.State}} {{orderShipAddress.Zip}}</small>
                                </p>
                                <p ng-show="orderShipAddress.Phone"><small>{{orderShipAddress.Phone}}</small></p>
                            </div>
                            <div class="view-form-icon" ng-show="!currentOrder.IsMultipleShip() && user.ShipMethod.AskForAccountNumber">
                                <div>
                                    <label ng-show="currentOrder.LineItems[0].ShipAccount">{{('Shipping' | r) + ' ' + ('Account' | r) | xlat}}: </label>
                                    <input class="form-control" placeholder="{{'Shipping' | r | xlat}} Account Number" type="text" ng-model="currentOrder.LineItems[0].ShipAccount" autocomplete="off" />
                                    <i class="fa fa-book"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-order-shipping-multiple" ng-repeat="item in currentOrder.LineItems" ng-show="currentOrder.IsMultipleShip()">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <span class="text-info">{{item.DateNeeded | date:user.Culture.DateFormat.short }}</span><br />
                                    <small><strong>{{item.Product.Name}}</strong>{{' x ' + item.Quantity}}</small>
                                </p>
                                <p ng-show="user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable"><small>Attention:</small></p>
                                <div class="row" ng-show="user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable">
                                    <div class="view-form-icon col-sm-6">
                                        <div>
                                            <label ng-show="item.ShipFirstName || currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable" ng-class="{required: currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable}">{{('First' | r) + ' ' + ('Name' | r) | xlat}}</label>
                                            <input class="form-control" ng-required="currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable" type="text" ng-model="item.ShipFirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="view-form-icon col-sm-6">
                                        <div>
                                            <label ng-show="item.ShipLastName || currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable" ng-class="{required: currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable}">{{('Last' | r) + ' ' + ('Name' | r) | xlat}}</label>
                                            <input class="form-control" ng-required="currentOrder.IsMultipleShip() && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable" type="text" ng-model="item.ShipLastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="view-form-icon">
                                    <div ng-class="{'view-form-select': !item.ShipAddressID, '' : item.ShipAddressID }">
                                        <label ng-class="{required: currentOrder.IsMultipleShip()}" ng-show="currentOrder.ShipAddressID || currentOrder.IsMultipleShip()">{{('Shipping' | r) + ' ' + ('Address' | r) | xlat}}</label>
                                        <select class="form-control" name="shippingAddressLineItem"
                                                ng-options="address.ID as address.AddressName for address in shipaddresses"
                                                ng-model="item.ShipAddressID"
                                                ng-required="currentOrder.IsMultipleShip()"
                                                ng-change="setShipAddressAtLineItem(item)">
                                            <option value=""></option>
                                        </select>
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </div>
                                <div class="view-form-icon">
                                    <div ng-class="{'view-form-select': !item.ShipperName, '' : item.ShipperName }">
                                        <label ng-class="{required: currentOrder.IsMultipleShip() && user.ShipMethod != null}" ng-show="currentOrder.LineItems[0].ShipperName || currentOrder.IsMultipleShip() && user.ShipMethod != null">{{('Shipping' | r) + ' ' + ('Method' | r) | xlat}}</label>
                                        <select class="form-control" ng-change="updateShipper(item)"
                                                ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown'"
                                                ng-options="shipper.Name as shipper.Name for shipper in shippers | noliverates"
                                                ng-model="item.ShipperName"
                                                ng-required="currentOrder.IsMultipleShip() && user.ShipMethod != null" >
                                            <option value=""></option>
                                        </select>
                                        <i class="fa fa-truck"></i>
                                    </div>
                                </div>
                                <div class="view-form-icon" ng-show="user.ShipMethod.AskForAccountNumber && currentOrder.IsMultipleShip()">
                                    <div>
                                        <label ng-show="item.ShipAccount">{{('Shipping' | r) + ' ' + ('Account' | r) | xlat}}: </label>
                                        <input class="form-control" ng-if="user.ShipMethod.AskForAccountNumber" placeholder="{{('Shipping' | r) + ' ' + ('Account' | r) + ' ' + ('Number' | r) | xlat}}" type="text" ng-model="item.ShipAccount" autocomplete="off" />
                                        <i class="fa fa-book"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>