<div class="panel panel-default">
    <div class="panel-heading" ng-class="{'no': cart_shipping.$invalid, 'yes': !cart_shipping.$invalid }" ng-click="showSuccessAlert = false">
        <h3 ng-click="checkOutSection = 'shipping'" class="panel-title panel-primary">
            <i ng-class="{'fa fa-warning': cart_shipping.$invalid, 'fa fa-check-circle': !cart_shipping.$invalid }"></i>
            Shipping
            <i ng-class="{'fa fa-caret-down': checkOutSection == 'shipping', 'fa fa-caret-up': checkOutSection == 'order' || checkOutSection == 'billing' }"></i>
        </h3>
    </div>
    <div ng-show="checkOutSection == 'shipping'" class="panel-body check-out-view-shipping">
        <div ng-show="addressform || (addresses | filter:{IsShipping:true}).length == 0 && user.Permissions.contains('CreateShipToAddress')">
            <addressinput address='shipaddress' user='user'></addressinput>
        </div>

        <div ng-show="!addressform">
            <form name="cart_shipping" novalidate="">
                <span class="btn-group">
                    <button ng-show="user.Permissions.contains('ShipToMultipleAddresses') && currentOrder.LineItems.length > 1" class="btn btn-default" ng-click="setSingleShipAddress()">
                        <i ng-class="{'fa fa-check': !shipToMultipleAddresses }"></i>
                        Single Address
                    </button>
                    <button ng-show="user.Permissions.contains('ShipToMultipleAddresses') && currentOrder.LineItems.length > 1" class="btn btn-default" type="button" ng-click="shipToMultipleAddresses = true">
                        <i ng-class="{'fa fa-check': shipToMultipleAddresses }"></i>
                        Multiple Addresses
                    </button>
                     <button class="btn btn-info pull-right" type="button"
                             ng-hide="(addressform || (!addressform && (addresses | filter:{IsShipping:true}).length == 0) || !user.Permissions.contains('CreateShipToAddress'))" ng-click="addressform = true" tabindex="-1">
                         New Address
                     </button>
                </span>
                <div>
                    <loadingindicator ng-show="shippingUpdatingIndicator" title="Please wait while shipping costs are updated" />
                    <loadingindicator ng-show="shippingFetchIndicator" title="Please wait while available shippers are updated" />
                    <div>
                        <div ng-show="!shipToMultipleAddresses" class="view-form-icon">
                            <div ng-show="(addresses | filter:{IsShipping:true}).length > 0">
                                <label ng-class="{required: !shipToMultipleAddresses}" ng-show="currentOrder.ShipAddressID || !shipToMultipleAddresses">Shipping Address</label>
                                    <select class="form-control" name="shippingAddress"
                                            ng-change="setShipAddressAtOrderLevel()"
                                            ng-options="address.ID as address.AddressName for address in addresses | filter:{IsShipping:true}"
                                            ng-model="currentOrder.ShipAddressID"
                                            ng-required="!shipToMultipleAddresses">
                                    </select>
                                    <i class="fa fa-map-marker"></i>
                            </div>
                            <div ng-show="user.ShipMethod != null && shippers">
                                <label ng-class="{required: !shipToMultipleAddresses && user.ShipMethod != null}" ng-show="currentOrder.LineItems[0].ShipperName || !shipToMultipleAddresses && user.ShipMethod != null">Shipping Method</label>
                                <select class="form-control" ng-change="updateShipper()" name="shipMethod"
                                        ng-model="currentOrder.LineItems[0].ShipperName"
                                        ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown'"
                                        ng-options="shipper.Name as shipper.Name for shipper in shippers"
                                        ng-required="!shipToMultipleAddresses && user.ShipMethod != null" >
                                </select>
                                <i class="fa fa-truck"></i>
                            </div>
                        </div>
                        <div ng-show="!shipToMultipleAddresses && orderShipAddress.ID" class="check-out-view-selected-shipping" style="border: 1px solid #d6d6d6; padding: 15px; margin-top: 15px;">
                            <p style="font-size: 11px; font-weight: bold;">Shipping Location</p>
                            <p ng-show="orderShipAddress.AddressName"><small>{{orderShipAddress.AddressName}}</small></p>
                            <p ng-show="orderShipAddress.CompanyName"><small>{{orderShipAddress.CompanyName}}</small></p>
                            <p ng-show="(orderShipAddress.FirstName || orderShipAddress.LastName) && (!user.Permissions.contains('EditShipToName') && !orderShipAddress.IsCustEditable)">
                                <small>{{orderShipAddress.FirstName + ' ' + orderShipAddress.LastName}}</small>
                            </p>
                            <p ng-show="!shipToMultipleAddresses && user.Permissions.contains('EditShipToName') && (orderShipAddress && !orderShipAddress.IsCustEditable)">
                                <input class="input-sm" type="text" ng-model="currentOrder.LineItems[0].ShipFirstName" placeholder="First Name" />
                                <input class="input-sm" type="text" ng-model="currentOrder.LineItems[0].ShipLastName" placeholder="Last Name" />
                            </p>
                            <p ng-show="orderShipAddress.Street1"><small>{{orderShipAddress.Street1}}</small></p>
                            <p ng-show="orderShipAddress.Street2"><small>{{orderShipAddress.Street2}}</small></p>
                            <p ng-show="orderShipAddress.City || orderShipAddress.State || order.ShipAddress.Zip">
                                <small>{{orderShipAddress.City}}<span ng-if="orderShipAddress.City && currentOrderShipAddress.State">, </span> {{orderShipAddress.State}} {{orderShipAddress.Zip}}</small>
                            </p>
                            <p ng-show="orderShipAddress.Phone"><small>{{orderShipAddress.Phone}}</small></p>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div style="margin-top:15px;" ng-show="shipToMultipleAddresses">
                    <div class="check-out-view-multiple-shipping">
                        <div class="row view-form-icon" ng-class="{'ng-repeater-even-row': $even}" ng-repeat="item in currentOrder.LineItems">
                            <div class="col-xs-12 col-sm-4"><strong>{{item.Product.Name}}</strong><small>{{' x ' + item.Quantity}}</small><br/>
                                <span class="text-info">{{item.DateNeeded | date:'MM/dd/yyyy' }}</span></div>
                            <div class="col-xs-12 col-sm-4">
                                <label ng-class="{required: shipToMultipleAddresses}" ng-show="currentOrder.ShipAddressID || shipToMultipleAddresses">Shipping Address</label>
                                <select class="form-control" name="shippingAddress"
                                        ng-options="address.ID as address.AddressName for address in addresses | filter:{IsShipping:true}"
                                        ng-model="item.ShipAddressID"
                                        ng-required="shipToMultipleAddresses"
                                        ng-change="setShipAddressAtLineItem(item)">
                                </select>
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label ng-class="{required: shipToMultipleAddresses && user.ShipMethod != null}" ng-show="currentOrder.LineItems[0].ShipperName || shipToMultipleAddresses && user.ShipMethod != null">Shipping Method</label>
                                <select class="form-control" ng-change="updateShipper(item)"
                                        ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown'"
                                        ng-options="shipper.Name as shipper.Name for shipper in shippers | noliverates"
                                        ng-model="item.ShipperName"
                                        ng-required="shipToMultipleAddresses && user.ShipMethod != null" >
                                </select>
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="col-xs-12 col-sm-4" ng-show="user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable">
                                <span>Attn:</span>
                                <input class="input-sm" ng-required="shipToMultipleAddresses && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable" type="text" ng-model="item.ShipFirstName" placeholder="First Name" />
                                <input class="input-sm" ng-required="shipToMultipleAddresses && user.Permissions.contains('EditShipToName') && !ShipAddress.IsCustEditable" type="text" ng-model="item.ShipLastName" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <label ng-show="currentOrder.LineItems[0].ShipAccount">Ship Account: </label>
                <input class="form-control" ng-if="user.ShipMethod.AskForAccountNumber" placeholder="Shipping Account Number" type="text" ng-model="currentOrder.LineItems[0].ShipAccount" />
            </form>
        </div>
    </div>
</div>