<div class="panel panel-default panel-order">
    <div class="panel-heading" ng-class="{'no': cart_billing.$invalid, 'yes': !cart_billing.$invalid, 'open': checkOutSection == 'billing' }">
        <h3 ng-click="checkOutSection = 'billing'" class="panel-title">
            <i class="pull-left" ng-class="{'fa fa-warning': cart_billing.$invalid, 'fa fa-check-circle': !cart_billing.$invalid }"></i>
            {{'Billing' | r | xlat}}
            <i class="pull-right" ng-class="{'fa fa-caret-up': checkOutSection == 'billing', 'fa fa-caret-down': checkOutSection == 'shipping' || checkOutSection == 'order' }"></i>
        </h3>
    </div>
    <div collapse="checkOutSection != 'billing'" class="panel-body">
        <div>
            <billingmessage />
        </div>
        <div ng-show="billaddressform || (billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">
            <addressinput address='billaddress' user='user'></addressinput>
        </div>
        <div ng-hide="billaddressform || (billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">
            <form name="cart_billing" novalidate="">
                <div>
                    <paymentselector></paymentselector>
                    <div class="view-form-icon" ng-show="billaddresses.length > 0">
                        <div ng-class="{'view-form-select': !currentOrder.BillAddressID, '': currentOrder.BillAddressID }">
                            <label class="required">{{('Billing' | r) + ' ' + ('Address' | r) | xlat}}</label>
                            <select class="form-control" ng-show="billaddresses" name="billingAddress"
                                    ng-options="address.ID as address.AddressName for address in billaddresses | filter:{IsBilling:true}" ng-model="currentOrder.BillAddressID" required>
                                <option value=""></option>
                            </select>
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="order-location" ng-show="BillAddress">
                        <p><strong><small>{{('Billing' | r) + ' ' + ('Location' | r) | xlat}}</small></strong></p>
                        <p ng-show="BillAddress.AddressName"><small>{{BillAddress.AddressName}}</small></p>
                        <p ng-show="BillAddress.CompanyName"><small>{{BillAddress.CompanyName}}</small></p>
                        <p ng-show="(BillAddress.FirstName || BillAddress.LastName) && (!user.Permissions.contains('EditBillToName') && BillAddress.IsCustEditable)">
                            <small>{{BillAddress.FirstName + ' ' + BillAddress.LastName}}</small>
                        </p>
                        <div class="row" ng-show="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable">
                            <div class="col-sm-2">
                                <input class="form-control" ng-required="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable" type="text" ng-model="currentOrder.BillFirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" ng-required="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable" type="text" ng-model="currentOrder.BillLastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}"  />
                            </div>
                        </div>
                        <p ng-show="BillAddress.Street1"><small>{{BillAddress.Street1}}</small></p>
                        <p ng-show="BillAddress.Street2"><small>{{BillAddress.Street2}}</small></p>
                        <p ng-show="BillAddress.City || BillAddress.State || BillAddress.Zip"><small>{{BillAddress.City}}<span ng-if="ShipAddress.City && ShipAddress.State">, </span> {{BillAddress.State}} {{BillAddress.Zip}}</small></p>
                        <p ng-show="BillAddress.Phone"><small>{{BillAddress.Phone}}</small></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>