<p class="shipper" ng-if="allowShipperInput()">
    <input type="text" ng-if="user.ShipMethod.ShipperSelectionType == 'UserOpenField'" />
    <select ng-if="user.ShipMethod.ShipperSelectionType == 'UserDropDown'" ng-model="order.Shipper"
            ng-options="(shipper.ShippingRate == null ? shipper.Name : shipper.ShippingRate.Description) for shipper in shippers" />
</p>

<p class="account" ng-if="user.ShipMethod.AskForAccountNumber">
    <input placeholder="Shipping Account Number" type="text" ng-model="order.LineItems[0].ShipAccount" />
</p>
