<div ng-if="user.ShipMethod.ShipperSelectionType == 'UserDropDown'" class="animated fadeInDown">
    <hr />
    <div ng-repeat="shipper in Shippers" class="animated fadeInDown">
        <button class="btn btn-default" ng-click="setShipper(shipper)">
            <span class="icon" ng-class="{'icon-ok': currentOrder.LineItems[0].ShipperName == shipper.Name }"><i></i></span>
            {{shipper.Name}}
        </button>
    </div>
    <input type='text' ng-required="Shippers.length > 0" ng-model='currentOrder.LineItems[0].ShipperName' style='display: none;' />
</div>
<input ng-if="user.ShipMethod.AskForAccountNumber" placeholder="Shipping Account Number" type="text" ng-model="currentOrder.LineItems[0].ShipAccount" />
