<div class="451qa_prod_item row" ng-swipe-left="showSwipe = true">
    <div class="col-sm-4 text-center">
        <a class="thumbnail" href="product/{{LineItem.Product.InteropID}}">
            <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
            <div class="btn btn-default">
                {{('View' | r) + ' ' + ('Product' | r) | xlat}}
            </div>
        </a>
    </div>
    <div class="col-sm-8 text-left">
        <div class="panel-body">
            <h3>{{LineItem.Product.Name}}
                <small class="pull-right text-info">{{LineItem.Product.ExternalID}}</small>
            </h3>
            <p ng-bind-html="trustedDescription(LineItem.Product)" ng-show="LineItem.Product.Description" />
            <section class="hidden-xs hidden-sm panel-body">
                <p ng-show="LineItem.PriceSchedule.PriceBreaks[0]" ng-if="!(user.Permissions.contains('HidePricing'))">
                    {{LineItem.PriceSchedule.PriceBreaks[0].Quantity}}
                    <span ng-show="LineItem.Product.QuantityMultiplier > 1">(x {{LineItem.Product.QuantityMultiplier}})</span>
                    {{'for' | xlat}} {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
                </p>
                <p ng-show="LineItem.Product.UnitOfMeasure">
                    {{'Unit of Measure' | r | xlat}}: {{LineItem.Product.UnitOfMeasure}}
                </p>

                <p ng-show="LineItem.Product.DisplayInventory && inventoryDisplay(LineItem.Product, LineItem.Variant) != undefined">
                    {{'Quantity Available' | r | xlat}}: {{inventoryDisplay(LineItem.Product, LineItem.Variant) }}
                </p>
            </section>
        </div>
    </div>
    <section class="hidden-lg hidden-md" ng-show="showSwipe" ng-swipe-right="showSwipe = false">
        <div class="shortproduct-info panel-body text-center">
            <p ng-show="LineItem.PriceSchedule.PriceBreaks[0]" ng-if="!(user.Permissions.contains('HidePricing'))">
                {{LineItem.PriceSchedule.PriceBreaks[0].Quantity}}
                <span ng-show="LineItem.Product.QuantityMultiplier > 1">(x {{LineItem.Product.QuantityMultiplier}})</span>
                {{'for' | xlat}} {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
            </p>
            <p ng-show="LineItem.Product.UnitOfMeasure">
                {{'Unit of Measure' | r | xlat}}: {{LineItem.Product.UnitOfMeasure}}
            </p>
            <p ng-show="inventoryDisplay(LineItem.Product, LineItem.Variant)">
                {{'Quantity Available' | r | xlat}}: {{inventoryDisplay(LineItem.Product, LineItem.Variant) }}
            </p>
            <button class="btn btn-default" redirect="product/{{LineItem.Product.InteropID}}">
                {{('View' | r) + ' ' + ('Product' | r) | xlat}}
            </button>
        </div>
    </section>
</div>