<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Specifications
            </h3>
        </div>
        <div class="panel-body">
            <div id="451_list_specgroup" class="view-tr">
                <div class="row" ng-repeat="sg in specgroups">
                    <div class="col-xs-12 text-center" ng-show="hasvisiblechild(sg.Specs)" class="451_hdr_spec_grp">{{sg.Name}}</div>
                    <div ng-show="s.VisibleToCustomer" ng-repeat="s in sg.Specs">
                        <div class="col-xs-6">{{s.Name}}</div>
                        <div class="col-xs-6" ng-if="s.FileURL" ><a href={{s.FileURL}}>{{s.Value}}</a></div>
                        <div class="col-xs-6" ng-if="!s.FileURL">{{s.Value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>