<div ng-show="specgroups">
    <p class="text-info">Specifications</p>

    <table border=1 id="451_list_specgroup" style="margin: 10px;">
        <tbody ng-repeat="sg in specgroups">
        <tr ng-show="hasvisiblechild(sg.Specs)" class="alert-info 451_hdr_spec_grp">
            <td colspan=2>{{sg.Name}}</td>
        </tr>
        <tr ng-show="s.VisibleToCustomer" ng-repeat="s in sg.Specs">
            <td>{{s.Name}}</td>
            <td ng-if="s.FileURL"><a href={{s.FileURL}}>{{s.Value}}</a></td>
            <td ng-if="!s.FileURL">{{s.Value}}</td>
        </tr>
        </tbody>
    </table>
</div>