<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Variants
        </h3>
    </div>
    <div class="panel-body">
        <div class="row" ng-repeat="v in LineItem.Product.Variants">
            <a href=#/product/{{LineItem.Product.ViewName}}/{{LineItem.Product.InteropID}}/{{v.InteropID}} class="text-info">{{v.ExternalID}}</a>
            <div class="pull-right" ng-if="allowAddFromVariantList">
                <quantityfield calculated="calcVariantLineItems" lineitem="variantLineItems[v.InteropID]" class="quantity" /> {{variantLineItems[v.InteropID].qtyError}} {{variantLineItems[v.InteropID].LineTotal | currency}}
            </div>
            <div ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
                <div ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
                    {{v.QuantityAvailable + ' in stock'}}
                </div>
            </div>
            <div ng-show="v.Description">
                <div>
                    {{v.Description}}
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>