<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{'Variants' | r | xlat}}
        </h3>
    </div>
    <div id="451qa_list_variants" class="panel-body">
        <div class="row" ng-repeat="v in LineItem.Product.Variants">
            <a ng-href="product/{{LineItem.Product.InteropID}}/{{v.InteropID}}" class="text-info">{{v.ExternalID}}</a>
            <div class="pull-right view-form-icon" ng-if="allowAddFromVariantList">
                <quantityfield calculated="calcVariantLineItems" lineitem="variantLineItems[v.InteropID]" class="quantity" />
                {{variantLineItems[v.InteropID].qtyError}} {{variantLineItems[v.InteropID].LineTotal | culturecurrency}}
            </div>
            <div ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
                {{v.QuantityAvailable}} {{'in stock'}}
            </div>
            <div ng-show="v.Description">
                {{v.Description}}
            </div>
            <hr/>
        </div>
    </div>
</div>