<h4>
	Please select from the following:
</h4>
<div class="451_list_vars view-tr">
	<h5 class="text-info">Variant ID</h5>
	<div class="row" ng-repeat="v in LineItem.Product.Variants">
		<div class="col-xs-12">
			<a href=#/product/{{LineItem.Product.ViewName}}/{{LineItem.Product.InteropID}}/{{v.InteropID}} style="text-decoration: underline;">{{v.ExternalID}}</a>
			<div ng-if="allowAddFromVariantList">
				<quantityfield calculated="calcVariantLineItems" lineitem="variantLineItems[v.InteropID]" error="quantityError" class="quantity" /> {{quantityError}} {{variantLineItems[v.InteropID].LineTotal | currency}}
			</div>

		</div>
		<div class="col-xs-12" ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
			<div ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">
				<h5 class="text-info">Available Quantity:</h5> {{v.QuantityAvailable}}
			</div>
		</div>
		<div class="col-xs-12" ng-show="v.Description">
			<div>
				{{v.Description}}
			</div>
		</div>
	</div>
</div>