//
// Navs
// --------------------------------------------------

//== Side Nav
.panel-nav {
  &:extend(.panel-default all);

  font-size: 13px;
  .panel-body {

    .btn {
      &:first-of-type {
        margin-bottom: 10px;
      }
    }

    ul {
      li {
        float: left;
        display: block;
        width: 100%;
        a {
          width: 100%;
          padding: 3px 0;
        }
      }
    }

    .nav {
      border-top: 1px solid @panel-default-border;
      &:first-of-type {
        border-top: none;
      }
      a {
        font-weight: 700;
      }
      li:first-child {
        a {
          border-top: 1px dashed @panel-default-border;
        }
      }

      .nav {
        border-top: none;
        a {
          font-weight: inherit;
          color: @text-color;
        }
        li {padding: 0 10px;}

        .nav {
          a {
            border-top: none;
          }
        }
      }
    }
  }
}