<div class="panel panel-default" ng-show="currentCategory.SubCategories.length">
    <div class="panel-heading" >
        <h3 class="panel-title" >
            {{'Categories' | r | xlat}}
        </h3>
    </div>
    <div class="panel-category-list">
        <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
        <nav class="nav 451_lbl_subcatlist">
            <ul>
                <li class="col-xs-12" ng-repeat="c in currentCategory.SubCategories">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4 col-sm-3">
                                <div class="well image-bg dark rows" style="background-image:url({{c.Image.URL}});">
                                    <a ng-href="catalog/{{c.InteropID}}">
                                        <h4 ng-bind-html="c.Name" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                <a ng-href="catalog/{{c.InteropID}}">
                                    <div class="description text-left">
                                        <h5>{{'Description' | r | xlat}}</h5>
                                        <p ng-bind-html="trusted(c.Description)"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>