.order-cloud .form-signin {
    max-width: 26em;
    padding: 1em 1em 2em;
    margin: 2em auto;
    background: rgba(0,45,86,.5);
    box-shadow: 1px 1px 1px rgba(216,241,251,.15);
}

.order-cloud .form-signin .btn-primary {
    margin-bottom: 0px;
}

.order-cloud .form-signin {
    max-width: 26em;
    padding: 1em 1em 1em;
    margin: 2em auto;
    background: rgba(255, 255, 255, .75);
    box-shadow: 1px 1px 1px rgba(216,241,251,.15);
}