
<div class="container-fluid view-partial">

<img id="451_img_prod_lg" ng-src="{{LineItem.Variant.LargeImageFile.Url || LineItem.Product.LargeImageFile.Url}}" ng-show="LineItem.Variant.LargeImageFile.Url || LineItem.Product.LargeImageFile.Url">

<br />

    <div style="border: 1px solid #d6d6d6; width: 600px; float: left;">
        <h4 style="background-color:#6d6d6d; color:#fff;floaT: left; display: inline;width: 50%; padding: 10px 25px; margin: 0;">Information</h4>
        <h4 style="background-color:#444; color:#fff;float: left; width: 50%;display: inline;padding: 10px 25px; margin: 0;">Tech Specs</h4>
        <table id="451_area_prod_desc" border=1>

            <tr><td>Description:</td><td><span ng-bind-html-unsafe="LineItem.Product.Description"/></td></tr>

            <tr ng-show="LineItem.Variant.Description"><td>variant description:</td><td><span ng-bind-html-unsafe="LineItem.Variant.Description"/></td></tr>
            <tr ng-show="LineItem.Variant.ExternalID"><td>variant id:</td><td>{{LineItem.Variant.ExternalID}}</td></tr>
            <tr ng-show="inventoryDisplay(LineItem.Product, LineItem.Variant)"><td>available inventory</td><td>{{inventoryDisplay(LineItem.Product, LineItem.Variant) }}</td></tr>
            </span>
        </table>
        <br />

    </div>
    <div style="float: right; width: 300px; ">
       <div style="border-bottom: 1px solid #d6d6d6; margin: 10px 0; padding: 0 0 10px;">
        <h4>{{LineItem.Product.Name}}</h4>
        <h5>Model {{LineItem.Product.ExternalID}}</h5>


           <priceScheduleTable ps='LineItem.PriceSchedule' p='LineItem.Product' />


       </div>
        <div style="border-bottom: 1px solid #d6d6d6; margin: 10px 0;">
        <form name="addToOrderForm" ng-show="allowAddToOrder">
            <table id="451_list_vspec" border=1 ng-show="true">
                <tr ng-repeat="s in LineItem.Specs | onproperty:[{Property: 'CanSetForLineItem', Value: true}, {Property: 'DefinesVariant', Value: true}]">
                    <td>{{s.Name}}<span ng-show="s.Required" style="color:red"> *</span> </td>
                    <td>{{s.Prefix}}<vspecfield changed="specChanged" s="s"></vspecfield>{{s.Suffix}}</td>
                </tr>
            </table>
            <br>
           <p style="float: left;"> QTY: {{LineItem.LineTotal | currency}}
            <quantityfield lineitem="LineItem" error="quantityError" class="test"/><span ng-show="quantityError">{{quantityError}}</span></p>
           <div style=" display: inline;float: right;">
            <button id="451_btn_orderadd" ng-disabled="addToOrderForm.$invalid" ng-click="addToOrder(LineItem)">Add to Cart</button></div>
            <br>
    <span ng-show="LineItem.PriceSchedule.MinQuantity > 1">
        min: {{LineItem.PriceSchedule.MinQuantity}}<br/>
    </span>
    <span ng-show="LineItem.PriceSchedule.MaxQuantity">
        max: {{LineItem.PriceSchedule.MaxQuantity}}<br/>
    </span>
        </form>
            </div>
        <div style="border: 1px solid #d6d6d6; height: 200px; ">
            <h4 style="background-color:#f5f5f5; font-size: 14px;color:#444; border-bottom: 1px solid #d6d6d6;padding: 10px 25px; margin: 0;">Related Products</h4>
        </div>
        <div style="border: 1px solid #d6d6d6; height: 200px;"></div>
    </div>





<span ng-show="LineItem.Product.Variants.length > 1 && !LineItem.Variant"><b>Please select from the following:</b><br>
    <table border=1 class="451_list_vars">
		<tr>
			<td>Variant ID</td>
			<td>Description</td>
			<td ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">Available Quantity</td>
			<td>Order Quantity</td>
		</tr>
		<tr ng-repeat="v in LineItem.Product.Variants">
			<td><a href=#/product/{{LineItem.Product.ViewName}}/{{LineItem.Product.InteropID}}/{{v.InteropID}}>{{v.ExternalID}}</a></td>
			<td>{{v.Description}}</td>
			<td ng-show="LineItem.Product.DisplayInventory && LineItem.Product.IsVariantLevelInventory">{{v.QuantityAvailable}}</td>
			<td>Order Quantity</td>
		</tr>
	</table>
</span>




<staticspecstable specgroups="StaticSpecGroups"></staticspecstable>

<span ng-show="LineItem.LineTotal">
	<hr>
	Line item total debug:
	<br>
	variant specs:
	<ul>
		<li ng-repeat="s in LineItem.Variant.Specs">{{s.Name}}: {{s.Value}}, markup: {{s.MarkupType}}</li>
	</ul>
	product specs:
	<ul>
		<li ng-repeat="s in LineItem.Product.Specs">{{s.Name}}: {{s.Value}}, markup: {{s.MarkupType}}</li>
	</ul>
</span>


<br />
</div>
