// Breakpoints
@media (max-width: @screen-xs-max) {
  // style these form fields consistent
  textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea, select {
    border: 1px solid #555;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #fff;
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
    -moz-appearance: none;
    -moz-appearance: 1px 1px 1px #fff;
    -moz-appearance: 0.5em;
    appearance: none;
    appearance: 1px 1px 1px #fff;
    appearance: 0.5em;
  }

  // block these buttons for minimum target size for touch
  .panel-footer {
    .btn {
      width: 100%;
      padding: 15px;
      margin: 2px;
    }
  }
  .btn-group {
    width: 100%;
    vertical-align: inherit;
    .btn {
      width: 100%;
      padding: 15px;
      margin: 2px;
    }
  }

  // center branding
  .jumbotron {
    text-align: center;
  }

  // minimum target size for touch
  .breadcrumb li {
    display: block;
    a {
      padding: 15px;
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  // center branding
  .jumbotron {
    text-align: center;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  // code
}

@media (min-width: @screen-lg-min){
  // code
}