// Breakpoints
@media (max-width: @screen-xs-max) {
  // form fields finger sized
  input, textarea, select, button {
    min-height: 45px;
  }
  // style form fields to look like the others on phone
  textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea, select {
    border: 1px solid #555;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #fff;
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
    -moz-appearance: none;
    -moz-appearance: 1px 1px 1px #fff;
    -moz-appearance: 0.5em;
    appearance: none;
    appearance: 1px 1px 1px #fff;
    appearance: 0.5em;
  }

  .view-order-last-count {width: 100%;}
  .btn-group {width: 100%;vertical-align: inherit; }
  .btn-group .btn {width: 100%;padding: 15px;margin: 2px;}
  .current-cat-name {width: 215px;}
  .navbar-collapse {padding: 0;}
  .navbar-left li.products a {padding: 15px 20px 15px 10px;}
  .navbar-right li.cart a {padding: 15px 10px 15px 15px;}
  .cart-view-btn-continue {width: 100%;margin-top: 10px;}
  .panel-footer .btn-group {width: 100%;}
  .cart-view-line-items-repeater div.col-xs-3 { text-align:center; }
  .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {}
  .branding-view {text-align: center;}
  .branding-view-logo {float: none; margin: 0 auto 10px; max-height: 75px; }
  .caption {margin: 5px;}
  .credit-card-cvn-input{
    padding-top:15px;
  }
  .view-variant-list li {margin-bottom: 15px !important;}
  .copyright-view {float: none; margin: 15px auto;}

  .view-form-icon  i {
    top: 15px;
  }
  .crumbs ul {
    width: 100%;
  }

  .crumbs ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .crumbs ul li a {
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
    text-align: center;
    display: block;
    border: 1px solid #ccc;
  }
  .crumbs ul li a:after {
    display: none;
  }

  .crumbs ul li a:before {
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    position: absolute;
    bottom: 0;
    left: 45%;
    top: -22px;
  }

  .crumbs ul li:first-child a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .crumbs ul li:last-child a {
    padding-bottom: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 0;
  }
  .container-content .container {padding: 0 5px;}
  .address-input-view .panel-footer .btn {display: block; width: 100%;margin: 5px 0;}
  .cart-view-line-items-product {border-left: none;}
  .panel-footer .btn-primary {width: 100%; display: block; margin: 5px 0;}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  // form fields finger sized
  input, textarea, select, button {
    min-height: 45px;
  }
  .jumbotron {
    text-align: center;
    img {
      float: none;
      margin: 0 auto 10px;
      max-height: 75px;
    }
  }

  // because form fields are finger sized :: need to reposition icon
  .view-form-icon  i {
    top: 15px;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  // code
}

@media (min-width: @screen-lg-min){
  // code
}