// Core bootstrap mixins

// Scaffolding
html {
  overflow-y: scroll;
}

body {
  font-smooth:always;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  margin-bottom: 100px;
  overflow: hidden;
}

// ie needs this help to keep scroll bar from overlapping content
@-ms-viewport{
  width: auto !important;
}

/* iOS placeholder needs help to disappear on focus */
:focus::-webkit-input-placeholder{
  color:transparent;
}

hr {
  clear: both;
}

img {
  display: block;
}

div {
  position: relative;
}

a {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// Buttons
.btn-group {
  width: 100%;
}

.btn {
  position: relative;
  &,
  &:hover,
  &:focus {
    -webkit-transition: all ease-in-out .5s;
    -moz-transition:    all ease-in-out .5s;
    -ms-transition:     all ease-in-out .5s;
    -o-transition:      all ease-in-out .5s;
    transition:         all ease-in-out .5s;
  }

  &.btn-primary {
    text-transform: uppercase;
  }
}

// Forms
label {
  top: -20px;
  font-size: 11px;
  position: absolute;
  display: block;
  &.required {
    color: red;
  }
}

option {
  color: #555;
}

textarea {
  resize: vertical;
  width: 100%;
  line-height: 150%;
}

input[type="file"]{
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  opacity:  0;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

.form-control {
  margin-top: 0;
  &:focus {
    box-shadow: none;
  }
}

// Form dropdown select placeholder
.view-form-select:before {
  content: "Select";
  position: absolute;
  left: 25px;
  top: 9px;
  color:#999;
  pointer-events:none;
}

.col-sm-4.view-form-select:before {
  left: 45px;
}

// Form field icons
.view-form-icon {
  // Make room for labels
  div {
    margin: 25px 0 0;
  }

  // Make room for icons
  input,
  select,
  text,
  textarea {
    padding-left: 25px;
  }

  // Icons
  i {
    color: #CCC;
    left: 10px;
    position: absolute;
    top: 10px;
  }
}

// Navbar
.navbar-nav {
  margin: 0 -5px;
  &.pull-left {
  // cowboy up the icons on phone
  li {
    display: inline-block;
    float: left;
      a {
        padding: @nav-link-padding;
        span {
          margin-left: 5px;
        }
      }
    // dropdown children on desktop
    ul li {
      width: 100%;
        a {
          padding: 10px 20px;
        }
      }
    }
  }

  &.pull-right {
    // cart icon
    li a {
      padding: 20px;
      .fa-shopping-cart {
        border-radius: 50%;
        border: 1px solid #fff;
        text-align:center;
        padding: 10px;
        margin-top: -5px;
      }
      // cart active arrow
      .fa-caret-down {
        position: absolute;
        bottom: -20px;
        right: 35%;
        font-size: 32px;
        color:#359FD5;
        z-index: 5;
      }
    }
  }
}

.navbar-fixed-top {
  -webkit-animation-duration:   1s;
  -moz-animation-duration:      1s;
  -o-animation-duration:        1s;
  animation-duration:           1s;
  -ms-animation-duration:       1s;
  -webkit-animation-fill-mode:  both;
  -moz-animation-fill-mode:     both;
  -o-animation-fill-mode:       both;
  animation-fill-mode:          both;
  -ms-animation-fill-mode:      both;
  -webkit-animation-name:       fadeInDown;
  -moz-animation-name:          fadeInDown;
  -o-animation-name:            fadeInDown;
  animation-name:               fadeInDown;
  -ms-animation-name:           fadeInDown;
}

.navbar-fixed-bottom {
  -webkit-animation-duration:   1s;
  -moz-animation-duration:      1s;
  -o-animation-duration:        1s;
  animation-duration:           1s;
  -ms-animation-duration:       1s;
  -webkit-animation-fill-mode:  both;
  -moz-animation-fill-mode:     both;
  -o-animation-fill-mode:       both;
  animation-fill-mode:          both;
  -ms-animation-fill-mode:      both;
  -webkit-animation-name:       fadeInUp;
  -moz-animation-name:          fadeInUp;
  -o-animation-name:            fadeInUp;
  animation-name:               fadeInUp;
  -ms-animation-name:           fadeInUp;
}

// Navbar-fixed-bottom messaging + buttons
.navbar-fixed-bottom {
  text-align: center;
  z-index: 999999999;
  ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    clear: both;
    overflow: hidden;
    li {
      display: inline-block;
      float: left;
      &:nth-of-type(1) {
        width: 25%;
        .btn {
          font-size: @font-size-small;
        }
      }
      &:nth-of-type(2) {
        width: 25%;
        .btn {
          font-size: @font-size-small;
        }
      }
      &:last-child {
        width: 50%;
        .btn  {
          text-transform: uppercase;
        }
      }
      .btn {
        width: 100%;
        height: @navbar-height;
        border: none;
        border-radius: 0;
        padding: 20px 0;
        text-transform: lowercase;
        font-size: 14px;
      }
      .btn-warning[disabled] {
        opacity: 1;
      }
    }
  }
  // Notification messaging
  .view-response-message {
    &.ng-hide-add {
      display:block !important;
      padding: 15px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      opacity: .9;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -o-animation-duration: 1;
      animation-duration: 1s;
      animation-delay: 3s;
      -webkit-animation-delay:3s;
      -moz-animation-delay: 3s;
      -o-animation-delay: 3s;
      -ms-animation-delay: 3s;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeOutDown;
      -moz-animation-name: fadeOutDown;
      -o-animation-name: fadeOutDown;
      animation-name: fadeOutDown;
    }

    &.ng-hide-add.ng-hide-add-active {
      opacity: 1;
    }

    &.ng-hide-remove {
      display:block !important;
      opacity: 0;
    }

    &.ng-hide-remove.ng-hide-remove-active {
      opacity: 1;
    }
  }

  // Error messaging
  .view-error-message {
    ul.alert-warning {
      border-top: 1px solid #fff;
      opacity: .9;
      margin: 0;
      padding: 0;
      li {
        padding: 15px;
        display: block;
        &:nth-of-type(1) {
          width: 16.6667%;
          .badge {
            font-size: 11px;
            line-height: normal;
            background-color:@brand-danger;
            i {
              font-size: 14px;
            }
          }
        }
        &:nth-of-type(2) {
          width: 66.6667%;
          ul li {
            text-align: center;
            width: 100%;
            padding: 0;
          }
        }
        &:nth-of-type(3) {
          width: 16.6667%;
          a {
            display: block;
            i {
              width: 100%;
              height: 100%;
            }

          }
        }
        ul {
          // display all errors :: class injected by angular ng-click
          &.two li {
            display: none;
          }
          // display first error
          li:first-child {
            display: block;
          }
        }
      }
    }
  }
}

// Navs
.nav {
  // content nav
  ul  {
    list-style-type: none;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      float: left;
      padding: 0;
      span.text-primary {
        display: inline-block;
        margin-top: 15px;
        font-size: 1em;
        font-weight: bold;
      }

      // content nav icons
      span i {
        font-size: 18px;
        padding: 15px 20px;
        cursor: pointer;
      }
    }
  }
}

.navbar .nav a {
  -webkit-transition: all ease-in-out .2s;
  -moz-transition:    all ease-in-out .2s;
  -ms-transition:     all ease-in-out .2s;
  -o-transition:      all ease-in-out .2s;
  transition:         all ease-in-out .2s;
}

.navbar-nav > li > a {
  height: 60px;
}

// Jumbotron
.jumbotron {
  // because we removed navbar margin bottom, bump jumbotron up and hide/show only on products::home page
  margin: -20px 0 0;
  display: none;
  &.active {
    display: block;
  }

  img {
    max-height: 130px;
    float: left;
  }
}

// Panels
.panel {
  word-wrap: break-word;
  &.panel-primary {
    p span {
      float: left;
    }
    .panel-footer {
      background-color: transparent;
    }
  }
  .panel-heading {
    margin-top: 2px;
    padding: 0;
    .panel-title {
      letter-spacing: 0.08em;
      font-size: ceil((@font-size-base * 1));
      padding: 20px 30px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .panel-body {
    // product quantity box
    .quantity input {
      height: 52px;
      outline: 0 none;
      padding: .5em 0;
      text-align: center;
      width: 100%;
      margin: 0;
      border-radius: 0;
      font-size: 24px;
      color:#468847;
      box-shadow: none;
    }
    // panel-footer in a panel-body is not like the others
    .panel-footer {
      margin: 0 -20px -15px;
    }
  }
  .panel-footer {
    clear: both;
    overflow: hidden;
    padding: 20px 15px;
  }
}

// Wells
.well {
  border: none;
  -webkit-border-radius:  0;
  -moz-border-radius:     0;
  -o-border-radius:       0;
  -ms-border-radius:      0;
  border-radius:          0;
  margin-bottom:          0;
  min-height:             0;
}


// Addresses
.address-input-view {
  // create address type labels are not like the others
  .create-address-type label {
    position: static;
    display: block;
  }
}


// Animations
// login button
@-webkit-keyframes pulsate
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

// angular enter | leave
@-webkit-keyframes view-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes view-enter {
  0% {
    opacity: 0;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes view-enter {
  0% {
    opacity: 0;
    -o-transform: translateY(0);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes view-enter {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ng-enter {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -webkit-animation-name: view-enter;
  -moz-animation-name: view-enter;
  -o-animation-name: view-enter;
  animation-name: view-enter;
  -ms-animation-name: view-enter;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  opacity: 0;
}

.ng-leave-active {
  opacity: 0;
}

// desktop side nav
.category-view-aside-add {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.category-view-aside-add-active {
  opacity: 1;
}

.category-view-aside-remove {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

.category-view-aside-remove-active{
  opacity: 0;
}

@-moz-keyframes cat-body-move-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes cat-body-move-right {
  0% {
    opacity: 0;
    -o-transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes cat-body-move-right {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.move-cat-body-add {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  aniamtion-delay: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: cat-body-move-right;
  -moz-animation-name: cat-body-move-right;
  -o-animation-name: cat-body-move-right;
  animation-name: cat-body-move-right;

}

.move-cat-body-add-active {
  opacity: 1;
}

@-webkit-keyframes cat-body-move-left {
  0% {
    opacity: 1;
    -webkit-transform: translateX(25%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cat-body-move-left {
  0% {
    opacity: 1;
    -moz-transform: translateX(25%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes cat-body-move-left {
  0% {
    opacity: 1;
    -o-transform: translateX(25%);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes cat-body-move-left {
  0% {
    opacity: 1;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.move-cat-body-remove {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: cat-body-move-left;
  -moz-animation-name: cat-body-move-left;
  -o-animation-name: cat-body-move-left;
  animation-name: cat-body-move-left;

}

.move-cat-body-remove-active{
  opacity: 1;
}

// spinner
@-webkit-keyframes rockstep {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rockstep {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rockstep {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}

@keyframes rockstep {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}


.check-out-view .panel-body.ng-hide-remove {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;

}

