// Orders
.panel {
  margin-bottom: 0;
  border-bottom: none;

  // panel validation icons
  .panel-heading {
    cursor: pointer;
    i:first-of-type {
      font-size: ceil((@font-size-base * 1.7));
    }
    &.yes i:first-of-type {
      color:@brand-success;
    }
    &.no i:first-of-type {
      color:@brand-warning;
    }
  }
  // hide unnecessary html in new address form from checkout include
  .address-input-view {
    .create-address-type {
      display: none;
    }
    .panel-footer {
      .btn-danger {
        display: none;
      }
    }
  }
}