// Orders
.panel-orders {
  margin-bottom: 0;
  border-bottom: none;
  // panel validation icons
  .panel-heading {
    cursor: pointer;
    i:first-of-type {
      font-size: ceil((@font-size-base * 1.7));
    }
    &.yes i:first-of-type {
      color:@brand-success;
    }
    &.no i:first-of-type {
      color:@brand-warning;
    }
  }

  // Animate orders content
  .panel-body.ng-hide-remove {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
  }

  // Hide unnecessary html in new address form from checkout include
  .address-input-view {
    .create-address-type {
      display: none;
    }
    .panel-footer {
      .btn-danger {
        display: none;
      }
    }
  }
}

// Miscellaneous
.order-history-summary-view {
  padding: 15px;
  border: 1px solid #d6d6d6;
}

.order-history-view-line-items-repeater {
  border-bottom: 1px solid #d6d6d6;
  padding-top: 10px;
}


.order-types ul {
  list-style-type: none;
}

// fake table :: going away
.view-table-row {
  border-bottom: 1px solid #d6d6d6;
  padding: 5px 0;
}

.view-table-row.panel-body {
  padding: 10px;
}

.view-table-row span {
  display: inline;
  float: left;
  width: 50%;
}

.view-order-last-count {
  padding: 0 10px 10px;
  border: 1px solid #d6d6d6;
}

.view-order-last-count p {
  padding-top: 5px;
  margin-right: 5px;
}