// Howdy Bootstrap

// Colors
@brand-primary: #3D3D3D;

// Scaffolding
@body-bg: #F0F0F0;

// Typography
@font-size-base: 14px;
@font-family-sans-serif: 'Droid Sans', sans-serif;
@headings-font-family: 'Lato', sans-serif;
@font-size-small: ceil((@font-size-base * 0.90));

// Dropdowns
@dropdown-link-hover-bg:    #359FD5;
@dropdown-link-hover-color: #fff;

// Grid system
@grid-gutter-width: 10px;

// Container sizes
@container-tablet:        100%;
@container-desktop:       100%;
@container-large-desktop: 100%;

// Navbar
@navbar-default-bg:                 #50acdb;
@navbar-default-link-color:         #fff;
@navbar-default-link-hover-color:   #fff;
@navbar-default-link-active-color:  #fff;
@navbar-border-radius:              0;
@navbar-height:                     60px;

// Navs
@nav-link-padding: 20px;

// Jumbotron
@jumbotron-bg:      #fff;
@jumbotron-padding: 15px;

// Panels
@panel-default-border: #d6d6d6;
@panel-border-radius:   0;
@panel-primary-border:  @panel-default-border;

// Thumbnails
@thumbnail-bg: transparent;
@thumbnail-border: none;

// Wells
@well-border: none;

// Badges
@badge-bg: #3d3d3d;

// Miscellaneous
@hr-border: #fff;

// Howdy 451
@fourfiveone-login-bg: url(~"../images/orderCloud.jpg") no-repeat center center fixed;





